<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>주문 조회</title>
</head>
<body>
<div layout:fragment="content">
	<!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">영업 관리 /</span> 거래처 조회</h4>

              <div class="card mb-4">
                <h5 class="card-header">거래처 목록</h5>
                <div class="card-body">
                  <div class="row">
                  
                    <!-- Basic List group -->
                    <!-- 주문목록 -->
                    
                    
                    
                    
                    
                   </div>
                </div>
              </div>
            </div>
          </div>
</div>
</body>
</html>