<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/index}">

<head>
  <meta charset="UTF-8">
  <title>제품 폐기</title>
  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
  <div layout:fragment="content">
    <!-- Content wrapper -->
    <div class="content-wrapper">
      <!-- Content -->


      <div class="container-xxl flex-grow-1 container-p-y">
        <div class="nav-item d-flex align-items-center pagetitle">
		<div class="mt-3 mb-3 ">
			<div class="mt-3">
		    	<h3 class="fw-bold"><span class="text-muted fw-light">영업 관리 /</span> 제품 폐기 관리</h3>
		    </div>
	    </div>
	</div>

        <div class="card mb-4">
          <h5 class="card-header">주문 검색</h5>
          <div class="card-body">


            <form id="discPdCondition">

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-name">제품</label>
                <div class="col-sm-10">

                  <div class="btn-group">
                    <select id="pdCdSelect" class="form-select">
                      <option value="">전체</option>
                      <option value="PET01">에티오피아 G1 예가체프 첼바</option>
                      <option value="PBR01">브라질 홀빈 로스팅 세하도 커피 원두</option>
                      <option value="PCB01">콜롬비아 수프리모 후일라 싱글오리진 로스팅원두커피</option>
                      <option value="PPR01">프리미엄 페루 싱글오리진 찬차마요 원두 커피</option>
                      <option value="PCT01">코스타리카 따라주 로스팅 원두커피 홀빈 싱글오리진</option>
                    </select>
                  </div>                      

                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-company">일자</label>
                <div class="col-sm-10">
                  <!-- <div class="mt-3"> -->
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-secondary" id="makePeriodBtn">직접설정</button>
                    <button type="button" class="btn btn-outline-secondary" id="todayBtn">금일</button>
                    <button type="button" class="btn btn-outline-secondary" id="thisWeek">금주</button>
                    <button type="button" class="btn btn-outline-secondary" id="prevWeek">전주</button>
                    <button type="button" class="btn btn-outline-secondary" id="thisMonth">금월</button>
                    <button type="button" class="btn btn-outline-secondary" id="prevMonth">전월</button>
                    <!-- </div> -->
                  </div>
                </div>
              </div>

              <div class="row" style="display: none;" id="makePeriod">
              <div class="mb-3 row col-md-6">
                <label for="html5-date-input" class="col-md-3 col-form-label">주문일</label>
                <div class="col-md-9">
                  <input class="form-control" type="date" id="minOdDt" value="">
                </div>
              </div>
              <div class="mb-3 row col-md-6">
                <label for="html5-date-input" class="col-md-1 col-form-label">~</label>
                <div class="col-md-9">
                  <input class="form-control" type="date" id="maxOdDt">
                </div>
              </div>
            </div>

              <div class="mb-3 row">
                <label for="html5-search-input" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <div class="form-check form-check-inline mt-3">
                        <input class="form-check-input" type="checkbox" id="discChart" name="odSt">
                        <label class="form-check-label" for="inlineCheckbox1">그래프로 보기</label>
                    </div>
                </div>
              </div>

              <div class="row justify-content-end">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">조회</button>
                </div>
              </div>
            </form>


          </div>

          
        </div>



        <div>

          <!-- 폐기 목록 그리드 -->
          <div id="discardTable" class="mb-3">

          </div>
          <!-- 폐기 목록 차트 -->

          <!--Div that will hold the pie chart-->
          <div id="discardChart" style="display: none;">
            차트닷
          </div>

        </div>


      </div>
      <!-- / Content -->




    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      let condition = {};
      let period = '';

      const chartData = [];
      //const chartRes = '';

      // 1금일 2금주 3전주 4금월 5전월 6직접설정
      makePeriodBtn.addEventListener("click", e => {
        let thisDiv = document.getElementById("makePeriod");
        if (thisDiv.style.display == 'none') {
          thisDiv.style.display = 'block';
        } else {
          thisDiv.style.display = 'none';
        }
        //document.getElementById("makePeriod").style.display ='block';
        period = 6;
      })
      todayBtn.addEventListener("click", e => {
        document.getElementById("makePeriod").style.display = 'none';
        period = 1;
      })
      thisWeek.addEventListener("click", e => {
        document.getElementById("makePeriod").style.display = 'none';
        period = 2;
      })
      prevWeek.addEventListener("click", e => {
        document.getElementById("makePeriod").style.display = 'none';
        period = 3;
      })
      thisMonth.addEventListener("click", e => {
        document.getElementById("makePeriod").style.display = 'none';
        period = 4;
      })
      prevMonth.addEventListener("click", e => {
        document.getElementById("makePeriod").style.display = 'none';
        period = 5;
      })

      // 폐기 제품 목록or차트 조건검색
      discPdCondition.onsubmit = async (e) => {
        e.preventDefault();

        pdCdSelect = document.getElementById('pdCdSelect');
        pdCd = pdCdSelect.options[pdCdSelect.selectedIndex].value;        
        //const minDiscDt = nSendSearch.nMinOdDt.value;
        //const minDiscDt = nSendSearch.nMaxOdDt.value;        

        let condition = { pdCd, period };
        let showChart = document.getElementById('discChart').checked;
        
        if (showChart) {
          document.getElementById("discardChart").style.display = 'block';
          document.getElementById("discardTable").style.display = 'none';
              
        } else {
          document.getElementById("discardChart").style.display = 'none';
          document.getElementById("discardTable").style.display = 'block';
          getDiscPdList(condition);
        }
      }

      // 폐기 목록 axios
      async function getDiscPdList(condition) {
        let param = condition;
        await axios.post("/sales/ajax/discPdList", param)
          .then(res => {
            discardTable.setData(res.data);
          })
      }

      // 폐기 목록 그리드
      var discardTable = new Tabulator("#discardTable", {
        height: "100%",
        layout: "fitColumns",
        pagination: "local",
        paginationSize: 20,
        paginationSizeSelector: [10, 20, 30],
        movableColumns: true,
        paginationCounter: "rows",
        rowHeader: {
          formatter: "rownum",
          headerSort: false, width: 50,
          hozAlign: "center",
          resizable: false,
          frozen: true,
          vertAlign: "middle"
        },
        resizableRowGuide: true,
        resizableColumnFit: true,
        columns: [ //disc_no |qt |cost   |disc_dt               |rsn |reason  |disc_chg |pd_lot            |pd_cd |
          { title: "폐기일", field: "discDt", headerHozAlign: "center", width: 180, hozAlign: "center" },
          { title: "LOT", field: "pdLot", headerHozAlign: "center", hozAlign: "center" },
          { title: "제품명", field: "pdName", headerHozAlign: "center", width: 400, hozAlign: "left" },
          { title: "수량", field: "qt", headerHozAlign: "center", width: 70, hozAlign: "right" },
          {
            title: "단가", field: "cost", headerHozAlign: "center", width: 150, hozAlign: "center", formatter: "money", formatterParams: {
              // decimal:",",
              // thousand:".",
              //symbol:"",
              //symbolAfter:"p",
              negativeSign: true,
              precision: false,
            }
          },
          { title: "사유", field: "reason", headerHozAlign: "center", hozAlign: "left" }
        ],
      });
      
      
      selectNav();      
      function selectNav() {
        mainPage.classList.remove('active');
        sale.classList.add('active');
        sale.classList.add('open');
        sale_discardProduct.classList.add('active');
      }
      
      
      </script>
      <script type="text/javascript">

      // 폐기 차트 axios
      async function getDiscPdChart(condition) {
        let param = condition;
        await axios.post("/sales/ajax/discPdChart", param)
          .then(res => {
            console.log('차트결과', res);
            //chartData= res.data;
            res.data.forEach(e => {
              let insideArr = [];
              insideArr.push(e.reason);
              insideArr.push(e.sumQt);
              console.log(insideArr)

              chartData.push(insideArr);
            })
            console.log('chartData', chartData);
            //chartRes = res.data;
          })
      }



      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      async function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();

        //여기부터

        data.addColumn('string', 'reason');
        data.addColumn('number', 'sumQt');


        let param = condition;
        await axios.post("/sales/ajax/discPdChart", param)
                   .then(res => {
                    res.data.forEach(e => {
                      let insideArr = [];
                      insideArr.push(e.reason);
                      insideArr.push(e.sumQt);
                      console.log(insideArr)

                      chartData.push(insideArr);
                    })
                })
        

        data.addRows(chartData);

        //여기까지 

        // Set chart options
        var options = {'title':'폐기 현황',
                       'width':800,
                       'height':600};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('discardChart'));
        chart.draw(data, options);
      }





	
    </script>

  </div>
</body>

</html>