<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/index}">

<head>
  <meta charset="UTF-8">
  <title>제품 출고</title>
</head>

<body>
  <div layout:fragment="content">

    <!-- Content wrapper -->
    <div class="content-wrapper">
      <!-- Content -->
      <div class="container-xxl flex-grow-1 container-p-y">
        <div class="container-xxl flex-grow-1 container-p-y">
        <div class="nav-item d-flex align-items-center pagetitle">
		<div class="mt-3 mb-3 ">
			<div class="mt-3">
		    	<h3 class="fw-bold"><span class="text-muted fw-light">영업 관리 /</span> 주문 출고 관리</h3>
		    </div>
	    </div>
	</div>

        <div class="col-xl-6" style="width: 100%;">
          <div class="nav-align-top mb-4">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab"
                  data-bs-target="#navs-top-home" aria-controls="navs-top-home" aria-selected="true">
                  미처리
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                  data-bs-target="#navs-top-profile" aria-controls="navs-top-profile" aria-selected="false">
                  처리
                </button>
              </li>

            </ul>
            <div class="tab-content">
              <div class="tab-pane fade show active" id="navs-top-home" role="tabpanel">

                <form id="nSendSearch" method="post">

                  <div class="card-body">
                    <div class="row">

                      
                      <div class="mb-3 row col-md-6">
                        <label for="html5-search-input" class="col-md-3 col-form-label">거래처명</label>
                        <div class="col-md-9">
                          <input class="form-control" type="search" id="nCliName" placeholder="거래처 이름">
                        </div>
                      </div>
                      <div class="mb-3 row col-md-6">

                      </div>


                      <div class="mb-3 row col-md-6">
                        <label for="html5-date-input" class="col-md-3 col-form-label">주문일</label>
                        <div class="col-md-9">
                          <input class="form-control" type="date" id="nMinOdDt" value="">
                        </div>
                      </div>
                      <div class="mb-3 row col-md-6">
                        <label for="html5-date-input" class="col-md-1 col-form-label">~</label>
                        <div class="col-md-9">
                          <input class="form-control" type="date" id="nMaxOdDt">
                        </div>
                      </div>
                      <div class="mb-3 row col-md-6">
                        <label for="html5-date-input" class="col-md-3 col-form-label">납기일</label>
                        <div class="col-md-9">
                          <input class="form-control" type="date" id="nMinDueDt">
                        </div>
                      </div>
                      <div class="mb-3 row col-md-6">
                        <label for="html5-date-input" class="col-md-1 col-form-label">~</label>
                        <div class="col-md-9">
                          <input class="form-control" type="date" id="nMaxDueDt" placeholder="231465">
                        </div>
                      </div>
                      <div class="mb-3 row col-md-6">
                        <label for="html5-search-input" class="col-md-3 col-form-label">주문 담당자명</label>
                        <div class="col-md-9">
                          <input class="form-control" type="search" id="nOdChg" placeholder="거래처 담당자 이름">
                        </div>
                      </div>
                      <div class="mb-3 row col-md-6">

                      </div>

                    </div>

                    <div class="mb-3 row col-md-6">
                      <label for="html5-date-input" class="col-md-3 col-form-label"></label>
                      <div class="col-md-9">
                        <button type="submit" class="btn btn-primary me-2" id="nSearchBtn">검색</button>
                        <button type="reset" class="btn btn-outline-secondary" id="nResetBtn">초기화</button>
                      </div>
                    </div>

                  </div>
                </form>


                <div class="d-flex mt-4">
                  <div class="p-2 flex-grow-1"></div>
                  <div class="p-2"><button type="button" class="btn btn-warning" id="sendBtn">출고</button></div>
                </div>
                

                
                <!-- 미출고 목록 그리드 -->
                <div id="notSendTable" class="mb-3">

                </div>

              </div>


              <div class="tab-pane fade" id="navs-top-profile" role="tabpanel">

                <form id="sendSearch">

                  <div class="card-body">
                    <div class="row">

                      <div class="mb-3 row col-md-6">
                        <label for="html5-search-input" class="col-md-3 col-form-label">거래처 코드</label>
                        <div class="col-md-9">
                          <input class="form-control" type="search" id="sCliCd" placeholder="거래처 코드">
                        </div>
                      </div>
                      <div class="mb-3 row col-md-6">

                      </div>
                      <div class="mb-3 row col-md-6">
                        <label for="html5-search-input" class="col-md-3 col-form-label">거래처명</label>
                        <div class="col-md-9">
                          <input class="form-control" type="search" id="sCliName" placeholder="거래처 이름">
                        </div>
                      </div>
                      <div class="mb-3 row col-md-6">

                      </div>


                      <div class="mb-3 row col-md-6">
                        <label for="html5-date-input" class="col-md-3 col-form-label">주문일</label>
                        <div class="col-md-9">
                          <input class="form-control" type="date" id="sMinOdDt" value="">
                        </div>
                      </div>
                      <div class="mb-3 row col-md-6">
                        <label for="html5-date-input" class="col-md-1 col-form-label">~</label>
                        <div class="col-md-9">
                          <input class="form-control" type="date" id="sMaxOdDt">
                        </div>
                      </div>
                      <div class="mb-3 row col-md-6">
                        <label for="html5-date-input" class="col-md-3 col-form-label">납기일</label>
                        <div class="col-md-9">
                          <input class="form-control" type="date" id="sMinDueDt">
                        </div>
                      </div>
                      <div class="mb-3 row col-md-6">
                        <label for="html5-date-input" class="col-md-1 col-form-label">~</label>
                        <div class="col-md-9">
                          <input class="form-control" type="date" id="sMaxDueDt" placeholder="231465">
                        </div>
                      </div>
                      <div class="mb-3 row col-md-6">
                        <label for="html5-search-input" class="col-md-3 col-form-label">주문 담당자명</label>
                        <div class="col-md-9">
                          <input class="form-control" type="search" id="sOdChg" placeholder="거래처 담당자 이름">
                        </div>
                      </div>
                      <div class="mb-3 row col-md-6">

                      </div>

                    </div>

                    <div class="mb-3 row col-md-6">
                      <label for="html5-date-input" class="col-md-3 col-form-label"></label>
                      <div class="col-md-9">
                        <button type="submit" class="btn btn-primary me-2" id="sSearchBtn">검색</button>
                        <button type="reset" class="btn btn-outline-secondary" id="sResetBtn">초기화</button>
                      </div>
                    </div>

                  </div>
                </form>
                <!-- 출고 목록 그리드 -->
                <div id="sendTable" class="mb-3">

                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      //sendSearch.addEventListener("submit", onSendSubmit);

      let nSendCondition = { }
      let sendCondition = { }
      getNotSendList(nSendCondition);
      getSentList(sendCondition);

      // 미처리된 출고목록 조건검색
      nSendSearch.onsubmit = async (e) => {
        e.preventDefault();
        console.log('미처리 조건검색')
        //let param = new FormData(document.sendSearch);        

        const cliName = nSendSearch.nCliName.value;
        const minOdDt = nSendSearch.nMinOdDt.value;
        const maxOdDt = nSendSearch.nMaxOdDt.value;
        const minDueDt = nSendSearch.nMinDueDt.value;
        const maxDueDt = nSendSearch.nMaxDueDt.value;
        const odChg = nSendSearch.nOdChg.value;

        let condition = { cliName, minOdDt, maxOdDt, minDueDt, maxDueDt, odChg };
        console.log(condition);
        
        getNotSendList(condition);
      }

      // 처리된 출고목록 조건검색
      sendSearch.onsubmit = async (e) => {
        e.preventDefault();
        console.log('처리 조건검색')

        //let param = new FormData(document.sendSearch);        

        const cliName = sendSearch.sCliName.value;
        const minOdDt = sendSearch.sMinOdDt.value;
        const maxOdDt = sendSearch.sMaxOdDt.value;
        const minDueDt = sendSearch.sMinDueDt.value;
        const maxDueDt = sendSearch.sMaxDueDt.value;
        const odChg = sendSearch.sOdChg.value;

        let condition = { cliName, minOdDt, maxOdDt, minDueDt, maxDueDt, odChg };
        console.log(condition);
        
        getSentList(condition);
      }

      // 미출고 주문(제품별) 목록 불러오기
      async function getNotSendList(condition){
        let param = condition;
        await axios.post("/sales/ajax/notSendList", param )
                   .then(res=> {
                      console.log(res);
                      notSendTable.setData(res.data);
                    })
      }
      // 출고 주문(제품별) 목록 불러오기
      async function getSentList(condition){
        let param = condition;
        await axios.post("/sales/ajax/sentList", param )
                   .then(res=> {
                      console.log('출고',res);
                      sendTable.setData(res.data);
                    })
      }


      var notSendTable = new Tabulator("#notSendTable", {
        layout: "fitColumns",
        height: "100%",
        selectableRows:true,
        //responsiveLayout: "hide",
        resizableColumnFit: true,
        pagination:"local",
	    paginationSize:20,
	    paginationSizeSelector:[10, 20, 30],
	    movableColumns:true,
	    paginationCounter:"rows",
        rowHeader:{
            width:70,
            headerSort:false, 
			resizable: true, 
			frozen:true, 
			headerHozAlign:"center", 
			hozAlign:"center", 
			formatter:"rowSelection", 
			titleFormatter:"rowSelection", 
			cellClick:function(e, cell){ cell.getRow().toggleSelect(); }
          },
        columns: [ //주문일, 거래처, 제품명, 주문금액(부분합), 납기일, 상태, 인쇄
          { title: "주문번호", field: "no", headerHozAlign:"center", width: 150, hozAlign: "center" },          
          { title: "납기일", field: "dueDt", headerHozAlign:"center", hozAlign: "center" },
          //{ title: "주문일", field: "odDt", headerHozAlign:"center", width:130, hozAlign: "center" },
          { title: "거래처", field: "cliName", headerHozAlign:"center", width: 250, hozAlign: "left" },
          { title: "제품", field: "pdName", headerHozAlign:"center", width: 450, hozAlign: "left" },
          { title: "수량", field: "qt", headerHozAlign:"center", width: 70, hozAlign: "center" },
          {title: "", field:"dueColor", headerHozAlign:"center", hozAlign: "center", width:60, formatter:"traffic", formatterParams:{
                min:0,
                max:100,
                color:["green", "orange", "red"],
          }},
          // { title: "인쇄", field: "week", width: 160, hozAlign: "center" }
        ]
      });

      var sendTable = new Tabulator("#sendTable", {
        layout: "fitColumns",
        height: "100%",        
        //responsiveLayout: "hide",
        resizableColumnFit: true,
        pagination:"local",
	    paginationSize:20,
	    paginationSizeSelector:[10, 20, 30],
	    movableColumns:true,
	    paginationCounter:"rows",
        rowHeader: { formatter: "rownum", headerSort: false, width: 70, hozAlign: "center", resizable: false, frozen: true },
        columns: [ //주문일, 거래처, 제품명, 주문금액(부분합), 납기일, 상태, 인쇄
        { title: "주문번호", field: "no", headerHozAlign:"center", width: 150, hozAlign: "center" },
          //{ title: "담당자", field: "odChg", headerHozAlign:"center", width: 100, hozAlign: "left" },
          { title: "납기일", field: "dueDt", headerHozAlign:"center", hozAlign: "center" },
          { title: "거래처", field: "cliName", headerHozAlign:"center", width: 160, hozAlign: "left" },
          { title: "제품", field: "pdName", headerHozAlign:"center", width: 400, hozAlign: "left" },
          { title: "수량", field: "qt", headerHozAlign:"center", width: 70, hozAlign: "center" },
          { title: "주문일", field: "odDt", headerHozAlign:"center", hozAlign: "center" },
          { title: "주문상태", field: "sendStName", headerHozAlign:"center", width: 100, hozAlign: "center" },
          // { title: "인쇄", field: "week", width: 160, hozAlign: "center" }
        ],
      });


      let selectedOd = '';

      notSendTable.on("rowSelectionChanged", function(data, rows, selected, deselected){
        selectedOd = data;
		});

      // 출고 버튼 선택 이벤트
      sendBtn.addEventListener("click", e=> {
			if(selectedOd == "") {
				alert("선택된 주문이 없습니다.")
			} else {
				console.log(selectedOd);
			  sendOrder(selectedOd);
			}
		})

    // 출고 처리
    async function sendOrder(selectedOd){
      let results = [];
      
      for(order of selectedOd){
        const odNo = order.odNo;
        const odDetailno = order.odDetailno;
        const qt = order.qt;
        const pdCd = order.pdCd;
        let param = { odNo, odDetailno, qt, pdCd };
        await fetch('/sales/ajax/sendOrder', {
          method : "post",
					headers: {
					      "Content-Type": "application/json",
					    },
					body : JSON.stringify(param)
        })
        .then(res => res.json())
				.then(res => {
          console.log('res는' , res); //출고완료:1, 재고부족:2, 비정상종료:3 
          results.push(res);
          console.log(results);
        })
      }

      let sendCheck = '출고 완료';

      if(results.every( e => e==1)){
        console.log('모든결과가1 ', results.every( e => e==1));
        sendCheck = '모두 출고 완료';
        notSendTable.alert(sendCheck); 
      }else if(results.every( e => e==2)){
        console.log('모든결과가2 ', results.every( e => e==2))
        sendCheck = '재고 부족으로 출고되지 못했습니다.';
        notSendTable.alert(sendCheck, "error");        
      // }else if(results.every(e => e==3)){
      //   console.log('모든결과가3 ', results.every( e => e==3));
      //   sendCheck = '서버 오류로 출고되지 못했습니다.';
      // }else if(results.some(e=>e==1) && results.some(e=>e==2) && results.some(e=>e==3)){
      //   console.log('1,2,3모두 포함 ', results.some(e=>e==1) ,results.some(e=>e==2) ,results.some(e=>e==3));
      //   sendCheck = '일부 출고 완료, 일부는 재고 부족으로 출고되지 못했습니다.';
      }else if(results.some(e=>e==1) && results.some(e=>e==2)){
        console.log('1,2포함 ', results.some(e=>e==1) , results.some(e=>e==2));
        sendCheck = '주문 출고 완료. 일부는 재고 부족으로 출고 실패했습니다.';
        notSendTable.alert(sendCheck, "error");
      // }else if(results.some(e=>e==1) && results.some(e=>e==3)){
      //   console.log('1,3포함 ', results.some(e=>e==1) , results.some(e=>e==3));
      //   sendCheck = '출고 완료';
      // }else if(results.some(e=>e==2) && results.some(e=>e==3)){
      //   console.log('2,3포함 ', results.some(e=>e==2) , results.some(e=>e==3));
      //   sendCheck = '출고 완료';
      }else{
        console.log('1,2,3모두의 some결과 ', results.some(e=>e==1) ,results.some(e=>e==2) ,results.some(e=>e==3));
        sendCheck = '주문 출고 완료. 일부는 재고 부족으로 출고 실패했습니다.';
        notSendTable.alert(sendCheck, "error");
      }

      // for(e of results){
      //   console.log('e는',e);
      //   if(e != 1){
      //     sendCheck = '재고 부족으로 출고 실패';
      //   }                    
      // }
      //alert(sendCheck);
      /* setTimeout(() => {
              notSendTable.clearAlert();
      }, "2000"); */

      getNotSendList(nSendCondition);
    }

	selectNav();
	
	function selectNav() {
		mainPage.classList.remove('active');
		sale.classList.add('active');
		sale.classList.add('open');
		sale_sendOrder.classList.add('active');
	}
      
    </script>
  </div>


</body>

</html>