<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/index}">

<head>
    <meta charset="UTF-8">
    <title>제품 재고 관리</title>
</head>

<body>
    <div layout:fragment="content">
        <!-- Content wrapper -->
        <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">영업 관리 /</span> 제품 재고</h4>


                <!-- 주문목록 그리드 -->
                <div id="pdStockTable" class="mb-3">

                </div>

                <!-- <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span>LOT 재고</h4> -->




                <div class="card mb-4" style="margin-top: 100px;">
                    <h5 class="fw-bold card-header">LOT 재고 검색</h5>
                    <div class="card-body">
                        <!-- <form id="formAccountSettings" method="POST" onsubmit="return false"> -->
                        <div class="row">



                            <div class="mb-3 row col-md-6">
                                <label for="html5-search-input" class="col-md-3 col-form-label">LOT</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="search" id="pdLot" placeholder="LOT를 입력하세요">
                                </div>
                            </div>
                            <div class="mb-3 row col-md-6">
                                <label for="pdCd" class="col-md-3 col-form-label"></label>
                                <div class="col-md-9">

                                </div>
                            </div>
                            <div class="mb-3 row col-md-6">
                                <label for="html5-search-input" class="col-md-3 col-form-label">제품코드</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="search" id="pdCd" placeholder="제품코드를 입력하세요">
                                </div>
                            </div>
                            <div class="mb-3 row col-md-6">
                                <label for="html5-search-input" class="col-md-3 col-form-label">제품명</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="search" id="pdName"
                                        placeholder="입력한 단어가 포함된 제품이 검색됩니다">
                                </div>
                            </div>


                            <div class="mb-3 row col-md-6">
                                <label for="html5-date-input" class="col-md-3 col-form-label">제조일</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="date" id="minPdtDt">
                                </div>
                            </div>
                            <div class="mb-3 row col-md-6">
                                <label for="html5-date-input" class="col-md-1 col-form-label">~</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="date" id="maxPdtDt">
                                </div>
                            </div>
                            <div class="mb-3 row col-md-6">
                                <label for="html5-date-input" class="col-md-3 col-form-label">유통기한</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="date" id="minExpDt">
                                </div>
                            </div>
                            <div class="mb-3 row col-md-6">
                                <label for="html5-date-input" class="col-md-1 col-form-label">~</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="date" id="maxExpDt" placeholder="231465">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="html5-search-input" class="col-md-2 col-form-label"></label>
                                <div class="col-md-10">
                                    <div class="form-check form-check-inline mt-3">
                                        <input class="form-check-input" type="checkbox" id="zeroQt" name="odSt">
                                        <label class="form-check-label" for="inlineCheckbox1">재고 없는 LOT 포함</label>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>



                    <!-- <div class="mt-2"> -->
                    <div class="mb-3 row col-md-6">
                        <label for="html5-date-input" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">
                            <button type="submit" class="btn btn-primary me-2" id="searchBtn">검색</button>
                            <button type="reset" class="btn btn-outline-secondary" id="resetBtn">초기화</button>
                        </div>
                    </div>
                    
                </div>



                <!-- 주문목록 그리드 -->
                <div id="lotStockTable" class="mb-3">

                </div>



            </div>
        </div>



        <script>
            let param = {};
            getPdStockList();
            getLotStockList(param);

            // 제품별 재고 조회
            var pdStockTable = new Tabulator("#pdStockTable", {
                // layout:"fitColumns",
                height: "100%",
                responsiveLayout: "hide",
                rowHeader: { formatter: "rownum", headerSort: false, width: 70, hozAlign: "center", resizable: false, frozen: true },
                resizableColumnFit: true,
                layout: "fitColumns",
                columns: [ //제품코드, 제품명, 단위, 재고량, 총 미출고량, 납기3주미만미출고량, 납기3주미만 예상부족분, 주 예상생산량, 월 예상생산량 
                    { title: "제품코드", field: "pdCd", width: 150, hozAlign: "center" },
                    { title: "제품명", field: "pdName", width: 150, hozAlign: "center" },
                    { title: "단위", field: "unit", width: 150, hozAlign: "center" },
                    { title: "재고량", field: "curStk", width: 150, hozAlign: "center" },
                    { title: "총 미출고량", field: "notSend", width: 150, hozAlign: "center" },
                    { title: "납기3주미만 미출고량", field: "threeWNotSend", width: 150, hozAlign: "center" },
                    { title: "납기3주미만 재고미달량", field: "shortage", width: 150, hozAlign: "center" },
                    { title: "주 예상생산량", field: "weeklyPrd", width: 150, hozAlign: "center" },
                    { title: "월 예상생산량", field: "monthlyPrd", width: 150, hozAlign: "center" }
                ],
            });
            // LOT별 재고 조회
            var lotStockTable = new Tabulator("#lotStockTable", {
                // layout:"fitColumns",
                height: "100%",
                responsiveLayout: "hide",
                rowHeader: { formatter: "rownum", headerSort: false, width: 70, hozAlign: "center", resizable: false, frozen: true },
                resizableColumnFit: true,
                layout: "fitColumns",
                columns: [ // LOT, 제품코드, 제품명, 수량, 제조일, 유통기한
                    { title: "LOT", field: "pdLot", width: 150, hozAlign: "center" },
                    { title: "제품코드", field: "pdCd", width: 180, hozAlign: "center" },
                    { title: "제품명", field: "pdName", width: 180, hozAlign: "center" },
                    { title: "수량", field: "qt", width: 180, hozAlign: "center" },
                    { title: "제조일", field: "pdtDt", width: 170, hozAlign: "center" },
                    { title: "유통기한", field: "expDt", width: 150, hozAlign: "center" }
                ],
            });



            // 제품별 재고 목록
            function getPdStockList() {
                fetch("/sales/pdStockList")
                    .then(res => res.json())
                    .then(res => pdStockTable.setData(res))
            }
            // LOT별 재고 목록
            function getLotStockList(param) {
                console.log(param);
                fetch("/sales/lotStockList", {
                    method: "post",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(param)
                })
                    .then(res => res.json())
                    .then(res => lotStockTable.setData(res))
            }
            // 검색 버튼 누르면 조건대로 검색한 주문목록 불러오기
            searchBtn.addEventListener("click", e => {

                let pdLot = document.getElementById('pdLot').value;
                let pdCd = document.getElementById('pdCd').value;
                let pdName = document.getElementById('pdName').value;
                let minPdtDt = document.getElementById('minPdtDt').value;
                let maxPdtDt = document.getElementById('maxPdtDt').value;
                let minExpDt = document.getElementById('minExpDt').value;
                let maxExpDt = document.getElementById('maxExpDt').value;
                let zeroQt = document.getElementById('zeroQt').checked;

                param = { pdLot, pdCd, pdName, minPdtDt, maxPdtDt, minExpDt, maxExpDt, zeroQt };

                getLotStockList(param);

                //resetSearch();
            })

            // 검색 조건 초기화
            resetBtn.addEventListener("click", e => {
                resetSearch();
            })

            function resetSearch() {
                document.getElementById('pdLot').value = null;
                document.getElementById('pdCd').value = null;
                document.getElementById('pdName').value = null;
                document.getElementById('minPdtDt').value = null;
                document.getElementById('maxPdtDt').value = null;
                document.getElementById('minExpDt').value = null;
                document.getElementById('maxExpDt').value = null;

                //document.getElementById('zeroQt').checked = false;
            }
            // 
            pdStockTable.on("rowClick", function (e, row) {
                let pdCd = row.getData().pdCd;
                console.log(pdCd);
                param = { pdCd };
                console.log(param);
                getLotStockList(param);
            });


        	selectNav();
        	
        	function selectNav() {
        		mainPage.classList.remove('active');
        		sale.classList.add('active');
        		sale.classList.add('open');
        		sale_stockMng.classList.add('active');
        	}




        </script>
    </div>


</body>

</html>