<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/member}">
<head>
<meta charset="UTF-8">
<title>findPW</title>
</head>
  <body>
  <div layout:fragment="subscribe">
    <!-- Content -->

    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
          <!-- Forgot Password -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <a href="index.html" class="app-brand-link gap-2">
                  <span class="app-brand-logo demo">
                  </span>
                  <img src="../assets/img/favicon/1.png" width="150px" style="border-radius: 100px" >
                </a>
              </div>
              <!-- /Logo -->
              <h4 class="mb-2">비밀번호 찾기 </h4>
             
              <form id="pwAuthentication" class="mb-3" action="" method="POST">
                <div class="mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="id"
                    name="id"
                    placeholder="아이디"
                    autofocus
                  />
                  <input
                    type="number"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="이름"
                    autofocus
                  />
                  <input
                    type="number"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="이메일"
                    autofocus
                  />
                </div>
                <button class="btn btn-primary d-grid w-100">비밀번호 찾기</button>
              </form>
            </div>
          </div>
          <!-- /Forgot Password -->
        </div>
      </div>
    </div>

     </div>
    <!-- / Content -->

  </body>
</html>
