<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.emp.mapper.EmpMapper">
	
<resultMap type="ClintVO" id="clientListMap">
		<id property="employeeId" column="EMPLOYEE_ID"></id>
		<result property="firstName" column="FIRST_NAME" />
		<result property="phone" column="PHONE_NUMBER" />
	</resultMap>


<select id="getClientList" resultMap="clientListMap">
	select * from ( select rownum as rn, a.* from ( 
	
 		SELECT EMPLOYEE_ID
				,FIRST_NAME
				,LAST_NAME
				,EMAIL
				,PHONE_NUMBER "phone"
				,HIRE_DATE
				,JOB_ID
				,SALARY
				,COMMISSION_PCT
				,MANAGER_ID
				,DEPARTMENT_ID
 		  FROM employees e
		  <include refid="condition"></include> 			
 		 ORDER BY employee_id
 			
 	) a where rownum <![CDATA[<=]]> #{svo.end} ) b where rn >= #{svo.start}
	</select>

</mapper>