<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theCaffeine.mes.sale.mapper.PdStockMapper">

	<sql id="condition">
		<where>
			<if test="zeroQt == false">
				and l.qt > 0
			</if>
			<if test="pdLot != null and pdLot != '' ">
				and l.pd_lot LIKE '%' || #{pdLot} || '%'
			</if>
			<if test="pdCd != null and pdCd != '' ">
				and l.pd_cd LIKE '%' || #{pdCd} || '%'
			</if>
			<if test="pdName != null and pdName != '' ">
				and p.pd_name LIKE '%' || #{pdName} || '%'
			</if>
			<if test="minPdtDt != null">
 		   		AND l.pdt_dt >= #{minPdtDt} 			
 			</if>
 			<if test="maxPdtDt != null">
 		   		AND l.pdt_dt <![CDATA[<=]]> #{maxPdtDt}			
 			</if>
 			<if test="minExpDt != null">
 		   		AND l.exp_dt >= #{minExpDt}		
 			</if>
 			<if test="maxExpDt != null ">
 		   		AND l.exp_dt <![CDATA[<=]]> #{maxExpDt}		
 			</if> 			
		</where>
		
	</sql>


	<select id="pdStockList" resultType="PdStockVO">
		<![CDATA[ select DISTINCT d.pd_cd
									, p.pd_name
									, p.unit
									, st.total_stk as "curStk"
									, dn.total_not_send as "totalNotSend"
									, tl.tw_prdt as "twoWPrdt"
									, wn.tw_not_send as "twoWNotSend"
									, TRUNC((wn.tw_not_send/(st.total_stk + tl.tw_prdt)*100),1) as "possStats"
									, TRUNC(((st.total_stk + tl.tw_prdt)-wn.tw_not_send), 0) as "possTwoSend"
					from pd p JOIN od_detail d
				            	ON p.pd_cd = d.pd_cd
				              JOIN ( select sum(qt)/12 as total_stk
				              				, pd_cd
				                       from pd_stk
				                      where ADD_MONTHS(sysdate, 6) <= exp_dt
				                      group by pd_cd) st
				            	ON d.pd_cd = st.pd_cd
				              JOIN ( select sum(qt) as total_not_send
				              				, pd_cd
				                       from od_detail
				                      where send_od_st = 1
				                      group by pd_cd) dn
				            	ON d.pd_cd = dn.pd_cd
				              JOIN ( select sum(lan.qt/12) as tw_prdt
				            				, lan.pd_cd 
				                      from pdt_plan_detail lan JOIN ( select pdt_plan_cd
				                     										, wk_plan_stt_dt
							                                           from pdtplan
							                                          where wk_plan_stt_dt > sysdate
							                                                AND wk_plan_stt_dt < TO_DATE(NEXT_DAY(sysdate+ 14 , '월')) ) lnn
				              									ON lan.pdt_plan_cd = lnn.pdt_plan_cd
				                  group by lan.pd_cd) tl
				            	ON d.pd_cd = tl.pd_cd
				             JOIN (select sum(nsn.qt) as tw_not_send
				             			, nsn.pd_cd
				                     from od_detail nsn JOIN (select od_detailno
				                     								, pd_cd
								                                from od_detail
								                               where send_od_st = 1
								                                    and (due_dt -sysdate) <= 14) nsq
				                    					  ON nsn.od_detailno = nsq.od_detailno
				                    group by nsn.pd_cd) wn
				              ON d.pd_cd = wn.pd_cd ]]>
	</select>
	
	<select id="lotStockList" parameterType="LotStockVO" resultType="LotStockVO">
		SELECT l.pd_lot
				, l.pd_cd
				, p.pd_name
				, l.qt
				, l.pdt_dt
				, l.exp_dt
		 FROM pd_stk l  JOIN pd p
		                  ON l.pd_cd = p.pd_cd
    	<include refid="condition"></include>
		ORDER BY l.pd_lot DESC
	</select>

</mapper>