<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theCaffeine.mes.sale.mapper.PdStockMapper">

	<sql id="condition">
		<where>
			<if test="zeroQt == false">
				and l.qt > 0
			</if>
			<if test="pdLot != null and pdLot != '' ">
				and l.pd_lot LIKE '%' || #{pdLot} || '%'
			</if>
			<if test="pdCd != null and pdCd != '' ">
				and l.pd_cd LIKE '%' || #{pdCd} || '%'
			</if>
			<if test="pdName != null and pdName != '' ">
				and p.pd_name LIKE '%' || #{pdName} || '%'
			</if>
			<if test="minPdtDt != null">
 		   		AND l.pdt_dt >= #{minPdtDt} 			
 			</if>
 			<if test="maxPdtDt != null">
 		   		AND l.pdt_dt <![CDATA[<=]]> #{maxPdtDt}			
 			</if>
 			<if test="minExpDt != null">
 		   		AND l.exp_dt >= #{minExpDt}		
 			</if>
 			<if test="maxExpDt != null ">
 		   		AND l.exp_dt <![CDATA[<=]]> #{maxExpDt}		
 			</if> 			
		</where>
		
	</sql>


	<select id="pdStockList" resultType="PdStockVO">
		<![CDATA[ SELECT p.pd_cd
						, p.pd_name
						, p.unit
						, ts.total_stk
						, ns.not_send
						, twp.tw_prdt_qt
						, twn.tw_not_send
        				, ((ts.total_stk+twp.tw_prdt_qt)-twn.tw_not_send) as tw_poss_stk
        				, TRUNC((twn.tw_not_send / (ts.total_stk+twp.tw_prdt_qt))*100,1) as tw_exp
					FROM pd p
					    JOIN (select sum(qt) as total_stk
					    			, pd_cd
					            from pd_stk
					           where ADD_MONTHS(sysdate, 6) <= exp_dt
					           group by pd_cd) ts
					      ON p.pd_cd = ts.pd_cd
					    JOIN (select SUM( NVL(qt,0) ) as not_send
					    			, pd_cd
					            from od_detail
					           where send_od_st = 1
					           group by pd_cd) ns
					      ON p.pd_cd = ns.pd_cd
					    JOIN (select sum(qt) as tw_prdt_qt
					    			, pd_cd
					            from pdt_plan_detail
					           where pdt_plan_cd IN (select pdt_plan_cd
					                                   from pdtplan
					                                  where wk_plan_stt_dt > sysdate
					                                    	AND wk_plan_stt_dt < TO_DATE(NEXT_DAY(sysdate+ 14 , '월')))
					            					  group by pd_cd ) twp
					     ON p.pd_cd = twp.pd_cd
					   JOIN ( select sum(qt) as tw_not_send
					   				, pd_cd
					            from od_detail
					            where send_od_st = 1
					            	and (due_dt -sysdate) <= 14
					            group by pd_cd ) twn
					    ON p.pd_cd = twn.pd_cd
				  ORDER BY p.pd_cd ]]>
	</select>
	
	<select id="lotStockList" parameterType="LotStockVO" resultType="LotStockVO">
		SELECT l.pd_lot
				, l.pd_cd
				, p.pd_name
				, l.qt
				, l.pdt_dt
				, l.exp_dt
		 FROM pd_stk l  JOIN pd p
		                  ON l.pd_cd = p.pd_cd
    	<include refid="condition"></include>
		ORDER BY l.pd_lot DESC
				, l.pd_cd
	</select>

</mapper>