<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theCaffeine.mes.fclt.mapper.FcltMapper">

<sql id="condition">
<where>
<if test="fcName != null and fcName != '' ">
fc_name LIKE '%' || #{fcName} || '%'
</if>
<if test="insMf != null and insMf != '' ">
AND ins_mf = #{insMf}	
</if>
<if test="st != null and st != '' ">
AND st = #{st}
</if>
</where>
</sql>

<!-- 전체 설비 목록 -->
<select id="getFcltList" resultType="FcltVO">

	SELECT     	FC_CD,
				FC_NAME,
				CASE WHEN ST = 0 THEN '가동'
                                                ELSE '비가동'
                END AS ST,
				CASE WHEN INS_MF = 0 THEN '로스팅'
                                                        ELSE '포장'
                END AS INS_MF,
				MNF_COM,
				STR_DT,
				INS_CYCLE,
				LAST_INS_DT,
				CASE WHEN LAST_INS_DT IS NULL THEN STR_DT+INS_CYCLE  
                ELSE LAST_INS_DT+INS_CYCLE
                END AS NEXT_INS_DT,
				OUTPUT,
				DUR_TIME
	FROM FC
	<include refid="condition"></include>
</select>

<!-- 비가동 설비 목록 -->
<select id="getNonopFcltList" resultType="FcltVO">

 SELECT     	FC_CD,
                        FC_NAME,
                        CASE WHEN ST = 0 THEN '가동'
                                                        ELSE '비가동'
                        END AS ST,
                        CASE WHEN INS_MF = 0 THEN '로스팅'
                                                                ELSE '포장'
                        END AS INS_MF,
                        MNF_COM,
                        STR_DT,
                        INS_CYCLE,
                        LAST_INS_DT,
                       CASE WHEN LAST_INS_DT IS NULL THEN STR_DT+INS_CYCLE  
		                ELSE LAST_INS_DT+INS_CYCLE
		                END AS NEXT_INS_DT,
                        OUTPUT,
                        DUR_TIME
	FROM FC
    WHERE st = 1
</select>

<!-- 가동중인 설비 목록 -->
<select id="getOpFcltList" resultType="FcltVO">

 SELECT     	FC_CD,
                        FC_NAME,
                        CASE WHEN ST = 0 THEN '가동'
                                                        ELSE '비가동'
                        END AS ST,
                        CASE WHEN INS_MF = 0 THEN '로스팅'
                                                                ELSE '포장'
                        END AS INS_MF,
                        MNF_COM,
                        STR_DT,
                        INS_CYCLE,
                        LAST_INS_DT,
                       CASE WHEN LAST_INS_DT IS NULL THEN STR_DT+INS_CYCLE  
		                ELSE LAST_INS_DT+INS_CYCLE
		                END AS NEXT_INS_DT,
                        OUTPUT,
                        DUR_TIME
	FROM FC
    WHERE st = 0
</select>

<!--  단건조회 -->
<select id="getFcltInfo" parameterType="string" resultType="FcltVO">
	select *
	from fc
	where fc_cd = #{fcCd}	
</select>


<!--  설비 등록 -->
	<insert id="insertFclt" parameterType="FcltVO">
		INSERT INTO FC
					(
					FC_CD
					,FC_NAME
					,ST
					,INS_MF
					,MNF_COM
					,STR_DT
					,INS_CYCLE
					,OUTPUT
					,DUR_TIME
					)
		    VALUES  (
		    		  SEQ_FCLT.nextval 
		    		,#{fcName}
		    		,#{st}
		    		,#{insMf}
		    		,#{mnfCom}
		    		,#{strDt}
		    		,#{insCycle}
		    		,#{output}
		    		,#{durTime}
		    		)
	</insert>

<!-- 설비 삭제 -->

<delete id="deleteFclt" parameterType="String">
	DELETE FROM fc
	where fc_cd = #{fcCd}
</delete>

<!-- 설비 정보 수정 -->
<update id="updateFclt" parameterType="FcltVO">
	UPDATE fc
	SET
					FC_NAME=#{fcName},
					ST=#{st},
					INS_MF=#{insMf},
					MNF_COM=#{mnfCom},
					STR_DT=#{strDt},
					INS_CYCLE=#{insCycle},
					OUTPUT=#{output},
					DUR_TIME=#{durTime}
	
	WHERE fc_cd = #{fcCd}
</update>

</mapper>