<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">

		<h1>주간생산 계획등록</h1>
		<div class="divider text-start">
            <div class="divider-text "></div>
        </div>
		<div class="demo-inline-spacing" style="margin-bottom: 50px;">
			<div class="d-flex justify-content-evenly" style="height: 370px;">
				<div>
					<div style="float: right; width: 250px;">
						<button class="btn btn-primary" type="button" id="research1"
							style="float: right; margin-top: 8px;">검색</button>
						<form action="" name="frmSearch" class="row gy-2 gx-3 align-items-center">
							<div style="margin-top: 0; padding-right: 0;">
								<label class="col-sm-4 col-form-label">제품코드</label> 
								<input class="codes" type="text" style="width: 95px; height: 30px;">
							</div>
							<div style="margin-top: 0; padding-right: 0;">
								<label class="col-sm-4 col-form-label">납기일</label> 
								<input class="dates" type="date" style="width: 95px;">
							</div>
						</form>
					</div>
					<h5 style="margin-bottom: 45px;">상세주문 조회</h5>
					<div id="example-table1"></div>
				</div>
				<div>
					<h5 style="margin-bottom: 45px;">전 주 생산실패목록</h5>
					<div id="example-table2"></div>
				</div>
				<div>
					<h5 style="margin-bottom: 45px;">주문량별 수요예측치</h5>
					<div id="example-table4"></div>
				</div>
			</div>
		</div>
		<div style="margin-bottom: 20px;">
			<div>
				<h5>완재품 재고 조회</h5>
				<div id="example-table3"></div>
			</div>
		</div>
		
		<div class="divider text-start">
            <div class="divider-text "></div>
        </div>
		<div class="d-flex mt-5">
	  	<div class="p-2 flex-grow-1"><h3>생산주간 계획등록</h3></div>
	  	<div class="p-2">
			<button type="button" id="" class="btn btn-warning">자동계산</button>
		</div>
	  	<div class="p-2">
			<button type="button" id="" class="btn btn-info">등록</button>
		</div>
		</div>
		<div class="card mb-4">
			<div class="card-body">
				<div class="mb-3 row">
					<label for="mtrl_management_clicd" class="col-md-2 col-form-label">주간계획시작일자</label>
					<div class="col-md-10">
						<input class="form-control" type="date" value=""
							id="mtrl_management_name">
					</div>
				</div>
				<div class="mb-3 row">
					<label for="mtrl_management_name" class="col-md-2 col-form-label">총 예상 원두생산 수량(kg)</label>
					<div class="col-md-10">
						<input class="form-control" type="text" value="" id="mtrl_management_name" readonly>
					</div>
				</div>
			</div>
		</div>
		<div style="margin-bottom: 20px;">
			<div>
				<div id="example-table5"></div>
			</div>
		</div>


		<script>
		
	$(window).on("load",function(e) {
		detailOrderListReq({});
		safeListReq();
		failListReq();
	})
	
	research1.addEventListener("click", e=> {
		console.log(e.target.nextElementSibling.childNodes[1].childNodes[3].value)
		console.log(e.target.nextElementSibling.childNodes[3].childNodes[3].value)
		const pdCd= e.target.nextElementSibling.childNodes[1].childNodes[3].value;
		const dueDt = e.target.nextElementSibling.childNodes[3].childNodes[3].value;
		let param = {pdCd, dueDt};
		console.log(param)
		detailOrderListReq(param)
	})
	
	
	
	function getLists(){
		//if(${list} != null){
			//table
		//}
	}
	
	// 안전재고량 조회 데이터
	function safeListReq() {
		fetch("/ajax/planSafeList")
		.then(res => res.json())
		.then(res => table3.setData(res))
	}
	
	// 전주 실패수량 조회 데이터
	function failListReq() {
		fetch("/ajax/failProdList")
		.then(res => res.json())
		.then(res => table2.setData(res))
	}
	
	// 전주 실패수량 조회 데이터
	function successListReq() {
		fetch("/ajax/successProdList")
		.then(res => res.json())
		.then(res => table4.setData(res))
	}
	
	
	function detailOrderListReq(param) {
		fetch("/ajax/planOrderDetail",{
			method : "post",
			headers: {
			      "Content-Type": "application/json",
			    },
			body : JSON.stringify(param)
		})
		.then(res => res.json())
		.then(res => table1.setData(res))
	}
	
	var table1 = new Tabulator("#example-table1", {
	height:"311px",
    layout:"fitDataTable",
    pagination:"local",
    paginationSize:8,
    movableColumns:true,
    paginationCounter:"rows",
    rowHeader:{resizable: false, frozen: true, hozAlign:"center", formatter: "rownum", cssClass:"range-header-col"},
    columnDefaults:{
      headerSort:false,
      resizable:"header",
    },
    columns:[
        {title:"제품코드", field:"pdCd", hozAlign:"center", width:100},
        {title:"단위(1 Box= 3 Bag)", field:"unit", hozAlign:"center", width:150},
        {title:"수량(Box)", field:"qt", hozAlign:"center", width:150},
        {title:"납기 일", field:"dueDt", hozAlign:"center", width:100},
    ],
});
	var table2 = new Tabulator("#example-table2", {
    height:"311px",
    layout:"fitDataTable",
    columns:[
        {title:"상품코드", field:"pdCd", hozAlign:"center"},
        {title:"전 주 실패량(kg)", field:"failTat", hozAlign:"center"},
    ],
});
	var table3 = new Tabulator("#example-table3", {
	height:"100%",
	layout:"fitDataFill",
    columns:[
        {title:"제품코드", field:"pdCd", hozAlign:"center", width:260},
        {title:"단위", field:"unit", hozAlign:"center", width:250},
        {title:"현재 재고 수량", field:"nowStk", hozAlign:"center", width:260},
        {title:"안전 재고 수량", field:"safeStk", hozAlign:"center", width:260},
        {title:"재고 수량차", field:"msStk", hozAlign:"center", width:260},
    ],
});
	var table4 = new Tabulator("#example-table4", {
	    height:"311px",
	    columns:[
	    	{title:"상품코드", field:"pdCd", hozAlign:"center"},
	        {title:"전 주 생산량(kg)", field:"befSuccessTat", hozAlign:"center"},
	    ],
	});
	
	var table5 = new Tabulator("#example-table5", {
	    height:"311px",
	    layout:"fitColumns",
	    columns:[
	        {title:"상품명", field:"name", editor:"input", validator:"required"},
	        {title:"수량(kg)", field:"progress", sorter:"number", hozAlign:"left", editor:"input", editor:true,  validator:["min:0", "numeric"]},
	        {title:"납기일", field:"gender", editor:"input", validator:["required", "in:male|female"]},
	    ],
	});
	</script>
	</div>
</body>
</html>