<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">

		<h1>생산지시등록</h1>
		<div class="card mb-1">
			<div class="card-body" >
				<div class="mb-3 row">
					<label for="" class="col-md-2 col-form-label">계획코드</label>
					<div class="col">
						<select class="form-select plans" id="pl">
							<option class="nulls" value="">선택</option>
						</select>
					</div>
					<label for="mtrl_management_clicd" class="col-md-2 col-form-label">
					주간 총 예상 원두생산 수량(kg)</label>
					<div class="col">
						<input class="form-control planTotCnt" type="text" value="" id=""
							readonly>
					</div>
					<label for="mtrl_management_clicd" class="col-md-2 col-form-label">금일 예상 수요량(kg)</label>
					<div class="col">
						<input class="form-control daySale" type="text" value="" id="" readonly>
					</div>
				</div>
				<div class="mb-3 row">
					<label for="mtrl_management_clicd" class="col-md-2 col-form-label">계획기간</label>
					<div class="col">
						<input class="form-control planDay" type="text" value="" id="" readonly>
					</div>
					<label for="mtrl_management_clicd" class="col-md-2 col-form-label" >상품명</label>
					<div class="col">
						<input class="form-control planName" type="text" value="" id=""
							readonly>
					</div>
					
				</div>
			</div>
		</div>
		<div style="margin-bottom: 20px;">
			<div>
				<div id="productionInst-table1"></div>
			</div>
		</div>
		<h3></h3>
		<div class="mb-3 row">
	  		<div class="p-2 col"><h3>시간대별 생산지시 등록</h3></div>
	  		<div class="p-2 col">
	  			<label for="" class="col-md-5 col-form-label"style="float: right; text-align: right;">지시일자</label>
			</div>
	  			<div class="p-2 col">	
					<select class="form-select planDay2 pl2">
						<option value="">선택</option>
					</select>
			</div>
		</div>
		<div id="productionPlan-table2"></div>
		<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			<button class="btn btn-secondary" type="button" id="addBtn" style="margin-top: 12px;">추가</button>
			<button class="btn btn-primary" type="button" id="resistBtn" style="margin-top: 12px;">등록</button>
			<button class="btn btn-danger" type="button" id="delBtn" style="margin-top: 12px; margin-right: 5px; display: none;">수정</button>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
		<script th:inline="javascript">
		
		$(window).on("load",function(e) {
			planCdList()
			basicPlanListReq()
			instListReq()
			addRows()
			nonopFcList()
		})
		let planCds = document.querySelector('.plans');
		let daySale = document.querySelector('.daySale');
		let planDay = document.querySelector('.planDay');
		let planName = document.querySelector('.planName');
		let planTotCnt = document.querySelector('.planTotCnt');
		let pl = document.querySelector('#pl');
		let pl2 = document.querySelector('.pl2');
		let planDay2 = document.querySelector('.planDay2');
		let diff = ''
		let pdCds = []
		let pdNames = []
		let unitQts = []
		let instLists =[] 
		let nonopFcLists =[] 
		//아이디
		let memId = document.querySelector(".memId").innerText
		
		resistBtn.addEventListener("click", e=> {
			let params1 = {pdtPlanCd : planCds.value, pdtInstDt : planDay2.value, pdtChg : memId}
			let params2 = InstDetailData();
			let param = {instVO : params1, 
					instDetailVO : params2
					};
			console.log(params1)
			console.log(params2)
			if(planDay2.value != ""){
				fetch("/ajax/instResist",{
					method : "post",
					headers: {
					      "Content-Type": "application/json",
					    },
					body : JSON.stringify(param)
				})
				.then(res => res.json())
				.then(res => {
					if(res.response == 'ok'){
						alert('등록이 완료되었습니다.')
						location.href='/production/prdtInst'
					}else{
						alert('등록에 실패하였습니다.')
					}
				})
			}else{
				alert('지시일 등록후 다시 등록해주세요.')
			}
			
			
			
		})
		
		planCds.addEventListener("change", e=> {
			
			//요소제거
			for(let i=pl2.children.length; i>1; i--){
				pl2.removeChild(pl2.lastElementChild)
			}
			planList()
			planDetailList()
			if(planCds.value == ""){
				daySale.value = ''
				planDay.value = ''
				planName.value = ''
				planTotCnt.value = ''
			}
		})
		
		//지시일자 등록
		function planDateList(wkPlanSttDt) {
			for(let i=0;i<=diff;i++){
				
				let tf = true;
				let newsDate = new Date(wkPlanSttDt);
				newsDate.setDate(newsDate.getDate() + i);
				for(let j of instLists){
					if(j.pdtInstDt == getDateStr(newsDate)){
						tf = false;
					}
				}
				if(tf){
					let option = document.createElement('option');
					option.setAttribute('value', getDateStr(newsDate));
					option.setAttribute('class', 'planDate');
					option.innerHTML = getDateStr(newsDate);
					planDay2.append(option)
				}
			}
		}
		
		
		// 계획코드 리스트
		function planCdList() {
			fetch("/ajax/planCdList")
			.then(res => res.json())
			.then(res => {
				if(res != null){
					for(let i of res){
						let option = document.createElement('option');
						option.setAttribute('value', i.pdtPlanCd);
						option.innerHTML = i.pdtPlanCd;
						planCds.append(option)
					}
				}else{
					let option = document.createElement('option');
					option.setAttribute('value', null);
					option.innerHTML = '계획없음';
					planCds.append(option)
				}
			})
		}
		
		
		//계획코드별 데이터
		function planList() {
			fetch("/ajax/planList")
			.then(res => res.json())
			.then(res => {
				console.log(res)
				for(let i of res){
					if(i.pdtPlanCd == planCds.value){
						const oldDate = new Date(i.wkPlanSttDt2);
						const newDate = new Date(i.wkPlanSttDt);
						diff = Math.abs(newDate.getTime() - oldDate.getTime());
						diff = Math.ceil(diff / (1000 * 60 * 60 * 24));
						daySale.value = i.psum / diff
						planDay.value = `${i.wkPlanSttDt}~${i.wkPlanSttDt2}`
						planName.value = i.plantot
						planTotCnt.value = i.psum
						
						planDateList(i.wkPlanSttDt)
					}
				}
			})
			
		}
		
		var table1 = new Tabulator("#productionInst-table1", {
			height:"100%",
			layout:"fitDataFill",
		    columns:[
		        {title:"상품명", field:"pdName", hozAlign:"center", width:440},
		        {title:"총 예상 생산 수량(kg)", field:"qt", hozAlign:"center", width:430},
		        {title:"납기 일자", field:"dueDt", hozAlign:"center", width:440},
		    ],
		});
		
		// 계획상세 리스트
		function planDetailList() {
			if(planCds.value != ""){
				fetch("/ajax/planDetailList/"+ planCds.value)
				.then(res => res.json())
				.then(res => {
					table1.setData(res)
					console.log(res)
					/*for(let i of res){
						pdCds.push(i.pdCd)
					}*/
				})
			}
			
		}
		// 비가동 설비예약 리스트
		function nonopFcList() {
				fetch("/ajax/nonopFcList")
				.then(res => res.json())
				.then(res => {
					console.log(res)
					nonopFcLists = res
				})
		}
		
		//코드 정보들
		function basicPlanListReq() {
			fetch("/ajax/basicPlan")
			.then(res => res.json())
			.then(res => {
				for(let i of res){
					pdCds.push(i.pdCd)
					pdNames.push({"pdCd" : i.pdCd,"pdName" : i.pdName})
					unitQts.push({"pdCd" : i.pdCd,"unitQt" : i.unitQt})
				}
			})
		}
		
		/*var dateEditor5 = function(cell, onRendered, success, cancel, editorParams){

		    var data = cell.getRow().getData();
		    
		    var editor2 = document.createElement("input");
		    editor2.setAttribute("type", "number");
		    editor2.style.padding = "3px";
		    editor2.style.width = "100%";
		    editor2.style.boxSizing = "border-box";
		    editor2.value = data.qt;
		    let tot = 0;
		    editor2.addEventListener("change", e=> {
		    	
		    	if(e.target.value == null || e.target.value < 0){
		    		editor2.value = 0;
		    		successFunc()
		    	}else{
		    		data.qt = Number(e.target.value);
		    		if(data.pdCd == null){
		    			data.qt = 0;
		    		}else{
		    			for(let i of unitQts){
			    			if(i.pdCd == data.pdCd){
			    				if(Number(e.target.value) % (Number(i.unitQt)) != 0){
			        				data.qt = (Math.round((Number(data.qt) / Number(i.unitQt))) * Number(i.unitQt));
			        			}
			    				if((data.qt) % (Number(i.unitQt)*2) != 0){
			    	    			data.qt += Number(i.unitQt);
			    	    		}
			    			}
			    		}
		    		}
		    		editor2.value = data.qt;
		    	    successFunc()
		    	}
		    })
		    function successFunc(){
		        success(editor2.value);
		    }
			return editor2;
		}*/
		
		var table2 = new Tabulator("#productionPlan-table2", {
			height:"100%",
			layout:"fitDataFill",
			index:"rownum",
		    columns:[
		    	{field:"rownum", width:50, hozAlign:"center", formatter:"rownum", resizable:false, frozen:true, headerSort:false},
		    	{title:"제품코드", field:"pdCd", hozAlign:"center", width:200, editor:"list", headerHozAlign: "center",
		    		editorParams:{values: pdCds, freetext:false},
		    		cellEdited: function(cell) {
		    			console.log(cell._cell.row.data)
		    			for(let i of pdNames){
		    				if(i.pdCd == cell._cell.row.data.pdCd){
		    					i.rownum = cell._cell.row.data.rownum
		    					table2.updateData([i])
		    				}
		    			}
					},
				},
		        {title:"상품명", field:"pdName", width:300, hozAlign:"center", headerHozAlign: "center"},
		        {title:"수량", field:"qt", hozAlign:"center", validator:["min:0", "numeric"], width:100, headerHozAlign: "center",
		        	/*editor:dateEditor5,
		        	cellEdited: function(cell) {
		    			let tables = table2.getData();
		    			for(let i of tables){
		    				if(cell._cell.row.data.rownum == i.rownum && cell._cell.row.data.pdtSttTime != "" && cell._cell.row.data.pdtSttTime != undefined){
		    					let date1 = new Date(2020, 6, 1, cell._cell.row.data.pdtSttTime.substring(0,2), cell._cell.row.data.pdtSttTime.substring(3,5), cell._cell.row.data.pdtSttTime.substring(6,8));
		    					let date2 = new Date(2020, 6, 2, 0, 0, 0)
		    					if(cell._cell.row.data.qt == null){
		    						cell._cell.row.data.qt = 0
		    					}
		    					let addMit = (cell._cell.row.data.qt/24) * 30
		    					date1.setMinutes(date1.getMinutes() + addMit)
		    					if(date2 < date1){
		    						i.pdtSttTime = null;
		    						i.pdtexptFnTime = null;
		    						alert('해당 날짜를 초과하는 시간입니다.')
		    					}else{
		    						i.pdtexptFnTime = getDateStr2(date1).substring(11,20)
		    					}
			    			}
		    			}
		    			console.log(tables)
		    			table2.updateData(tables)
					},*/},
		        {title:"생산시작시간", field:"pdtSttTime", hozAlign:"center", width:240, editor:"time", headerHozAlign: "center", editorParams:{
		            format:"HH:mm:ss",
		            verticalNavigation:"table",
		            elementAttributes:{
		                title:"slide bar to choose option",
		            },
		        },
		        cellEdited: function(cell) {
	    			let tables = table2.getData();
	    			let count = 0;
	    			let count2 = 0;
	    			//console.log(new Date(planDay2.value + " " + cell._cell.row.data.pdtSttTime))
	    			//console.log(cell._cell.row.data.pdtSttTime)
	    			if(nonopFcLists != []){
	    				let nonLength = nonopFcLists[0].totFc;
	    				let thatDays = new Date(planDay2.value + " " + cell._cell.row.data.pdtSttTime)
	    				for(let j of nonopFcLists){
	    					
		    				if(new Date(j.nonopFnTime) >= thatDays && new Date(j.nonopSttTime) <= thatDays.setMinutes(thatDays.getMinutes() + 30)){
		    					count++;
		    				}
		    			}
	    				
		    			//console.log(count) // 못도는 기계숫자
		    			
		    			
		    			let thatDays2 = new Date(planDay2.value + " " + cell._cell.row.data.pdtSttTime)
		    			let thatDays3 = new Date(planDay2.value + " " + cell._cell.row.data.pdtSttTime)
		    			thatDays3.setMinutes(thatDays3.getMinutes() + 30)
	    				for(let i of tables){
		    					let t2 = new Date(planDay2.value + " " + i.pdtSttTime) //전체선택의 시작시점
		    					let t3 = new Date(planDay2.value + " " + i.pdtSttTime) //전체선택의 종료시점
		    					t3.setMinutes(t3.getMinutes() + 30);
	    				//console.log(t2)
	    				//console.log(t3)
	    				//console.log(thatDays2)
	    					if(t3 >= thatDays2 && thatDays3 <= t2 || thatDays2 <= t2 && thatDays3 >= t2 || thatDays2 <= t2 && thatDays3 <= t3 && thatDays3 >= t2 || thatDays2 >= t2 && thatDays3 >= t3 && thatDays2 <= t3){
		    					count2++;
		    				}
	    				}
	    				let tfs = true;
	    				//console.log(count2) // 못도는 시간대
	    				//console.log(nonLength)
	    				if(count2 > (nonLength-count)){
	    					alert('점검예약으로 인해 해당 시간에 더이상 지시등록이 불가능합니다.')
	    					for(let i of tables){
	    	    				if(cell._cell.row.data.rownum == i.rownum && cell._cell.row.data.pdtSttTime != ""){
	    	    						i.pdtSttTime = null;
	    	    						i.pdtexptFnTime = null;
	    	    						tfs = false;
	    		    			}
	    	    			}
	    				}
	    				for(let i of tables){
		    				if(cell._cell.row.data.rownum == i.rownum && cell._cell.row.data.pdtSttTime != ""){
		    					let date1 = new Date(2020, 6, 1, cell._cell.row.data.pdtSttTime.substring(0,2), cell._cell.row.data.pdtSttTime.substring(3,5), cell._cell.row.data.pdtSttTime.substring(6,8));
		    					let date2 = new Date(2020, 6, 2, 0, 0, 0)
		    					if(cell._cell.row.data.qt == null){
		    						cell._cell.row.data.qt = 0
		    					}
		    					let addMit = (cell._cell.row.data.qt/24) * 30
		    					date1.setMinutes(date1.getMinutes() + addMit)
		    					if(date2 < date1){
		    						i.pdtSttTime = null;
		    						i.pdtexptFnTime = null;
		    						alert('해당 날짜를 초과하는 시간입니다.')
		    					}else if(tfs){
		    						//console.log(getDateStr2(date1).substring(11,20))
		    						i.pdtexptFnTime = getDateStr2(date1).substring(11,20)
		    					}
			    			}
		    			}
	    			}else{
	    				for(let i of tables){
		    				if(cell._cell.row.data.rownum == i.rownum && cell._cell.row.data.pdtSttTime != ""){
		    					let date1 = new Date(2020, 6, 1, cell._cell.row.data.pdtSttTime.substring(0,2), cell._cell.row.data.pdtSttTime.substring(3,5), cell._cell.row.data.pdtSttTime.substring(6,8));
		    					let date2 = new Date(2020, 6, 2, 0, 0, 0)
		    					if(cell._cell.row.data.qt == null){
		    						cell._cell.row.data.qt = 0
		    					}
		    					let addMit = (cell._cell.row.data.qt/24) * 30
		    					date1.setMinutes(date1.getMinutes() + addMit)
		    					if(date2 < date1){
		    						i.pdtSttTime = null;
		    						i.pdtexptFnTime = null;
		    						alert('해당 날짜를 초과하는 시간입니다.')
		    					}else{
		    						//console.log(getDateStr2(date1).substring(11,20))
		    						i.pdtexptFnTime = getDateStr2(date1).substring(11,20)
		    					}
			    			}
		    			}
	    			}
	    			
	    			console.log(tables)
	    			table2.updateData(tables)
				},
		        },
		        {title:"생산예상종료시간", field:"pdtexptFnTime", width:240, hozAlign:"center", headerHozAlign: "center"},
		        {title:"수정가능여부", field:"compSt", hozAlign:"center", width:150, headerHozAlign: "center"},
		        {title:"삭제", formatter:"buttonCross", width:80, hozAlign:"center", headerHozAlign: "center", cellClick:function(e, cell){
		    			if(table2.getDataCount() != 0){
		    				//console.log(table2.getDataCount())
		    				//console.log(cell._cell.row.data.rownum)
							let tables = table2.getData();
							let count = 1;
							let tables2 = []
							for(let i of tables){
								//console.log(i.rownum)
								if(cell._cell.row.data.rownum != i.rownum){
									i.rownum = count;
									count++;
									tables2.push(i)
								}
							}
							table2.setData(tables2)
						}
						//cell.getRow().delete();
		        }}
		    ],
		});
		
		//행 추가
		document.getElementById("addBtn").addEventListener("click", function (){
			addRows()
			});
		
		function addRows(){
			//console.log(table2.getDataCount())
			//console.log(table2.getData())
			
			if(table2.getDataCount() != 0){
				let tables = table2.getData();
				let count = 1;
				for(let i of tables){
					i.rownum = count;
					count++;
				}
				console.log(tables)
				table2.updateData(tables)
			}
			
	    	table2.addRow({"compSt" : "O", "rownum": table2.getDataCount() + 1,"qt" : 24});
		}
		
		
		// 주간 생산계획조회 데이터
		function instListReq() {
			fetch("/ajax/instList")
			.then(res => res.json())
			.then(res => instLists = res)
		}
		
		//날짜
		function getDateStr(myDate){
			var year = myDate.getFullYear();
			var month = (myDate.getMonth() + 1);
			var day = myDate.getDate();
			
			month = (month < 10) ? "0" + String(month) : month;
			day = (day < 10) ? "0" + String(day) : day;
			
			return  (year + '-' + month + '-' + day );
		}
		
		//초단위 날짜
		function getDateStr2(myDate){
			var year = myDate.getFullYear();
			var month = (myDate.getMonth() + 1);
			var day = myDate.getDate();
			var hur = myDate.getHours();
			var min = myDate.getMinutes();
			var sec = myDate.getSeconds();
			
			month = (month < 10) ? "0" + String(month) : month;
			day = (day < 10) ? "0" + String(day) : day;
			hur = (hur < 10) ? "0" + String(hur) : hur;
			min = (min < 10) ? "0" + String(min) : min;
			sec = (sec < 10) ? "0" + String(sec) : sec;
			
			return  (year + '-' + month + '-' + day + " " + hur + ":" + min + ":" + sec);
		}
		
		//지시상세 데이터 포멧
		function InstDetailData() {
		  let newArr1 = [];
		  let tables = table2.getData();
			  for(let i of tables){
				  newArr1.push({
		    			pdCd : i.pdCd,
		    			qt : Number(i.qt), 
			  			pdtSttTime : planDay2.value + " " + i.pdtSttTime,
		    			pdtexptFnTime : planDay2.value + " " + i.pdtexptFnTime,
		    			compSt : 1,
		    			pdtInstDt : planDay2.value
		 			});  
			  }
			  return newArr1;
		}
		
		selectNav();
		
		function selectNav() {
			mainPage.classList.remove('active');
			prdt.classList.add('active');
			prdt.classList.add('open');
			prdt_prdtInst.classList.add('active');
		}
		</script>
	</div>
</body>
</html>