<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>연간생산 계획현황</title>
</head>
<body>
<div layout:fragment="content">
	<div class="container-xxl flex-grow-1 container-p-y">
        <div class="nav-item d-flex align-items-center pagetitle">
		<div class="mt-3 mb-3 ">
			<div class="mt-3">
		    	<h3 class="fw-bold"><span class="text-muted fw-light">생산 관리 /</span> 연간 생산 현황</h3>
		    </div>
	    </div>
	</div>
	<div class="demo-inline-spacing">
		<div class="d-flex mt-5">
	  		<div class="p-2 flex-grow-1"></div>
	  		<div class="p-2"><button class="btn btn-success" id="download-xlsx">Excel</button></div>
		</div>
	</div>
	<div id="example-table"></div>
<script>
	selectNav();
	monthsList();
	
	// 연간계획조회 데이터
	function monthsList() {
		fetch("/ajax/monthsList")
		.then(res => res.json())
		.then(res => table.setData(res))
	}
	
	
	//연간 생산 데이터
	let tableData = [
	    {month:1, name1:"5/5", name2:"12/1", name3:"12/1", name4:"12/1", name5:"12/1", total:"100", significant:"없음"},
	    {month:2, name1:"5/5", name2:"1/1", name3:"12/1", name4:"12/1", name5:"12/1", total:"100", significant:"없음"},
	    {month:3, name1:"5/5", name2:"42/1", name3:"12/1", name4:"12/1", name5:"12/1", total:"100", significant:"없음"},
	    {month:4, name1:"5/5", name2:"125/1", name3:"12/1", name4:"12/1", name5:"12/1", total:"100", significant:"없음"},
	    {month:5, name1:"5/5", name2:"16/1", name3:"12/1", name4:"12/1", name5:"12/1", total:"100", significant:"없음"},
	    {month:6, name1:"5/5", name2:"16/1", name3:"12/1", name4:"12/1", name5:"12/1", total:"100", significant:"없음"},
	    {month:7, name1:"5/5", name2:"16/1", name3:"12/1", name4:"12/1", name5:"12/1", total:"100", significant:"없음"},
	    {month:8, name1:"5/5", name2:"16/1", name3:"12/1", name4:"12/1", name5:"12/1", total:"100", significant:"없음"},
	    {month:9, name1:"5/5", name2:"16/1", name3:"12/1", name4:"12/1", name5:"12/1", total:"100", significant:"없음"},
	    {month:10, name1:"5/5", name2:"16/1", name3:"12/1", name4:"12/1", name5:"12/1", total:"100", significant:"없음"},
	    {month:11, name1:"5/5", name2:"16/1", name3:"12/1", name4:"12/1", name5:"12/1", total:"100", significant:"없음"},
	    {month:12, name1:"5/5", name2:"16/1", name3:"12/1", name4:"12/1", name5:"12/1", total:"100", significant:"없음"},
	];
	
	var table = new Tabulator("#example-table", {
	    height:"100%",
	    layout:"fitColumns",
	    //data:tableData,
	    placeholder:"데이터가 뜨는데 2초정도 걸립니다.",
	    columns:[
	        {title:"월", field:"months",hozAlign:"center", headerSort:false, width:50, headerHozAlign: "center"},
	        {title:"콜롬비아(kg)", field:"pcb01",hozAlign:"center", headerSort:false, width:90, headerHozAlign: "center"},
	        {title:"코스타리카(kg)", field:"pct01",hozAlign:"center", headerSort:false, width:100, headerHozAlign: "center"},
	        {title:"브라질(kg)", field:"pbr01",hozAlign:"center", headerSort:false, width:90, headerHozAlign: "center"},
	        {title:"에티오피아(kg)", field:"pet01",hozAlign:"center", headerSort:false, width:100, headerHozAlign: "center"},
	        {title:"페루(kg)", field:"ppr01",hozAlign:"center", headerSort:false, width:90, headerHozAlign: "center"},
	        {title:"총 생산량(kg)", field:"sums",hozAlign:"center", headerSort:false, width:100, headerHozAlign: "center"},
	        {title:"특이사항", field:"insCont", hozAlign:"left", headerSort:false, headerHozAlign: "center"},
	    ],
	});
	
	document.getElementById("download-xlsx").addEventListener("click", function(){
	    table.download("xlsx", "연간생산계획.xlsx", {sheetName:"My Data"});
	});
	
	
	function selectNav() {
		mainPage.classList.remove('active');
		prdt.classList.add('active');
		prdt.classList.add('open');
		prdt_prdtYearState.classList.add('active');
	}
</script>
</div>
</div>
</body>
</html>