<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
	
	<h1>생산내역조회</h1>
		<div class="demo-inline-spacing">
		<button id="saveBtn"
	        type="button"
	        class="btn btn-primary">
	        일정 등록
	    </button>
	</div>
<script>
	saveBtn.addEventListener("click", e=> {
		location.href='/production/planRegist'
	})
</script>
</div>
</body>
</html>