<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">

		<h1>주간생산 계획관리</h1>
		<div class="demo-inline-spacing">
		
		<div class="d-flex mt-5">
	  		<div class="p-2 flex-grow-1"><h3>생산주간 계획조회</h3></div>
	  		<div class="p-2"><button type="button" class="btn btn-primary" id="saveBtn1">등록</button></div>
		</div>
		<div id="productionPlan-table"></div>
			
		<div class="d-flex align-items-start bd-highlight mb-3">
				<div class="col-md-6">
					<div class="d-flex mt-5" style="margin-bottom: 10px;">
						<div class="p-2 flex-grow-1"><span style="font-size: 24px;">생산주간 계획조회</span><span class="dayy" style="font-size: 18px;"></span></div>
					</div>
					<div id="productionPlan-table3"></div>
				</div>
				<div class="col-md-6">
					<div class="d-flex mt-5" style="margin-bottom: 10px;">
	  					<div class="p-2 flex-grow-1"><span style="font-size: 24px;">발주/주간필요 자재량 조회</span></div>
	  					<!-- <div class="p-2"><button type="button" class="btn btn-warning" id="orderBnt" style="display:none">발주신청</button></div> -->
					</div>
					<div id="example-table2"></div>
				</div>
			</div>
		</div>
		<script>
		listReq();
		
	saveBtn1.addEventListener("click", e=> {
		location.href='/production/planRegist'
	})
	
	//수정버튼
	var editorIcon = function(cell, formatterParams, onRendered) {
		console.log(cell._cell.row.data.wkPlanSttDt);
		if(cell._cell.row.data.wkPlanSttDt < lastWeek(new Date())){
			return null;	
		}else{
  			return "<button class='btn btn-info btn-sm'>수정</button>";
		}
	}
	
	var table = new Tabulator("#productionPlan-table", {
    height:"100%",
    layout:"fitDataFill",
    columns:[
        {title:"계획코드", field:"pdtPlanCd", hozAlign:"center", width:320},
        {title:"계획기간", field:"wkPlanSttDt", hozAlign:"center", width:320},
        {title:"상품명", field:"plantot", hozAlign:"center", width:320},
        {title:"총 예상 원두생산 수량(kg)", field:"psum", hozAlign:"center", width:320},
        {title:"수정", field:"updates",width:90,formatter: editorIcon, hozAlign:"center",resizable:false, headerSort:false,
            cellClick:function(e, cell){
            	console.log(cell._cell.row.data.pdtPlanCd);
            	let pdtPlanCd = cell._cell.row.data.pdtPlanCd;
            	console.log(cell._cell.row.data.wkPlanSttDt);
            	
            	//수정중
            	if(cell._cell.row.data.wkPlanSttDt >= lastWeek(new Date())){
            		fetch("/ajax/planDetailList/"+ pdtPlanCd)
            		.then(res => res.json())
            		.then(res => {
            			
            		})
            		
            		
            		alert("수정창으로 이동");
        		//location.href= "/production/planRegist/"+ pdtPlanCd;
            	}
            }
        },
    ],
});
	var table2 = new Tabulator("#example-table2", {
	height:"100%",
	layout:"fitDataTable",
    columns:[
        {title:"자재코드", field:"mtCd", hozAlign:"center"},
        {title:"분류", field:"mtDiv", hozAlign:"center"},
        {title:"자재명", field:"mtName", hozAlign:"center"},
        {title:"발주 단위", field:"unit", hozAlign:"center"},
        {title:"발주/필요 자재량", field:"placeodQt", hozAlign:"center"},
    ],
});
	var table3 = new Tabulator("#productionPlan-table3", {
	height:"100%",
    layout:"fitDataTable",
    columns:[
        {title:"상품명", field:"pdName", hozAlign:"center"},
        {title:"총 예상 생산 수량(kg)", field:"qt", hozAlign:"center"},
        {title:"납기 일자", field:"dueDt", hozAlign:"center"},
    ],
});
	
	// 주간 생산계획조회 데이터
	function listReq() {
		fetch("/ajax/planList")
		.then(res => res.json())
		.then(res => table.setData(res))
	}
	
	// 주간 생산계획 버튼 이벤트
	table.on("rowClick", function(e, row){
		let pdtPlanCd = row.getData().pdtPlanCd;
		let wkPlanSttDt = row.getData().wkPlanSttDt;
		
		let days = `(${weekNumOfMonth(wkPlanSttDt)[1]} ${weekNumOfMonth(wkPlanSttDt)[0]})`
		document.querySelector(".dayy").innerText = days
		
		/*if(wkPlanSttDt > lastWeek()  && wkPlanSttDt <= getDateStr(new Date())){
			orderBnt.style.display = "block";
		}else{
			orderBnt.style.display = "none";
		}*/
		console.log(pdtPlanCd);
		
		fetch("/ajax/planDetailList/"+ pdtPlanCd)
		.then(res => res.json())
		.then(res => {
			table3.setData(res)
		})
		
		fetch("/ajax/qnttMtrlList/"+ pdtPlanCd)
		.then(res => res.json())
		.then(res => {
			table2.setData(res)
		})
		
	});
	
	//날짜
	function getDateStr(myDate){
		var year = myDate.getFullYear();
		var month = (myDate.getMonth() + 1);
		var day = myDate.getDate();
		
		month = (month < 10) ? "0" + String(month) : month;
		day = (day < 10) ? "0" + String(day) : day;
		
		return  (year + '-' + month + '-' + day );
	}
	
	//5일전
	function lastWeek() {
		  var d = new Date();
		  var dayOfMonth = d.getDate();
		  d.setDate(dayOfMonth - 5);
		  return getDateStr(d);
	}
	
	
	// 월 주차 판단
	function weekNumOfMonth(date){
		let dates = new Date(date)
		var WEEK_KOR = ["첫째주", "둘째주", "셋째주", "넷째주", "다섯째주"];
		var THURSDAY_NUM = 4;	// 첫째주의 기준은 목요일(4)이다. 
		console.log(dates);

		var firstDate = new Date(dates.getFullYear(), dates.getMonth(), 1);
		var firstDayOfWeek = firstDate.getDay();

		var firstThursday = 1 + THURSDAY_NUM - firstDayOfWeek;	// 첫째주 목요일
		if(firstThursday <= 0){
			firstThursday = firstThursday + 7;	// 한주는 7일
		}
		var untilDateOfFirstWeek = firstThursday-7+3;	// 월요일기준으로 계산 (월요일부터 한주의 시작)
		var weekNum = Math.ceil((dates.getDate()-untilDateOfFirstWeek) / 7) - 1;

		if(weekNum < 0){	// 첫째주 이하일 경우 전월 마지막주 계산
			var lastDateOfMonth = new Date(dates.getFullYear(), dates.getMonth(), 0);
		 	var result = Util.Date.weekNumOfMonth(lastDateOfMonth);
		 	return result;
		}

		return [WEEK_KOR[weekNum], (dates.getMonth()+1)+'월'];
	}
	</script>
	</div>
</body>
</html>