<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>주간생산 계획관리</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="container-xxl flex-grow-1 container-p-y">
        <div class="nav-item d-flex align-items-center pagetitle">
		<div class="mt-3 mb-3 ">
			<div class="mt-3">
		    	<h3 class="fw-bold"><span class="text-muted fw-light">생산 관리 /</span> 생산 계획 관리</h3>
		    </div>
	    </div>
	</div>
		<div class="demo-inline-spacing">
		
		<div class="d-flex mt-5">
	  		<div class="p-2 flex-grow-1"><h3>생산주간 계획조회</h3></div>
	  		<div class="p-2"><button type="button" class="btn btn-primary" id="saveBtn1">등록</button></div>
		</div>
		<div id="productionPlan-table"></div>
			
		<div class="d-flex align-items-start bd-highlight mb-3">
				<div class="col-md-6">
					<div class="d-flex mt-5" style="margin-bottom: 10px;">
						<div class="p-2 flex-grow-1"><span style="font-size: 24px;">생산주간 계획조회</span><span class="dayy" style="font-size: 18px;"></span></div>
					</div>
					<div id="productionPlan-table3"></div>
				</div>
				<div class="col-md-6">
					<div class="d-flex mt-5" style="margin-bottom: 10px;">
	  					<div class="p-2 flex-grow-1"><span style="font-size: 24px;">발주/주간필요 자재량 조회</span></div>
	  					<!-- <div class="p-2"><button type="button" class="btn btn-warning" id="orderBnt" style="display:none">발주신청</button></div> -->
					</div>
					<div id="example-table2"></div>
				</div>
			</div>
		</div>
		<script>
		listReq();
		
	saveBtn1.addEventListener("click", e=> {
		location.href='/prdt/production/planRegist'
	})
	
	//수정버튼
	var editorIcon = function(cell, formatterParams, onRendered) {
		if(cell._cell.row.data.wkPlanSttDt <= getDateStr(new Date())){
			return null;	
		}else{
  			return "<button class='btn btn-info btn-sm'>수정</button>";
		}
	}
	//삭제버튼
	var editorIcon2 = function(cell, formatterParams, onRendered) {
		console.log(cell._cell.row.data.wkPlanSttDt);
		//console.log(lastWeek(new Date()));
		if(cell._cell.row.data.wkPlanSttDt <= getDateStr(new Date())){
			return null;	
		}else{
  			return "<button class='btn btn-danger btn-sm'>삭제</button>";
		}
	}
	
	var table = new Tabulator("#productionPlan-table", {
    height:"100%",
    layout:"fitDataFill",
    pagination:"local",
    paginationSize:8,
    paginationCounter:"rows",
    selectableRows:true,
    columns:[
        {title:"계획코드", field:"pdtPlanCd", hozAlign:"center", width:240, headerHozAlign: "center"},
        {title:"계획기간", field:"wkPlanSttDt", hozAlign:"center", width:280, headerHozAlign: "center"},
        {title:"상품명", field:"plantot", hozAlign:"center", width:330, headerHozAlign: "center"},
        {title:"총 예상 원두생산 수량(kg)", field:"psum", hozAlign:"center", width:280, headerHozAlign: "center"},
        {title:"수정", field:"updates",width:90,formatter: editorIcon, hozAlign:"center",resizable:false, headerSort:false, headerHozAlign: "center",
            cellClick:function(e, cell){
            	console.log(cell._cell.row.data.pdtPlanCd);
            	let pdtPlanCd = cell._cell.row.data.pdtPlanCd;
            	console.log(cell._cell.row.data.wkPlanSttDt);
            	
            	//수정중
            	if(cell._cell.row.data.wkPlanSttDt > getDateStr(new Date())){
            		/*fetch("/ajax/planDetailList/"+ pdtPlanCd)
            		.then(res => res.json())
            		.then(res => {
            			console.log(res)
            		})*/
        			location.href= "/prdt/production/planRegist?pdtPlanCd="+ pdtPlanCd;
            	}
            }
        },
        {title:"삭제", formatter:editorIcon2, width:90, hozAlign:"center", headerHozAlign: "center", cellClick:function(e, cell){
        	let pdtPlanCd = cell._cell.row.data.pdtPlanCd;
            			console.log(pdtPlanCd)
        	if(cell._cell.row.data.wkPlanSttDt > getDateStr(new Date())){
        		if(confirm("삭제하시겠습니까?")) {
        			fetch("/ajax/planDelete/"+ pdtPlanCd)
            		.then(res => {
            			console.log(res)
            			if(res.ok){
            				//alert('삭제가 완료되었습니다.')
            				Swal.fire("삭제가 완료되었습니다.");
            				cell.getRow().delete();
            			}else{
            				Swal.fire("삭제가 실패하였습니다.");
            				//alert('삭제가 실패하였습니다.')
            			}
            		})
            	}
        	}
        }}
    ],
});
	var table2 = new Tabulator("#example-table2", {
	height:"100%",
	layout:"fitDataTable",
    columns:[
        {title:"자재명", field:"mtName", hozAlign:"left", headerHozAlign: "center",width:180},
        {title:"자재코드", field:"mtCd", hozAlign:"center", headerHozAlign: "center",width:180},
        {title:"분류", field:"mtDiv", hozAlign:"center", headerHozAlign: "center",width:100},
        {title:"발주 단위", field:"unit", hozAlign:"center", headerHozAlign: "center"},
        {title:"발주/필요 자재량", field:"placeodQt", hozAlign:"center", headerHozAlign: "center"},
    ],
});
	var table3 = new Tabulator("#productionPlan-table3", {
	height:"100%",
    layout:"fitDataTable",
    columns:[
        {title:"상품명", field:"pdName", hozAlign:"left", headerHozAlign: "center"},
        {title:"총 예상 생산 수량(kg)", field:"qt", hozAlign:"center", headerHozAlign: "center"},
        {title:"납기 일자", field:"dueDt", hozAlign:"center", headerHozAlign: "center"},
    ],
});
	
	// 주간 생산계획조회 데이터
	function listReq() {
		fetch("/ajax/planList")
		.then(res => res.json())
		.then(res => table.setData(res))
	}
	
	// 주간 생산계획 버튼 이벤트
	table.on("rowClick", function(e, row){
		let pdtPlanCd = row.getData().pdtPlanCd;
		let wkPlanSttDt = row.getData().wkPlanSttDt;
		
		let days = `(${weekNumOfMonth(wkPlanSttDt)[1]} ${weekNumOfMonth(wkPlanSttDt)[0]})`
		document.querySelector(".dayy").innerText = days
		table.deselectRow();
		table.selectRow(row);
		/*if(wkPlanSttDt > lastWeek()  && wkPlanSttDt <= getDateStr(new Date())){
			orderBnt.style.display = "block";
		}else{
			orderBnt.style.display = "none";
		}*/
		console.log(pdtPlanCd);
		
		fetch("/ajax/planDetailList/"+ pdtPlanCd)
		.then(res => res.json())
		.then(res => {
			table3.setData(res)
		})
		
		fetch("/ajax/qnttMtrlList/"+ pdtPlanCd)
		.then(res => res.json())
		.then(res => {
			table2.setData(res)
		})
		
	});
	
	//날짜
	function getDateStr(myDate){
		var year = myDate.getFullYear();
		var month = (myDate.getMonth() + 1);
		var day = myDate.getDate();
		
		month = (month < 10) ? "0" + String(month) : month;
		day = (day < 10) ? "0" + String(day) : day;
		
		return  (year + '-' + month + '-' + day );
	}
	
	//5일전
	function lastWeek() {
		  var d = new Date();
		  var dayOfMonth = d.getDate();
		  d.setDate(dayOfMonth - 5);
		  return getDateStr(d);
	}
	
	
	// 월 주차 판단
	function weekNumOfMonth(date){
		let dates = new Date(date)
		var WEEK_KOR = ["1주차", "2주차", "3주차", "4주차", "5주차"];
		var THURSDAY_NUM = 4;	// 첫째주의 기준은 목요일(4)이다. 
		console.log(dates);

		var firstDate = new Date(dates.getFullYear(), dates.getMonth(), 1);
		var firstDayOfWeek = firstDate.getDay();

		var firstThursday = 1 + THURSDAY_NUM - firstDayOfWeek;	// 첫째주 목요일
		if(firstThursday <= 0){
			firstThursday = firstThursday + 7;	// 한주는 7일
		}
		var untilDateOfFirstWeek = firstThursday-7+3;	// 월요일기준으로 계산 (월요일부터 한주의 시작)
		var weekNum = Math.ceil((dates.getDate()-untilDateOfFirstWeek) / 7) - 1;

		if(weekNum < 0){	// 첫째주 이하일 경우 전월 마지막주 계산
			var lastDateOfMonth = new Date(dates.getFullYear(), dates.getMonth(), 0);
		 	var result = Util.Date.weekNumOfMonth(lastDateOfMonth);
		 	return result;
		}

		return [WEEK_KOR[weekNum], (dates.getMonth()+1)+'월'];
	}
	
	selectNav();
	
	function selectNav() {
		mainPage.classList.remove('active');
		prdt.classList.add('active');
		prdt.classList.add('open');
		prdt_plan.classList.add('active');
	}
	</script>
	</div>
</body>
</html>