<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/index}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>지시내역현황</title>
</head>
<body>
<div layout:fragment="content">
	
	<h1>생산 지시내역현황</h1>
		<div class="demo-inline-spacing">
		<div class="d-flex mt-5">
	  		<div class="p-2 flex-grow-1"><h3>생산 지시조회</h3></div>
	  		<div class="p-2"><button type="button" class="btn btn-warning pdfs" id="download-pdf2">pdf</button></div>
		</div>
		<div id="productionPlan-table"></div>
		<div class="d-flex mt-5">
	  		<div class="p-2 flex-grow-1"><h3>생산지시상세 및 생산 현황</h3></div>
	  		<div class="p-2"><button type="button" class="btn btn-warning pdfs" id="download-pdf">pdf</button></div>
		</div>
		<div id="productionPlan-table2"></div>
		</div>
		<div class="d-flex mt-5">
		<div id="productionPlan-table3"></div>
		</div>
		<div class="d-flex mt-5">
	  		<div class="p-2 flex-grow-1"><h3>생산지시상세 진행현황</h3></div>
		</div>
		<div id="productionPlan-table4"></div>
		
		<script src="/js/font.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.20/jspdf.plugin.autotable.min.js"></script>
<script th:inline="javascript">
	let dates = '';
	$(window).on("load",function(e) {
		listReq();
		
	})
	
	//아이디
	let memId = document.querySelector(".memId").innerText
	//권한
	let memAuth = document.querySelector(".memAuth").innerText
	
	//수정버튼
	var editorIcon = function(cell, formatterParams, onRendered) {
		if(cell._cell.row.data.pdtInstDt < getDateStr(new Date())){
			return null;	
		}else{
  			return "<button class='btn btn-info btn-sm'>수정</button>";
		}
	}
	
	
	var table = new Tabulator("#productionPlan-table", {
    height:"100%",
    layout:"fitDataFill",
    pagination:"local",
    paginationSize:8,
    paginationCounter:"rows",
    columns:[
        {title:"계획일자", field:"pdtInstDt", hozAlign:"center", width:220, headerHozAlign: "center"},
        {title:"상품명", field:"insttot", hozAlign:"left", width:400, headerHozAlign: "center"},
        {title:"총 원두생산 수량(kg)", field:"isum", hozAlign:"center", width:400, headerHozAlign: "center"},
        {title:"총 예상작업시간(시간)", field:"msum", hozAlign:"center", width:350, headerHozAlign: "center"},
    ],
});
	
	var table2 = new Tabulator("#productionPlan-table2", {
		height:"100%",
		layout:"fitDataFill",
	    columnDefaults:{
	        headerSort:false,
	        resizable:"header",
	    },
	    columns:[
	        {title:"생산상품코드", field:"pdCd", hozAlign:"center", width:200, headerHozAlign: "center"},
	        {title:"상품명", field:"pdName", hozAlign:"left", width:320, headerHozAlign: "center"},
	        {title:"수량", field:"qt", hozAlign:"center", width:200, headerHozAlign: "center"},
	        {title:"생산시작시간", field:"pdtSttTime", hozAlign:"center", width:320, headerHozAlign: "center"},
	        {title:"생산예상종료시간", field:"pdtexptFnTime", hozAlign:"center", width:320, headerHozAlign: "center"},
	    ],
	});
	
	var table3 = new Tabulator("#productionPlan-table3", {
		height:"100%",
		layout:"fitDataFill",
	    columnDefaults:{
	        headerSort:false,
	        resizable:"header",
	    },
	    columns:[
	        {title:"생산상품코드", field:"pdCd", hozAlign:"center", width:330, headerHozAlign: "center"},
	        {title:"생산 목표량", field:"pdtTargetQt", hozAlign:"center", width:350, headerHozAlign: "center"},
	        {title:"생산 현황", field:"pdtNowQt", hozAlign:"center", width:350, headerHozAlign: "center"},
	        {title:"남은 목표량", field:"pdtRemainQt", hozAlign:"center", width:350, headerHozAlign: "center"},
	    ],
	});
	
	var table4 = new Tabulator("#productionPlan-table4", {
		height:"100%",
		layout:"fitDataFill",
	    columnDefaults:{
	        headerSort:false,
	        resizable:"header",
	    },
	    columns:[
	        {title:"생산상품코드", field:"pdCd", hozAlign:"center", width:150, headerHozAlign: "center"},
	        {title:"생산시작시간", field:"pdtSttTime", hozAlign:"center", width:230, headerHozAlign: "center"},
	        {title:"예열 및 대기", field:"process1", hozAlign:"center", width:100, headerHozAlign: "center"},
	        {title:"투입", field:"process2", hozAlign:"center", width:100, headerHozAlign: "center"},
	        {title:"1차크랙", field:"process3", hozAlign:"center", width:100, headerHozAlign: "center"},
	        {title:"2차크랙", field:"process4", hozAlign:"center", width:100, headerHozAlign: "center"},
	        {title:"배출", field:"process5", hozAlign:"center", width:100, headerHozAlign: "center"},
	        {title:"공정검사", field:"process6", hozAlign:"center", width:100, headerHozAlign: "center"},
	        {title:"냉각", field:"process7", hozAlign:"center", width:100, headerHozAlign: "center"},
	        {title:"봉지포장", field:"process8", hozAlign:"center", width:100, headerHozAlign: "center"},
	        {title:"포장검사", field:"process9", hozAlign:"center", width:100, headerHozAlign: "center"},
	        {title:"입고", field:"process10", hozAlign:"center", width:100, headerHozAlign: "center"},
	    ],
	});
	
	// 주간 생산계획조회 데이터
	function listReq() {
		fetch("/ajax/instList")
		.then(res => res.json())
		.then(res => table.setData(res))
	}
	
	// 주간 생산계획 버튼 이벤트
	table.on("rowClick", function(e, row){
		let pdtInstNo = row.getData().pdtInstNo;
		let pdtDt = row.getData().pdtInstDt;
		let param = {"pdtDt" : pdtDt}
		let param1 = {"pdtInstDt" : pdtDt}
		
		fetch("/ajax/todayProductList",{
					method : "post",
					headers: {
					      "Content-Type": "application/json",
					    },
					body : JSON.stringify(param)
				})
				.then(res => res.json())
				.then(res => table3.setData(res))
		
		fetch("/ajax/instDetailList/"+ pdtInstNo)
		.then(res => res.json())
		.then(res => {
			table2.setData(res)
			dates = e.target.parentElement.firstElementChild.innerText
		})
		
		// 생산상세지시 진행현황 데이터
		fetch("/ajax/instDetailProcess",{
			method : "post",
			headers: {
			      "Content-Type": "application/json",
			    },
			body : JSON.stringify(param1)
		})
		.then(res => res.json())
		.then(res => {
			table4.setData(res)
		})
		
		
		
		
	});
	
	selectNav();
	
	function selectNav() {
		mainPage.classList.remove('active');
		prdt.classList.add('active');
		prdt.classList.add('open');
		prdt_prdtHistList.classList.add('active');
	}
	
	//날짜
	function getDateStr(myDate){
		var year = myDate.getFullYear();
		var month = (myDate.getMonth() + 1);
		var day = myDate.getDate();
		
		month = (month < 10) ? "0" + String(month) : month;
		day = (day < 10) ? "0" + String(day) : day;
		
		return  (year + '-' + month + '-' + day );
	}
	
	//초단위 날짜
	function getDateStr2(myDate){
		var year = myDate.getFullYear();
		var month = (myDate.getMonth() + 1);
		var day = myDate.getDate();
		var hur = myDate.getHours();
		var min = myDate.getMinutes();
		var sec = myDate.getSeconds();
		
		month = (month < 10) ? "0" + String(month) : month;
		day = (day < 10) ? "0" + String(day) : day;
		hur = (hur < 10) ? "0" + String(hur) : hur;
		min = (min < 10) ? "0" + String(min) : min;
		sec = (sec < 10) ? "0" + String(sec) : sec;
		
		return  (year + '-' + month + '-' + day + " " + hur + ":" + min + ":" + sec);
	}
	
	//5일전
	function lastWeek() {
		  var d = new Date();
		  var dayOfMonth = d.getDate();
		  d.setDate(dayOfMonth - 5);
		  return getDateStr(d);
	}
	
	
	// 월 주차 판단
	function weekNumOfMonth(date){
		let dates = new Date(date)
		var WEEK_KOR = ["1주차", "2주차", "3주차", "4주차", "5주차"];
		var THURSDAY_NUM = 4;	// 첫째주의 기준은 목요일(4)이다. 
		console.log(dates);

		var firstDate = new Date(dates.getFullYear(), dates.getMonth(), 1);
		var firstDayOfWeek = firstDate.getDay();

		var firstThursday = 1 + THURSDAY_NUM - firstDayOfWeek;	// 첫째주 목요일
		if(firstThursday <= 0){
			firstThursday = firstThursday + 7;	// 한주는 7일
		}
		var untilDateOfFirstWeek = firstThursday-7+3;	// 월요일기준으로 계산 (월요일부터 한주의 시작)
		var weekNum = Math.ceil((dates.getDate()-untilDateOfFirstWeek) / 7) - 1;

		if(weekNum < 0){	// 첫째주 이하일 경우 전월 마지막주 계산
			var lastDateOfMonth = new Date(dates.getFullYear(), dates.getMonth(), 0);
		 	var result = Util.Date.weekNumOfMonth(lastDateOfMonth);
		 	return result;
		}

		return [WEEK_KOR[weekNum], (dates.getMonth()+1)+'월'];
	}
	

	selectNav();
	
	function selectNav() {
		mainPage.classList.remove('active');
		prdt.classList.add('active');
		prdt.classList.add('open');
		prdt_prdtHistList.classList.add('active');
	}

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	//trigger download of data.pdf file
    document.getElementById("download-pdf").addEventListener("click", function () {
      table2.download("pdf", "금일생산지시 상세계획.pdf", {
        orientation: "portrait", // 페이지 방향을 세로로 설정
        title: dates + " 생산지시 계획", // 보고서 제목 설정
    	  autoTable: function(doc) {
    		  doc.addFileToVFS("malgun.ttf", malgunFont);
    		  doc.addFont("malgun.ttf", "malgun", "normal"); 
    		    doc.setFont("malgun");
    		    return {
    		      styles: {
    		        font: "malgun",
    		        fontStyle: "normal"
    		      }
    	  };
    	  }
      });
    });
	//trigger download of data.pdf file
    document.getElementById("download-pdf2").addEventListener("click", function () {
      table.download("pdf", "생산지시 계획.pdf", {
        orientation: "portrait", // 페이지 방향을 세로로 설정
        title: "생산지시 계획", // 보고서 제목 설정
    	  autoTable: function(doc) {
    		  doc.addFileToVFS("malgun.ttf", malgunFont);
    		  doc.addFont("malgun.ttf", "malgun", "normal"); 
    		    doc.setFont("malgun");
    		    return {
    		      styles: {
    		        font: "malgun",
    		        fontStyle: "normal"
    		      }
    	  }
    	  }
      })
    })
     
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
</script>
</div>
</body>
</html>