<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>주간생산 지시관리</title>
<style>
	.malgun{font-family:'malgun';}
	@font-face {
  		font-family: "malgun";
      	src: url("/fonts/malgun.ttf");
	}
</style>
</head>
<body>
<div layout:fragment="content">
	
	<div class="nav-item d-flex align-items-center pagetitle">
		<div class="mt-3 mb-3 ">
			<div class="mt-3">
		    	<h3 class="fw-bold"><span class="text-muted fw-light">생산 관리 /</span> 생산 지시 관리</h3>
		    </div>
	    </div>
	</div>
		<div class="demo-inline-spacing">
		
		<div class="d-flex mt-5">
	  		<div class="p-2 flex-grow-1"><h3>금주생산 지시조회</h3></div>
	  		<div class="p-2"><button type="button" class="btn btn-primary" id="saveBtn1">등록</button></div>
		</div>
		<div id="productionPlan-table"></div>
		<div class="d-flex mt-5">
	  		<div class="p-2 flex-grow-1"><h3>금주생산 지시상세조회</h3></div>
	  		<div class="p-2"><button type="button" class="btn btn-danger deleteBtn1" id="deleteBtn1" style="display: none;">선택삭제</button></div>
	  		<div class="p-2"><button type="button" class="btn btn-warning pdfs" id="download-pdf" style="display: none;">pdf</button></div>
		</div>
		<div id="productionPlan-table2"></div>
		</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.20/jspdf.plugin.autotable.min.js"></script>
<script src="/js/font.js"></script>
<script th:inline="javascript">
	let dates = '';
	let pdfs = document.querySelector('.pdfs');
	let deleteBtn1 = document.querySelector('.deleteBtn1');
	$(window).on("load",function(e) {
		listReq();
		
	})
	
	saveBtn1.addEventListener("click", e=> {
		location.href='/prdt/prdtInstRegist'
	})
	
	deleteBtn1.addEventListener("click", e=> {
		let selectOrder = table2.getSelectedData();
		console.log(selectOrder)
		if(selectOrder != []){
			let param = { instDetailVO : selectOrder};
				fetch("/ajax/instDetailDel2",{
					method : "post",
					headers: {
					      "Content-Type": "application/json",
					    },
					body : JSON.stringify(param)
				})
				.then(res => res.json())
				.then(res => {
					if(res.response == 'ok'){
						//alert('삭제가 완료되었습니다.')
						Swal.fire("삭제가 완료되었습니다.");
						//수정필요
						location.href='/prdt/prdtInst'
					}else{
						//alert('삭제에 실패하였습니다.')
						Swal.fire("삭제에 실패하였습니다.");
					}
				})
		}
	})
	
	//수정버튼
	var editorIcon = function(cell, formatterParams, onRendered) {
		if(cell._cell.row.data.pdtInstDt < getDateStr(new Date())){
			return null;	
		}else{
  			return "<button class='btn btn-info btn-sm'>수정</button>";
		}
	}
	//삭제버튼
	var editorIcon2 = function(cell, formatterParams, onRendered) {
		if(cell._cell.row.data.pdtInstDt <= getDateStr(new Date())){
			return null;	
		}else{
  			return "<button class='btn btn-danger btn-sm'>삭제</button>";
		}
	}
	
	var table = new Tabulator("#productionPlan-table", {
    height:"100%",
    layout:"fitDataFill",
    pagination:"local",
    paginationSize:8,
    paginationCounter:"rows",
    selectableRows:true,
    columns:[
        {title:"계획일자", field:"pdtInstDt", hozAlign:"center", width:200, headerHozAlign: "center"},
        {title:"상품명", field:"insttot", hozAlign:"left", width:520, headerHozAlign: "center"},
        {title:"총 원두생산 수량(kg)", field:"isum", hozAlign:"center", width:280, headerHozAlign: "center"},
        {title:"총 예상작업시간(시간)", field:"msum", hozAlign:"center", width:280, headerHozAlign: "center"},
        {title:"삭제", formatter:editorIcon2, width:90, hozAlign:"center", headerHozAlign: "center", cellClick:function(e, cell){
        	let pdtInstNo = cell._cell.row.data.pdtInstNo;
            			console.log(pdtInstNo)
        	if(cell._cell.row.data.pdtInstDt > getDateStr(new Date())){
        		if(confirm("삭제하시겠습니까?")) {
        			fetch("/ajax/instDetailDel/"+ pdtInstNo)
            		.then(res => {
            			console.log(res)
            			if(res.ok){
            				//alert('삭제가 완료되었습니다.')
            				Swal.fire("삭제가 완료되었습니다.");
            				cell.getRow().delete();
            				location.href='/prdt/prdtInst'
            			}else{
            				//alert('삭제가 실패하였습니다.')
            				Swal.fire("삭제가 실패하였습니다.");
            			}
            		})
            	}
        	}
        }},
        /*{title:"출고요청", field:"updates",width:90,formatter: editorIcon, hozAlign:"center",resizable:false, headerSort:false,
            cellClick:function(e, cell){
            	console.log(cell._cell.row.data.pdtPlanCd);
            	let pdtPlanCd = cell._cell.row.data.pdtPlanCd;
            	console.log(cell._cell.row.data.wkPlanSttDt);
            	
            	//수정중
            	if(cell._cell.row.data.wkPlanSttDt >= lastWeek(new Date())){
            		fetch("/ajax/planDetailList/"+ pdtPlanCd)
            		.then(res => res.json())
            		.then(res => {
            			console.log(res)
            		})
        			location.href= "/production/planRegist?pdtPlanCd="+ pdtPlanCd;
            	}
            }
        },*/
    ],
});
	
	var table2 = new Tabulator("#productionPlan-table2", {
		height:"100%",
		layout:"fitDataFill",
		selectableRows:true,
	    selectableRowsCheck : function ( row ){
	    	return row.getData().pdtSttTime > getDateStr2(new Date());
	    	},
	    columnDefaults:{
	        headerSort:false,
	        resizable:"header",
	    },
	    columns:[
	        {title:"생산상품코드", field:"pdCd", hozAlign:"center", width:200, headerHozAlign: "center"},
	        {title:"상품명", field:"pdName", hozAlign:"left", width:320, headerHozAlign: "center"},
	        {title:"수량", field:"qt", hozAlign:"center", width:200, headerHozAlign: "center"},
	        {title:"생산시작시간", field:"pdtSttTime", hozAlign:"center", width:320, headerHozAlign: "center"},
	        {title:"생산예상종료시간", field:"pdtexptFnTime", hozAlign:"center", width:320, headerHozAlign: "center"},
	    ],
	});
	
	// 주간 생산계획조회 데이터
	function listReq() {
		fetch("/ajax/instList")
		.then(res => res.json())
		.then(res => table.setData(res))
	}
	
	// 주간 생산계획 버튼 이벤트
	table.on("rowClick", function(e, row){
		let pdtInstNo = row.getData().pdtInstNo;
		table.deselectRow();
		table.selectRow(row);
		
		fetch("/ajax/instDetailList/"+ pdtInstNo)
		.then(res => res.json())
		.then(res => {
			table2.setData(res)
			dates = e.target.parentElement.firstElementChild.innerText
			
			pdfs.style.display = "block";
			deleteBtn1.style.display = "block";
		})
		
	});
	
	//날짜
	function getDateStr(myDate){
		var year = myDate.getFullYear();
		var month = (myDate.getMonth() + 1);
		var day = myDate.getDate();
		
		month = (month < 10) ? "0" + String(month) : month;
		day = (day < 10) ? "0" + String(day) : day;
		
		return  (year + '-' + month + '-' + day );
	}
	
	//초단위 날짜
	function getDateStr2(myDate){
		var year = myDate.getFullYear();
		var month = (myDate.getMonth() + 1);
		var day = myDate.getDate();
		var hur = myDate.getHours();
		var min = myDate.getMinutes();
		var sec = myDate.getSeconds();
		
		month = (month < 10) ? "0" + String(month) : month;
		day = (day < 10) ? "0" + String(day) : day;
		hur = (hur < 10) ? "0" + String(hur) : hur;
		min = (min < 10) ? "0" + String(min) : min;
		sec = (sec < 10) ? "0" + String(sec) : sec;
		
		return  (year + '-' + month + '-' + day + " " + hur + ":" + min + ":" + sec);
	}
	
	//5일전
	function lastWeek() {
		  var d = new Date();
		  var dayOfMonth = d.getDate();
		  d.setDate(dayOfMonth - 5);
		  return getDateStr(d);
	}
	
	selectNav();
	
	function selectNav() {
		mainPage.classList.remove('active');
		prdt.classList.add('active');
		prdt.classList.add('open');
		prdt_prdtInst.classList.add('active');
	}
	
	
	// 월 주차 판단
	function weekNumOfMonth(date){
		let dates = new Date(date)
		var WEEK_KOR = ["1주차", "2주차", "3주차", "4주차", "5주차"];
		var THURSDAY_NUM = 4;	// 첫째주의 기준은 목요일(4)이다. 
		console.log(dates);

		var firstDate = new Date(dates.getFullYear(), dates.getMonth(), 1);
		var firstDayOfWeek = firstDate.getDay();

		var firstThursday = 1 + THURSDAY_NUM - firstDayOfWeek;	// 첫째주 목요일
		if(firstThursday <= 0){
			firstThursday = firstThursday + 7;	// 한주는 7일
		}
		var untilDateOfFirstWeek = firstThursday-7+3;	// 월요일기준으로 계산 (월요일부터 한주의 시작)
		var weekNum = Math.ceil((dates.getDate()-untilDateOfFirstWeek) / 7) - 1;

		if(weekNum < 0){	// 첫째주 이하일 경우 전월 마지막주 계산
			var lastDateOfMonth = new Date(dates.getFullYear(), dates.getMonth(), 0);
		 	var result = Util.Date.weekNumOfMonth(lastDateOfMonth);
		 	return result;
		}

		return [WEEK_KOR[weekNum], (dates.getMonth()+1)+'월'];
	}
	
	//trigger download of data.pdf file
    document.getElementById("download-pdf").addEventListener("click", function () {
      table2.download("pdf", "금일생산지시 상세계획.pdf", {
        orientation: "portrait", // 페이지 방향을 세로로 설정
        title: dates + " 생산지시 계획", // 보고서 제목 설정
    	  autoTable: function(doc) {
    		  doc.addFileToVFS("malgun.ttf", malgunFont);
    		  doc.addFont("malgun.ttf", "malgun", "normal"); 
    		  
    		    doc.setFont("malgun");
    		    return {
    		      styles: {
    		        font: "malgun",
    		        fontStyle: "normal"
    		      }
    	  };
    	  }
      });
    });
	
	
</script>
</div>
</body>
</html>