<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>facility</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>설비 관리</h1>
		<div id="example-table">
			<div class="divider text-start">
				<div class="divider-text ">설비 관리</div>
			</div>
			<!-- Vertically Centered Modal -->
			<div class="row gy-2 gx-3 align-items-center">
				<div class="mt-3">
					<div class="d-flex">
						<form action="" name="frmSearch" class="col">

							<div class="mb-3 row"
								style="justify-content: center; align-content: center;">
								<label class="col-sm-2" for="searchName">설비명</label>
								<div class="col-md-4">
									<input class="form-control" type="text" name="searchName" id="searchName">
								</div>
							</div>
							<div class="mb-3 row"
								style="justify-content: center; align-content: center;">
								<label class="col-sm-2" for="searchMf">공정라인</label>
								<div class="col-md-4">
									<select class="form-select" name="searchMf" id="searchMf">
										<option value="">선택</option>
										<option value="0">로스팅</option>
										<option value="1">포장</option>
									</select>
								</div>
							</div>

							<div class="mb-3 row"
								style="justify-content: center; align-content: center;">
								<label class="col-sm-2 ">설비상태</label>
								<div class="col-md-4">
									<label class="form-check-label" for="defaultRadio1">전체 </label> 
										<input class="form-check-input" type="radio" value="" id="defaultRadio1" name="searchSt" checked> 
										<label class="form-check-label" for="defaultRadio1" style="padding-left: 10px;"> 가동 </label> 
										<input class="form-check-input" type="radio" value="0" id="defaultRadio2" name="searchSt"> 
										<label class="form-check-label" for="defaultRadio2" style="padding-left: 10px;"> 비가동 </label>
									<input class="form-check-input" type="radio" value="1" id="defaultRadio3" name="searchSt">
								</div>
							</div>
							<div class="d-grid gap-2 d-md-flex justify-content-md-center">
								<button class="btn btn-secondary" type="button" id="resetBtn" style="margin-top: 12px;">초기화</button>
								<button class="btn btn-primary" type="button" id="searchBtn" style="margin-top: 12px; margin-right: 5px;">검색</button>
							</div>
						</form>


					</div>
					<div class="divider text-start">
						<div class="divider-text "></div>
					</div>


					<!-- Modal -->
					<div class="modal fade" id="modalCenter" tabindex="-1"
						aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="modalCenterTitle">설비 등록</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body" id="facilityForm">
									<div class="row">
										<div class="col mb-3">
											<div class="input-group" style="display: none;">
												<span class="input-group-text col-2" id="basic-addon14">설비코드</span>
												<input type="number" class="form-control" id="facilityCd"
													aria-describedby="basic-addon14" readonly>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col mb-3">
											<div class="input-group">
												<span class="input-group-text col-2" id="basic-addon14">설비명</span>
												<input type="text" class="form-control" id="facilityName"
													aria-describedby="basic-addon14">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col mb-3">
											<div class="input-group">
												<span class="input-group-text col-2" id="basic-addon14">제조업체</span>
												<input type="text" class="form-control"
													id="manufacturingCom" aria-describedby="basic-addon14">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col mb-3">
											<div class="input-group">
												<label class="input-group-text col-2"
													for="insertedMf">투입공정</label> <select
													class="form-select" id="insertedMf">
													<option selected>선택</option>
													<option value="0">로스팅</option>
													<option value="1">포장</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col mb-3">
											<div class="input-group">
												<span class="input-group-text col-2" id="basic-addon14">입고일자</span>
												<div class="col-md-10">
													<input class="form-control" type="date" value="2024-04-01"
														id="strDate">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col mb-3">
											<div class="input-group">
												<label class="input-group-text col-2"
													for="fcltstatus">설비상태</label> <select
													class="form-select" id="fcltstatus">
													<option selected>선택</option>
													<option value="0">가동</option>
													<option value="1">비가동</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col mb-3">
											<div class="input-group">
												<span class="input-group-text col-2" id="basic-addon14">점검주기</span>
												<input type="text" class="form-control" id="inspectionCycle"
													aria-describedby="basic-addon14"> &nbsp; 일
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col mb-3">
											<div class="input-group">
												<span class="input-group-text col-2" id="basic-addon14">생산량</span>
												<input type="text" class="form-control" id="coffeeoutput"
													aria-describedby="basic-addon14"> &nbsp; KG
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col mb-3">
											<div class="input-group">
												<span class="input-group-text col-2" id="basic-addon14">소요시간</span>
												<input type="datetime" class="form-control"
													id="durationTime" aria-describedby="basic-addon14">
												&nbsp; 분
											</div>
										</div>
									</div>
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-outline-secondary"
										data-bs-dismiss="modal">취소</button>
									<button style="display: block;" type="button"
										class="btn btn-primary" id="saveBtn">등록</button>
									<button style="display: none;" type="button"
										class="btn btn-primary" id="updateBtn">수정</button>
								</div>
							</div>
						</div>
					</div>
					<div id="fcltListTable"></div>
					<!-- Button trigger modal -->
					<div
						class="demo-inline-spacing d-grid gap-2 d-md-flex justify-content-md-end">
						<button type="button" class="btn btn-primary"
							data-bs-toggle="modal" data-bs-target="#modalCenter" id="addFclt">
							설비 등록</button>
					</div>
				</div>
			</div>
			<script>
			
			
			var fclttable = new Tabulator("#fcltListTable", {
			    //layout:"fitColumns",
			    pagination:"local",
			    paginationSize:10,
			    paginationSizeSelector:[10, 20, 30, 40],
			    movableColumns:true,
			    paginationCounter:"rows",
			    height:"100%",
			    rowHeader:{formatter:"rownum", headerSort:false, width:84, hozAlign:"center", resizable:false},
			    //resizableColumnFit:true,
			   
			    columns:[
			        {title:"설비 코드", field:"fcCd", width:100, hozAlign:"center" },
			        {title:"설비 명", field:"fcName", width:195, hozAlign:"center", frozen:true}, 
			        {title:"투입 공정", field:"insMf", width:100, hozAlign:"center"},
			        {title:"제조 업체", field:"mnfCom", width:150, hozAlign:"center"},
			        {title:"입고 일자", field:"strDt", width:190, hozAlign:"center"},
			        {title:"마지막 점검일", field:"lastInsDt", width:150, hozAlign:"center"},
			        {title:"다음 정기점검일", field:"nextInsDt", width:150, hozAlign:"center"},
			        {title:"생산량", field:"output", width:150, hozAlign:"center"},
			        {title:"소요시간", field:"durTime", width:160, hozAlign:"center"},
			        {title:"설비 상태", field:"st", width:100, hozAlign:"center"},
			        {title:"Col", field:"col" ,formatter:"color", width:50, backgroundColor:"#ff0000"}
			    ],
			});
			
			fclttable.on("rowClick", function(e, row){
				saveBtn.style.display="none";
				updateBtn.style.display="block";
				let fcCd = row.getData().fcCd;
				console.log(fcCd);
				fetch("/fclt/facilitylist/"+ fcCd)
				.then(res => res.json())
				.then(res => {
					console.log(res);
					const myModal = new bootstrap.Modal('#modalCenter', {
						  keyboard: false
						})
					const modalToggle = document.getElementById('modalCenter'); 
					myModal.show(modalToggle);
					getInfo(res);
				})
			});
			
			//등록창 값 비워주기
			
			addFclt.addEventListener("click",function(){
				facilityCd.value="";
				facilityName.value = "";
				manufacturingCom.value = "";
				insertedMf.value = "선택";
				strDate.value = "";
				fcltstatus.value = "선택";
				inspectionCycle.value = "";
				coffeeoutput.value = "";
				durationTime.value = "";
			});
			
			function getInfo(obj){
				
				facilityCd.value = obj.fcCd;
				facilityName.value = obj.fcName;
				manufacturingCom.value = obj.mnfCom;
				insertedMf.value = obj.insMf;
				strDate.value = obj.strDt;
				fcltstatus.value = obj.st;
				inspectionCycle.value = obj.insCycle;
				coffeeoutput.value = obj.output;
				durationTime.value = obj.durTime;
				saveBtn.style.display="none";
				updateBtn.style.display="block";
			}
			
			
			// 검색 조건 기준 원자재 목록 데이터
			searchBtn.addEventListener("click",function(){
				const searchName= frmSearch.searchName.value;
				console.log(searchName);
				const searchMf = frmSearch.searchMf.value;
				console.log(searchMf);
				const searchStatus = document.querySelector('input[name="searchSt"]:checked').value;
				//const searchStVal = searchStatus.value;
				console.log(searchStatus);
				let param = {
						fcName: searchName,
				        // 값이 없으면 undefined
				        insMf: searchMf ? searchMf : '',
				        st: searchStatus ? searchStatus : ''
				};
				
				fetch("/fclt/getfacility",{
					method:"post",
					headers: {
						"Content-Type": "application/json",
					},
					body:JSON.stringify(param)
				})
				.then(res => res.json())
				.then(res =>{
					console.log(res)
					fclttable.setData(res);
			})
			.catch(err=>{
				console.log(err);
			});
			});
			
			//초기화 버튼 값 비워주기 
			
			resetBtn.addEventListener("click",function(){
				searchName.value= '';
				searchMf.value ='';
			});
			
			
			
			
	saveBtn.addEventListener("click", e=> {
		if(facilityName.value == ""){
			alert("설비명이 입력되지 않았습니다.");
			facilityName.focus();
		}else {
			saveReq();
		}
	})
	
	// 등록 요청
	function saveReq() {
		const fcName= facilityName.value;
		const st= fcltstatus.value;
		const insMf= insertedMf.value;
		const mnfCom= manufacturingCom.value;
		const strDt= strDate.value;
		const insCycle= inspectionCycle.value;
		const durTime = durationTime.value;
		const output = coffeeoutput.value;
		let param = {fcName,mnfCom,insMf, strDt,st,insCycle, output,durTime };
		console.log(param);
		fetch("/fclt/insert",{
			method : "post",
			headers: {
			      "Content-Type": "application/json",
			    },
			body : JSON.stringify(param)
		})
		.then(res => res.json())
		.then(res => saveRes(res))
	}
	
	// 등록 응답
	function saveRes(res) {
		alert("설비등록이 완료되었습니다.");
		location.href= "/fclt/facilitylist"
	}
	updateBtn.addEventListener("click", e=> {
		modReq();
	})
	// 수정 요청
	function modReq() {
		const fcCd = facilityCd.value;
		const fcName= facilityName.value;
		const st= fcltstatus.value;
		const insMf= insertedMf.value;
		const mnfCom= manufacturingCom.value;
		const strDt= strDate.value;
		const insCycle= inspectionCycle.value;
		const durTime = durationTime.value;
		const output = coffeeoutput.value;
		let param = {fcCd, fcName,mnfCom,insMf, strDt,st,insCycle, output,durTime };
		console.log(param);
		fetch("/fclt/update",{
			method : "post",
			headers: {
			      "Content-Type": "application/json",
			    },
			body : JSON.stringify(param)
		})
		.then(res => res.json())
		.then(res => modRes(res))
	}

	// 수정 응답
	function modRes(res) {
		alert("수정이 완료되었습니다!");
		location.href= "/fclt/facilitylist"
	};
	
</script>
</div>
	</div>


</body>
</html>