<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>facility</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>점검관리페이지</h1>
		<div id="example-table">


			<!-- Vertically Centered Modal -->
			<div class="col-lg-4 col-md-6">
				<div class="mt-3">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary"
						data-bs-toggle="modal" data-bs-target="#modalCenter">
						점검 등록</button>

					<div class="card mb-4">
                    <h5 class="card-header">HTML5 Inputs</h5>
                    <div class="card-body">
                      <div class="mb-3 row">
                        <label for="html5-text-input" class="col-md-2 col-form-label">Text</label>
                        <div class="col-md-10">
                          <input class="form-control" type="text" value="Sneat" id="html5-text-input">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="html5-search-input" class="col-md-2 col-form-label">Search</label>
                        <div class="col-md-10">
                          <input class="form-control" type="search" value="Search ..." id="html5-search-input">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="html5-email-input" class="col-md-2 col-form-label">Email</label>
                        <div class="col-md-10">
                          <input class="form-control" type="email" value="john@example.com" id="html5-email-input">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="html5-url-input" class="col-md-2 col-form-label">URL</label>
                        <div class="col-md-10">
                          <input class="form-control" type="url" value="https://themeselection.com" id="html5-url-input">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="html5-tel-input" class="col-md-2 col-form-label">Phone</label>
                        <div class="col-md-10">
                          <input class="form-control" type="tel" value="90-(164)-188-556" id="html5-tel-input">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="html5-password-input" class="col-md-2 col-form-label">Password</label>
                        <div class="col-md-10">
                          <input class="form-control" type="password" value="password" id="html5-password-input">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="html5-number-input" class="col-md-2 col-form-label">Number</label>
                        <div class="col-md-10">
                          <input class="form-control" type="number" value="18" id="html5-number-input">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="html5-datetime-local-input" class="col-md-2 col-form-label">Datetime</label>
                        <div class="col-md-10">
                          <input class="form-control" type="datetime-local" value="2021-06-18T12:30:00" id="html5-datetime-local-input">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="html5-date-input" class="col-md-2 col-form-label">Date</label>
                        <div class="col-md-10">
                          <input class="form-control" type="date" value="2021-06-18" id="html5-date-input">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="html5-month-input" class="col-md-2 col-form-label">Month</label>
                        <div class="col-md-10">
                          <input class="form-control" type="month" value="2021-06" id="html5-month-input">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="html5-week-input" class="col-md-2 col-form-label">Week</label>
                        <div class="col-md-10">
                          <input class="form-control" type="week" value="2021-W25" id="html5-week-input">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="html5-time-input" class="col-md-2 col-form-label">Time</label>
                        <div class="col-md-10">
                          <input class="form-control" type="time" value="12:30:00" id="html5-time-input">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="html5-color-input" class="col-md-2 col-form-label">Color</label>
                        <div class="col-md-10">
                          <input class="form-control" type="color" value="#666EE8" id="html5-color-input">
                        </div>
                      </div>
                      <div class="row">
                        <label for="html5-range" class="col-md-2 col-form-label">Range</label>
                        <div class="col-md-10">
                          <input type="range" class="form-range mt-3" id="html5-range">
                        </div>
                      </div>
                    </div>
                  </div>
					<!-- Modal -->
					<div class="modal fade" id="modalCenter" tabindex="-1"
						aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="modalCenterTitle">비가동 처리</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col mb-3">
											<div class="input-group">
												<span class="input-group-text" id="basic-addon14">설비명</span>
												<input type="text" class="form-control" id="basic-url1"
													aria-describedby="basic-addon14">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col mb-3">
											<div class="input-group">
												<span class="input-group-text" id="basic-addon14">점검일자</span>
												<div class="col-md-10">
						                          <input class="form-control" type="date" value="2024-04-01" id="html5-date-input">
						                        </div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col mb-3">
											<div class="input-group">
												<span class="input-group-text" id="basic-addon14">담당자</span>
												<input type="text" class="form-control" id="basic-url1"
													aria-describedby="basic-addon14">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col mb-3">
											<div class="input-group">
												<label class="input-group-text" for="inputGroupSelect01">점검 구분</label>
												<select class="form-select" id="inputGroupSelect01">
													<option selected value="1">정기</option>
													<option value="2">수시</option>
													<option value="3">기타</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col mb-3">
									<div class="input-group">
			                        <span class="input-group-text">점검 내용</span>
			                        <textarea class="form-control" aria-label="With textarea" placeholder="Comment"></textarea>
			                      </div>
			                      </div>
									</div>
									<div class="row">
										<div class="col mb-3">
											<div class="input-group">
												<label class="input-group-text" for="inputGroupSelect01">판정</label>
												<select class="form-select" id="inputGroupSelect01">
													<option selected value="1">적합</option>
													<option value="2">부적합</option>
													
												</select>
											</div>
										</div>
									</div>
										<div class="row">
										<div class="col mb-3">
											<div class="input-group">
												<span class="input-group-text" id="basic-addon14">담당자</span>
												<input type="text" class="form-control" id="basic-url1"
													aria-describedby="basic-addon14">
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-outline-secondary"
										data-bs-dismiss="modal">취소</button>
									<button type="button" class="btn btn-primary">점검 등록</button>
								</div>
							</div>
						</div>
					</div>
					<!-- END OF Modal -->
				</div>
			</div>
			
		</div>
	</div>
	
	<script>
		/* var table = new Tabulator("#example-table", {
		    height:"311px",
		    columns:[
		    {title:"Name", field:"name"},
		    {title:"Progress", field:"progress", sorter:"number"},
		    {title:"Gender", field:"gender"},
		    {title:"Rating", field:"rating"},
		    {title:"Favourite Color", field:"col"},
		    {title:"Date Of Birth", field:"dob", hozAlign:"center"},
		    ],
		}); */
	</script>
</body>
</html>