<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>facility</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>점검관리페이지</h1>
		<div id="example-table">


			<!-- Vertically Centered Modal -->
			<div class="col-lg-4 col-md-6">
				<div class="mt-3">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary"
						data-bs-toggle="modal" data-bs-target="#modalCenter">
						점검 등록</button>

					
					<!-- Modal -->
					<div class="modal fade" id="modalCenter" tabindex="-1"
						aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="modalCenterTitle">비가동 처리</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body" id="inspectionForm">
									<div class="row">
										<div class="col mb-3">
											<div class="input-group">
												<span class="input-group-text" id="basic-addon14">설비명</span>
												<select class="form-select" id="fcltList" >
												<option selected value="">선택</option>
													<option  th:each="fclt : ${fcltNames}" th:value="${fclt.fcCd}" th:text="${fclt.fcName}">
													
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col mb-3">
											<div class="input-group">
												<span class="input-group-text" id="basic-addon14">점검일자</span>
												<div class="col-md-10">
						                          <input class="form-control" type="date" value="2024-04-01" id="inspectionDt">
						                        </div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col mb-3">
											<div class="input-group">
												<span class="input-group-text" id="basic-addon14">담당자</span>
												<input type="text" class="form-control" id="chargeofins"
													aria-describedby="basic-addon14">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col mb-3">
											<div class="input-group">
												<label class="input-group-text" for="inputGroupSelect01">점검 구분</label>
												<select class="form-select" id="inspectionCat">
													<option selected value="1">정기</option>
													<option value="2">수시</option>
													<option value="3">기타</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col mb-3">
											<div class="input-group">
												<label class="input-group-text" for="inputGroupSelect01">판정</label>
												<select class="form-select" id="conclusion">
													<option selected value="1">적합</option>
													<option value="2">부적합</option>
													
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col mb-3">
									<div class="input-group">
			                        <span class="input-group-text">점검 내용</span>
			                        <textarea class="form-control" aria-label="With textarea" id="inspectionContent"></textarea>
			                      </div>
			                      </div>
									</div>
									
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-outline-secondary"
										data-bs-dismiss="modal">취소</button>
									<button type="button" class="saveInspBtn">점검 등록</button>
								</div>
							</div>
						</div>
					</div>
					<!-- END OF Modal -->
				</div>
			</div>
			
		</div>
	</div>
	
	<script>
	saveInspBtn.addEventListener("click", e=> {
			saveReq();
		}
	})
	
	// 등록 요청 (미완성)
	function saveReq() {
		const insDt= inspectionDt.value;
		const sttTime= fcltstatus.value;
		const insCat= chargeofins.value;
		const insCont= manufacturingCom.value;
		const cc= strDate.value;
		const chg= inspectionCycle.value;
		const fcCd = durationTime.value;
		const nonopCd = durationTime.value;
		let param = {fcName,mnfCom,insMf, strDt,st,insCycle, output,durTime };
		console.log(param);
		fetch("/fclt/insert",{
			method : "post",
			headers: {
			      "Content-Type": "application/json",
			    },
			body : JSON.stringify(param)
		})
		.then(res => res.json())
		.then(res => saveRes(res))
	}
	
	// 등록 응답
	function saveRes(res) {
		alert("설비등록이 완료되었습니다.");
		location.href= "/fclt/facilitylist"
	}
	</script>
</body>
</html>