<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theCaffeine.mes.comm.main.mapper.MainMapper">

 	<select id="getCodeDetailList" resultType="CodeDetailVO">
		SELECT  detail_cd_no
		        ,detail_cd_name
		        ,wk_cd_no
		FROM    com_detail_cd
		WHERE   wk_cd_no = #{wkCdNo}
	</select>

</mapper>