<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theCaffeine.mes.prdt.mapper.PrdtMapper">

	<select id="getPlanList" resultType="PlanVO">
		select w.pdt_plan_cd, w.wk_plan_stt_dt, case when r.cnt = '-1' then null
                                        else r.pd_name || ' 외 ' || r.cnt || '개'
                                        end as plantot, w.psum from 
		(select p.pdt_plan_cd, p.wk_plan_stt_dt, sum(d.qt) as psum from pdt_plan_detail d right outer 
			join PDTPLAN p 
			on p.pdt_plan_cd=d.pdt_plan_cd GROUP by p.pdt_plan_cd, p.wk_plan_stt_dt order by p.pdt_plan_cd) w
		join (select pdt_plan_cd, count(pd_name)-1 as cnt, min(pd_name) as pd_name 
				from (select p.pdt_plan_cd, d.pd_name 
        				from pdt_plan_detail d right outer 
        				join PDTPLAN p 
        				on p.pdt_plan_cd=d.pdt_plan_cd GROUP by p.pdt_plan_cd, d.pd_name 
        				order by p.pdt_plan_cd) 
        		group by pdt_plan_cd) r 
		on w.pdt_plan_cd=r.pdt_plan_cd 
		order by r.pdt_plan_cd
	</select>
	
	<select id="getPlanDetailList" resultType="PlanVO">
		SELECT 	pd_name,
        		qt,
        		due_dt
		FROM 	PDT_PLAN_DETAIL
		WHERE  	pdt_plan_cd = #{pdtPlanCd}
	</select>
	
	<select id="getQnttMtrlList" resultType="MtrlPlanVO">
		select * from 
			(select m.pdt_plan_cd, m.bag as placeod_qt, m.mt_cd, y.mt_div, y.mt_name, m.unit from 
				(select p.pdt_plan_cd,sum(p.qt)/b.consum bag,b.mt_cd, b.UNIT from bom b 
					join PDT_PLAN_DETAIL p 
					on b.pd_cd=p.pd_cd where b.detail_unit='kg' group by p.pdt_plan_cd,b.mt_cd,b.consum, b.UNIT) m 
				join mt y 
				on m.mt_cd=y.mt_cd
			union
			select m.pdt_plan_cd, m.pcs as placeod_qt, m.mt_cd, y.mt_div, y.mt_name, m.unit from 
				(select w.pdt_plan_cd,w.bag * bb.consum pcs,bb.mt_cd, bb.unit from 
					(select p.pdt_plan_cd,p.pd_cd,sum(p.qt)/b.consum bag,b.mt_cd from bom b 
						join PDT_PLAN_DETAIL p 
						on b.pd_cd=p.pd_cd where b.detail_unit='kg' group by p.pd_cd,p.pdt_plan_cd,b.mt_cd,b.consum) w 
					join bom bb 
					on w.pd_cd=bb.pd_cd where bb.detail_unit='pcs') m 
				join mt y 
				on m.mt_cd=y.mt_cd
			union
			select m.pdt_plan_cd, m.pcs as placeod_qt, m.mt_cd, y.mt_div, y.mt_name, m.unit from 
				(select w.pdt_plan_cd, sum(w.bag * bb.consum) pcs,bb.mt_cd, bb.unit from 
					(select p.pdt_plan_cd,p.pd_cd,sum(p.qt)/b.consum bag,b.mt_cd from bom b 
						join PDT_PLAN_DETAIL p 
						on b.pd_cd=p.pd_cd where b.detail_unit='kg' group by p.pd_cd,p.pdt_plan_cd,b.mt_cd,b.consum) w 
					join bom bb 
					on w.pd_cd=bb.pd_cd where bb.detail_unit='box' group by w.pdt_plan_cd, bb.mt_cd, bb.unit) m 
				join mt y 
				on m.mt_cd=y.mt_cd)
		where pdt_plan_cd = #{pdtPlanCd}
	</select>
	
	<select id="getDetailOrderList" resultType="PlanOrderDetailVO">
		select 	od.pd_cd, 
				p.unit, 
				od.qt, 
				od.due_dt,
                nvl(od.pdt_qt,0) pdt_qt,
                0 as pre_pdt_qt,
                od.od_detailno
		from od_detail od 
		left outer join pd p 
		on od.pd_cd = p.pd_cd 
		<where>
			od.od_detail_st= 1
			<if test="pdCd != null and pdCd != ''">
				AND od.pd_cd = #{pdCd}
			</if>
			<if test="dueDt != null">
			<![CDATA[	AND due_dt >= #{dueDt} ]]>
			</if>
		</where>
		order by od.due_dt
	</select>
	
	<select id="getSafeInventoryList" resultType="SafePlanVO">
		select 	e.pd_cd, 
				e.unit, 
				nvl(w.tat,0) now_stk, 
				nvl(e.safe_stk_qt,0) safe_stk, 
				nvl((w.tat - e.safe_stk_qt),0) ms_stk 
		from (select p.pd_name, ps.unit,sum(qt) tat, ps.pd_cd 
				from PD_STK ps 
				join pd p 
				on ps.pd_cd = p.pd_cd 
				where qt > 0 and pdt_dt >= sysdate group by p.pd_name, ps.unit, ps.pd_cd) w 
			right outer join (select pd_cd, safe_stk_qt, pd_name, unit from pd) e 
			on w.pd_cd = e.pd_cd
	</select>
	
	<select id="getFailProdList" resultType="FailPlanVO">
		select q.pd_cd, nvl(w.tat,0) fail_tat 
		from 	(select pid.pd_cd, sum(pid.qt) tat 
				from PDT_INST_DETAIL pid 
				join PDT_INST pi 
				on pid.pdt_inst_no = pi.pdt_inst_no 
				where pid.comp_st = 4 and pi.pdt_plan_cd = (select max(pdt_plan_cd) 
															from PDTPLAN 
														<![CDATA[	where wk_plan_stt_dt < (select max(wk_plan_stt_dt) 
																					from PDTPLAN 
																					where wk_plan_stt_dt <= sysdate))]]> 
				group by pid.pd_cd) w 
		right outer join pd q 
		on w.pd_cd=q.pd_cd
	</select>
	
	<select id="getSuccessProdList" resultType="FailPlanVO">
		select p.pd_cd, nvl(sum(r.qt),0) bef_success_tat 
		from pd p 
		left outer join (select * 
						from PDT_INST_DETAIL q 
						join (select * 
							  from PDT_INST 
							  where pdt_plan_cd=(select pdt_plan_cd 
								  				from PDTPLAN 
								  	<![CDATA[	where wk_plan_stt_dt < (select max(wk_plan_stt_dt) 
								  										from PDTPLAN 
								  										where wk_plan_stt_dt <= sysdate))) w ]]> 
						on q.pdt_inst_no=w.pdt_inst_no where q.comp_st=3) r 
		on p.pd_cd=r.pd_cd 
		group by p.pd_cd
	</select>
	
	<select id="getNotDate" resultType="FailPlanVO">
		select max(f.w) no_date 
		from 	(select wk_plan_stt_dt+(select max(leadtm) from mt)+1 w 
				from pdtplan 
				group by wk_plan_stt_dt) f
	</select>
	
	<select id="getBasicPlanList" resultType="PlanVO">
		select pd_cd, 0 qt, null due_dt, pd_name, 0 add_qt from pd
	</select>
	
	<select id="getPlanConsum" resultType="FailPlanVO">
		select a.pd_cd,(a.consum / b.consum) consum 
		from (select pd_cd,consum from bom where detail_unit='kg') a 
		join (select pd_cd,consum from bom where detail_unit='box') b 
		on a.pd_cd=b.pd_cd
	</select>
	
	<insert id="insertPrdtPlan" parameterType="PlanVO">
		insert into PDTPLAN(pdt_plan_cd, wk_plan_stt_dt, od_name) 
		VALUES 	(#{pdtPlanCd},
				#{wkPlanSttDt},
				#{odName})
	</insert>
	
	<insert id="insertPrdtDetailPlan" parameterType="PlanDetailVO">
		insert into PDT_PLAN_DETAIL(pdt_plan_detail_no, pdt_plan_cd, pd_name, qt, due_dt,pd_cd) 
		VALUES 	(pdt_plan_detail_seq.nextval,
				#{pdtPlanCd},
				#{pdName},
				#{qt},
				#{dueDt},
				#{pdCd})
	</insert>
	
	<update id="updatePrdtOdDetail" parameterType="PlanOrderDetailVO">
		UPDATE  od_detail
		SET     pdt_qt = pdt_qt + #{pdtQt}
		WHERE   od_detailno = #{odDetailno}
	</update>

</mapper>