<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>management</title>
</head>
<body>
<div layout:fragment="content">
	<h1 class="mt-4">자재 관리</h1>
	<div class="demo-inline-spacing d-grid gap-2 d-md-flex justify-content-md-end">
		<button id="mtrlSaveBtn2"
	        type="button"
	        class="btn btn-primary"
	        data-bs-toggle="modal"
	        data-bs-target="#largeModal"
	      >
	        자재 등록
	    </button>
	</div>
	
	<div class="modal fade" id="largeModal" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">자재 등록</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
              <div class="card mb-4">
              <div class="card-body">
              	<div class="mb-3 row">
                  <label for="mtrl_management_clicd" class="col-md-2 col-form-label">거래처</label>
                  <div class="col-md-10">
                   <select id="mtrl_management_clicd" class="form-select">
                     <option value="MCLI001">코빈즈 커피 (에티오피아)</option>
                     <option value="MCLI002">블레스빈 (브라질)</option>
                     <option value="MCLI003">카페 노갈레스 (콜롬비아)</option>
                     <option value="MCLI004">1597coffee (페루)</option>
                     <option value="MCLI005">엠아이 커피 (코스타리카)</option>
                     <option value="MCLI006">PAI PACK (원두봉투)</option>
                     <option value="MCLI007">BOX4U (박스)</option>
                   </select>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="mtrl_management_cd" class="col-md-2 col-form-label">자재 코드</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" value="" id="mtrl_management_cd">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="mtrl_management_div" class="col-md-2 col-form-label">분류</label>
                  <div class="col-md-10">
                   <select id="mtrl_management_div" class="form-select">
                     <option value="원자재">원자재</option>
                     <option value="부자재">부자재</option>
                   </select>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="mtrl_management_name" class="col-md-2 col-form-label">자재명</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" value="" id="mtrl_management_name">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="mtrl_management_cost" class="col-md-2 col-form-label">단가 (원)</label>
                  <div class="col-md-10">
                    <input class="form-control" type="number" value="" id="mtrl_management_cost" placeholder="원">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="mtrl_management_unit" class="col-md-2 col-form-label">단위</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" value="" id="mtrl_management_unit">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="mtrl_management_expdt" class="col-md-2 col-form-label">유통기한 (개월)</label>
                  <div class="col-md-10">
                    <input class="form-control" type="number" value="" id="mtrl_management_expdt" placeholder="개월">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="mtrl_management_leadtm" class="col-md-2 col-form-label">리드타임 (일)</label>
                  <div class="col-md-10">
                    <input class="form-control" type="number" value="" id="mtrl_management_leadtm" placeholder="일">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="mtrl_management_safestkrate" class="col-md-2 col-form-label">안전재고 비율 (%)</label>
                  <div class="col-md-10">
                    <input class="form-control" type="number" value="" id="mtrl_management_safestkrate" placeholder="%">
                  </div>
                </div>
              </div>
            </div>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
               닫기
             </button>
             <button type="button" class="btn btn-primary" id="mtrlSaveBtn1">등록</button>
             <button type="button" class="btn btn-primary" id="mtrlModifyBtn1">수정</button>
           </div>
         </div>
       </div>
     </div>
     
     <h3 class="mb-4">원자재 관리</h3>
	<div id="mtrl_management_list" class="mb-3">
	
	</div>

	 <h3 class="mt-5 mb-4">부자재 관리</h3>
	 	<div id="mtrl_management_list2">
	
	</div>
	 
	<script>
	var table = new Tabulator("#mtrl_management_list", {
	    //layout:"fitColumns",
	    height:"190px",
	    rowHeader:{formatter:"rownum", headerSort:false, width:70, hozAlign:"center", resizable:false, frozen:true},
	   // resizableColumnFit:true,
	   
	    columns:[
	        {title:"자재코드", field:"mtCd", width:150, hozAlign:"center"},
	        {title:"자재명", field:"mtName", width:180, hozAlign:"center"}, 
	        {title:"거래처", field:"cliName", width:180, hozAlign:"center"},
	        {title:"단가 (원)", field:"cost", width:150, formatter:"money", hozAlign:"center"},
	        {title:"유통기한 (개월)", field:"expDt", width:170, hozAlign:"center"},
	        {title:"리드타임 (일)", field:"leadtm", width:150, hozAlign:"center"},
	        {title:"안전재고 기준 (%)", field:"safeStkRate", width:170, hozAlign:"center"},
	        {title:"월 소비량", field:"week", width:160, hozAlign:"center"}
	    ],
	});
	
	var table2 = new Tabulator("#mtrl_management_list2", {
	   // layout:"fitColumns",
	   height:"220px",
	    rowHeader:{formatter:"rownum", headerSort:false, width:70, hozAlign:"center", resizable:false, frozen:true},
	    //resizableColumnFit:true,
	    columns:[
	        {title:"자재코드", field:"mtCd", width:150, hozAlign:"center"},
	        {title:"자재명", field:"mtName", width:180, hozAlign:"center"}, 
	        {title:"거래처", field:"cliName", width:180, hozAlign:"center"},
	        {title:"단가 (원)", field:"cost", width:150, formatter:"money", hozAlign:"center"},
	        {title:"유통기한 (개월)", field:"expDt", width:170, hozAlign:"center"},
	        {title:"리드타임 (일)", field:"leadtm", width:150, hozAlign:"center"},
	        {title:"안전재고 기준 (%)", field:"safeStkRate", width:170, hozAlign:"center"},
	        {title:"월 소비량", field:"week", width:160, hozAlign:"center"}
	    ],
	});
	
	table.on("rowClick", function(e, row){
		let mtCd = row.getData().mtCd;
		console.log(mtCd);
		fetch("/ajax/mtrlInfo/"+ mtCd)
		.then(res => res.json())
		.then(res => {
			console.log(res);
			const myModal = new bootstrap.Modal('#largeModal', {
				  keyboard: false
				})
			const modalToggle = document.getElementById('largeModal'); 
			myModal.show(modalToggle);
			getInfo(res);
		})
	});
	
	table2.on("rowClick", function(e, row){
		let mtCd = row.getData().mtCd;
		console.log(mtCd);
		fetch("/ajax/mtrlInfo/"+ mtCd)
		.then(res => res.json())
		.then(res => {
			console.log(res);
			const myModal = new bootstrap.Modal('#largeModal', {
				  keyboard: false
				})
			const modalToggle = document.getElementById('largeModal'); 
			myModal.show(modalToggle);
			getInfo(res);
		})
	});
	
	function getInfo(obj){
		
		mtrl_management_clicd.value = obj.cliCd;
		mtrl_management_cd.value = obj.mtCd;
		mtrl_management_div.value = obj.mtDiv;
		mtrl_management_name.value = obj.mtName;
		mtrl_management_cost.value = obj.cost;
		mtrl_management_unit.value = obj.unit;
		mtrl_management_expdt.value = obj.expDt;
		mtrl_management_leadtm.value = obj.leadtm;
		mtrl_management_safestkrate.value = obj.safeStkRate;
	}
	
	listReq();
	listReq2();
	// 원자재 목록 데이터
	function listReq() {
		fetch("/ajax/mtrlList")
		.then(res => res.json())
		.then(res => table.setData(res))
	}
	
	// 부자재 목록 데이터
	function listReq2() {
		fetch("/ajax/mtrlList2")
		.then(res => res.json())
		.then(res => table2.setData(res))
	}
	
	/*function getInfo(){
		fetch("/ajax/mtrlInfo/"+ {mtCd})
	}*/

	mtrlSaveBtn1.addEventListener("click", e=> {
		saveReq();
	})

	// 등록 요청
	function saveReq() {
		const cliCd= mtrl_management_clicd.value;
		const mtCd = mtrl_management_cd.value;
		const mtDiv = mtrl_management_div.value;
		const mtName = mtrl_management_name.value;
		const cost = mtrl_management_cost.value;
		const unit = mtrl_management_unit.value;
		const expDt = mtrl_management_expdt.value;
		const leadtm = mtrl_management_leadtm.value;
		const safeStkRate = mtrl_management_safestkrate.value;
		let param = {cliCd, mtCd, mtDiv, mtName, cost, unit, expDt, leadtm, safeStkRate};
		console.log(param);
		fetch("/ajax/mtrl",{
			method : "post",
			headers: {
			      "Content-Type": "application/json",
			    },
			body : JSON.stringify(param)
		})
		.then(res => res.json())
		.then(res => saveRes(res))
	}
	
	// 등록 응답
	function saveRes(res) {
		alert("등록이 완료되었습니다!");
		location.href= "/material/management"
	}
	mtrlModifyBtn1.addEventListener("click", e=> {
		modReq();
	})
	// 수정 요청
	function modReq() {
		const cliCd= mtrl_management_clicd.value;
		const mtCd = mtrl_management_cd.value;
		const mtDiv = mtrl_management_div.value;
		const mtName = mtrl_management_name.value;
		const cost = mtrl_management_cost.value;
		const unit = mtrl_management_unit.value;
		const expDt = mtrl_management_expdt.value;
		const leadtm = mtrl_management_leadtm.value;
		const safeStkRate = mtrl_management_safestkrate.value;
		let param = {cliCd, mtDiv, mtCd, mtName, cost, unit, expDt, leadtm, safeStkRate};
		fetch("/ajax/mtrlUpdate",{
			method : "post",
			headers: {
			      "Content-Type": "application/json",
			    },
			body : JSON.stringify(param)
		})
		.then(res => res.json())
		.then(res => modRes(res))
	}

	// 수정 응답
	function modRes(res) {
		alert("수정이 완료되었습니다!");
		location.href= "/material/management"
	}
	</script>
</div>
</body>
</html>