<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>자재 관리</title>
</head>
<body>
<div layout:fragment="content">
	<div class="d-flex mt-3 mb-3">
	  <div class="nav-item d-flex align-items-center pagetitle">
		<div class="mt-3 mb-3 ">
			<div class="mt-3">
		    	<h3 class="fw-bold"><span class="text-muted fw-light">자재 관리 /</span> 자재 관리</h3>
		    </div>
	    </div>
	</div>
	  	<div class="p-2">		
		  	<button id="mtrlSaveBtn2"
		        type="button"
		        class="btn btn-primary btn-lg"
		        data-bs-toggle="modal"
		        data-bs-target="#largeModal">
		        자재 등록
		    </button>
		</div>
	</div>
	<div class="modal fade" id="largeModal" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1" style="display:block">자재 등록</h5>
                <h5 class="modal-title" id="exampleModalLabel2" style="display:none">자재 수정</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
              <div class="card mb-4">
              <div class="card-body">
              	<div class="mb-3 row">
                  <label for="mtrl_management_clicd" class="col-md-2 col-form-label">거래처</label>
                  <div class="col-md-10">
                   <select id="mtrl_management_clicd" class="form-select" >

                   </select>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="mtrl_management_cd" class="col-md-2 col-form-label">자재 코드</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" value="" id="mtrl_management_cd">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="mtrl_management_div" class="col-md-2 col-form-label">분류</label>
                  <div class="col-md-10">
                   <select id="mtrl_management_div" class="form-select">
                     <option value="원자재">원자재</option>
                     <option value="부자재">부자재</option>
                   </select>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="mtrl_management_name" class="col-md-2 col-form-label">자재명</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" value="" id="mtrl_management_name">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="mtrl_management_cost" class="col-md-2 col-form-label">단가 (원)</label>
                  <div class="col-md-10">
                    <input class="form-control" type="number" value="" id="mtrl_management_cost" placeholder="원">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="mtrl_management_unit" class="col-md-2 col-form-label">단위</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" value="" id="mtrl_management_unit">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="mtrl_management_expdt" class="col-md-2 col-form-label">유통기한 (개월)</label>
                  <div class="col-md-10">
                    <input class="form-control" type="number" value="" id="mtrl_management_expdt" placeholder="개월">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="mtrl_management_leadtm" class="col-md-2 col-form-label">리드타임 (일)</label>
                  <div class="col-md-10">
                    <input class="form-control" type="number" value="" id="mtrl_management_leadtm" placeholder="일">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="mtrl_management_safestkrate" class="col-md-2 col-form-label">안전재고 비율 (%)</label>
                  <div class="col-md-10">
                    <input class="form-control" type="number" value="" id="mtrl_management_safestkrate" placeholder="%">
                  </div>
                </div>
              </div>
            </div>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
               닫기
             </button>
             <button style="display:block" type="button" class="btn btn-primary" id="mtrlSaveBtn1">등록</button>
             <button style="display:none" type="button" class="btn btn-primary" id="mtrlModifyBtn1">수정</button>
           </div>
         </div>
       </div>
     </div>
     
	
     <h4 class="mb-4">원자재 관리</h4>
		<div id="mtrl_management_list" class="mb-3">
		
		</div>


	 <h4 class="mt-5 mb-4">부자재 관리</h4>
	 	<div id="mtrl_management_list2">
		</div>

	<script>
	
	function getCliName() {
		fetch("/ajax/cliList")
		.then(res => res.json())
		.then(res => {
			mtrl_management_clicd.innerHTML = '';
			for( obj of res ) {
				mtrl_management_clicd.innerHTML += makeOption(obj);
			}
		})
		return true;
	}
	
	// option생성
	function makeOption(obj) {
		let newTag = `
			<option value=${obj.cliCd}>${obj.cliName}</option>
		`
		return newTag;
	}
	
	mtrlSaveBtn2.addEventListener("click", e=> {
		getCliName();
		exampleModalLabel1.style.display = "block";
		exampleModalLabel2.style.display = "none";
		mtrlSaveBtn1.style.display = "block";
		mtrlModifyBtn1.style.display = "none";
		mtrl_management_clicd.disabled = false;
		mtrl_management_cd.readOnly = false;
		mtrl_management_div.disabled = false;
		mtrl_management_clicd.value = "MCLI001";
		mtrl_management_cd.value = "";
		mtrl_management_div.value = "원자재";
		mtrl_management_name.value = "";
		mtrl_management_cost.value = "";
		mtrl_management_unit.value = "";
		mtrl_management_expdt.value = "";
		mtrl_management_leadtm.value = "";
		mtrl_management_safestkrate.value = "";
	})
	
	var table = new Tabulator("#mtrl_management_list", {
	    //layout:"fitColumns",
	    height:"100%",
	    rowHeader:{formatter:"rownum", headerSort:false, width:70, hozAlign:"center", resizable:false, frozen:true},
	   // resizableColumnFit:true,
	   
	    columns:[
	        {title:"자재코드", field:"mtCd", width:180, headerHozAlign: "center", hozAlign:"center"},
	        {title:"자재명", field:"mtName", width:225, headerHozAlign: "center"}, 
	        {title:"거래처", field:"cliName", width:240, headerHozAlign: "center"},
	        {title:"단가", field:"cost", width:175, headerHozAlign: "center", formatter:"money", hozAlign:"right", formatterParams:{
	            decimal:",",
	            thousand:",",
	            symbol:" 원",
	            symbolAfter:"p",
	            negativeSign:true,
	            precision:false,
	        }},
	        {title:"유통기한 (개월)", field:"expDt", headerHozAlign: "center", width:170, hozAlign:"right"},
	        {title:"리드타임 (일)", field:"leadtm", headerHozAlign: "center", width:150, hozAlign:"right"},
	        {title:"안전재고 기준 (%)", field:"safeStkRate", headerHozAlign: "center", width:170, hozAlign:"right"}
	    ],
	});
	
	var table2 = new Tabulator("#mtrl_management_list2", {
	   // layout:"fitColumns",
	   height:"100%",
	    rowHeader:{formatter:"rownum", headerSort:false, width:70, hozAlign:"center", resizable:false, frozen:true},
	    //resizableColumnFit:true,
	    columns:[
	        {title:"자재코드", field:"mtCd", headerHozAlign: "center", width:180, hozAlign:"center"},
	        {title:"자재명", field:"mtName", headerHozAlign: "center", width:225}, 
	        {title:"거래처", field:"cliName", headerHozAlign: "center", width:240},
	        {title:"단가", field:"cost", headerHozAlign: "center", width:175, formatter:"money", hozAlign:"right", formatterParams:{
	            decimal:",",
	            thousand:",",
	            symbol:" 원",
	            symbolAfter:"p",
	            negativeSign:true,
	            precision:false,
	        }},
	        {title:"유통기한", field:"expDt", headerHozAlign: "center", width:170, hozAlign:"right"},
	        {title:"리드타임 (일)", field:"leadtm", headerHozAlign: "center", width:150, hozAlign:"right"},
	        {title:"안전재고 기준 (%)", field:"safeStkRate", headerHozAlign: "center", width:170, hozAlign:"right"}
	    ],
	});
	
	table.on("rowClick", function(e, row){
		exampleModalLabel1.style.display = "none";
		exampleModalLabel2.style.display = "block";
		mtrlSaveBtn1.style.display = "none";
		mtrlModifyBtn1.style.display = "block";
		mtrl_management_clicd.disabled = true;
		mtrl_management_cd.readOnly = true;
		mtrl_management_div.disabled = true;
		let mtCd = row.getData().mtCd;
		console.log(mtCd);
		fetch("/ajax/mtrlInfo/"+ mtCd)
		.then(res => res.json())
		.then(res => {
			console.log(res);
			const myModal = new bootstrap.Modal('#largeModal', {
				  keyboard: false
				})
			const modalToggle = document.getElementById('largeModal'); 
			myModal.show(modalToggle);
			getInfo(res);
		})
	});
	
	table2.on("rowClick", function(e, row){
		exampleModalLabel1.style.display = "none";
		exampleModalLabel2.style.display = "block";
		mtrlSaveBtn1.style.display = "none";
		mtrlModifyBtn1.style.display = "block";
		mtrl_management_clicd.disabled = true;
		mtrl_management_cd.readOnly = true;
		mtrl_management_div.disabled = true;
		let mtCd = row.getData().mtCd;
		console.log(mtCd);
		fetch("/ajax/mtrlInfo/"+ mtCd)
		.then(res => res.json())
		.then(res => {
			console.log(res);
			const myModal = new bootstrap.Modal('#largeModal', {
				  keyboard: false
				})
			const modalToggle = document.getElementById('largeModal'); 
			myModal.show(modalToggle);
			getInfo(res);
		})
	});
	
	function getInfo(obj){
		console.log(obj);
		getCliName();
		mtrl_management_clicd.value = obj.cliCd;
		mtrl_management_cd.value = obj.mtCd;
		mtrl_management_div.value = obj.mtDiv;
		mtrl_management_name.value = obj.mtName;
		mtrl_management_cost.value = obj.cost;
		mtrl_management_unit.value = obj.unit;
		mtrl_management_expdt.value = obj.expDt;
		mtrl_management_leadtm.value = obj.leadtm;
		mtrl_management_safestkrate.value = obj.safeStkRate;
	}
	
	listReq();
	listReq2();
	
	// 원자재 목록 데이터
	function listReq() {
		fetch("/ajax/mtrlList")
		.then(res => res.json())
		.then(res => table.setData(res))
	}
	
	// 부자재 목록 데이터
	function listReq2() {
		fetch("/ajax/mtrlList2")
		.then(res => res.json())
		.then(res => table2.setData(res))
	}

	
	mtrlSaveBtn1.addEventListener("click", e=> {
		saveReq();
	})

	// 등록 요청
	function saveReq() {
		const cliCd= mtrl_management_clicd.value;
		const mtCd = mtrl_management_cd.value;
		const mtDiv = mtrl_management_div.value;
		const mtName = mtrl_management_name.value;
		const cost = mtrl_management_cost.value;
		const unit = mtrl_management_unit.value;
		const expDt = mtrl_management_expdt.value;
		const leadtm = mtrl_management_leadtm.value;
		const safeStkRate = mtrl_management_safestkrate.value;
		let param = {cliCd, mtCd, mtDiv, mtName, cost, unit, expDt, leadtm, safeStkRate};
		console.log(param);
		fetch("/ajax/mtrl",{
			method : "post",
			headers: {
			      "Content-Type": "application/json",
			    },
			body : JSON.stringify(param)
		})
		.then(res => res.json())
		.then(res => saveRes(res))
	}
	
	// 등록 응답
	function saveRes(res) {
		alert("등록이 완료되었습니다!");
		location.href= "/material/management"
	}
	
	
	mtrlModifyBtn1.addEventListener("click", e=> {
		modReq();
	})
	// 수정 요청
	function modReq() {
		const cliCd= mtrl_management_clicd.value;
		const mtCd = mtrl_management_cd.value;
		const mtDiv = mtrl_management_div.value;
		const mtName = mtrl_management_name.value;
		const cost = mtrl_management_cost.value;
		const unit = mtrl_management_unit.value;
		const expDt = mtrl_management_expdt.value;
		const leadtm = mtrl_management_leadtm.value;
		const safeStkRate = mtrl_management_safestkrate.value;
		let param = {cliCd, mtDiv, mtCd, mtName, cost, unit, expDt, leadtm, safeStkRate};
		fetch("/ajax/mtrlUpdate",{
			method : "post",
			headers: {
			      "Content-Type": "application/json",
			    },
			body : JSON.stringify(param)
		})
		.then(res => res.json())
		.then(res => modRes(res))
	}

	// 수정 응답
	function modRes(res) {
		alert("수정이 완료되었습니다!");
		location.href= "/material/management"
	}
	
	
	
	selectNav();
	
	function selectNav() {
		mainPage.classList.remove('active');
		mtrl.classList.add('active');
		mtrl.classList.add('open');
	    mtrl_management.classList.add('active');
	}
	
	
	</script>
</div>
</body>
</html>