<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>quality</title>
</head>
<body>
<div layout:fragment="content">
	<div class="mt-5 mb-4">
	  <h1>자재 검사 관리</h1>
	</div>
	<div class="d-flex mt-5">
	  <div class="p-2 flex-grow-1"><h3>품질검사 대기 목록</h3></div>
	  <div class="p-2"><button type="button" class="btn btn-primary" id="mtrlQualityBtn">검사 요청</button></div>
	</div>
	<div id="mtrl_quality_wait_list">
	 	
	</div>
	
	<script>
		// 품질검사 대기 목록
		var table = new Tabulator("#mtrl_quality_wait_list", {
		   height:"100%",
		   selectableRows:true,
		   pagination:"local",
		    paginationSize:6,
		    paginationSizeSelector:[3, 6, 8, 10],
		    movableColumns:true,
		    paginationCounter:"rows",
		    rowHeader:{headerSort:false, resizable: false, frozen:true, headerHozAlign:"center", hozAlign:"center", formatter:"rowSelection", titleFormatter:"rowSelection", cellClick:function(e, cell){
		        cell.getRow().toggleSelect();
		      }},
		    columns:[
		        {title:"자재코드", field:"mtCd", width:169, hozAlign:"center"},
		        {title:"자재명", field:"mtName", width:200, hozAlign:"center"}, 
		        {title:"거래처", field:"cliName", width:200, hozAlign:"center"},
		        {title:"자재 도착일", field:"placeodArridt", width:210, hozAlign:"center"},
		        {title:"수량", field:"placeodQt", width:190, hozAlign:"center", editor:"input"},
		        {title:"단위", field:"unit", width:180, hozAlign:"center"},
		        {title:"발주 담당자", field:"placeodChg", width:190, hozAlign:"center"}
		    ],
		});
		
		listReq();
		
		// 발주요청 목록 데이터
		function listReq() {
			fetch("/ajax/qualityList")
			.then(res => res.json())
			.then(res => table.setData(res))
		}
		
		let selectMtrl = "";
		
		mtrlQualityBtn.addEventListener("click", e=> {
			if(selectMtrl == "") {
				alert("선택된 자재가 없습니다.")
			} else {
				console.log(selectMtrl);
			}
		})
		
		table.on("rowSelectionChanged", function(data, rows, selected, deselected){
			selectMtrl = data;
		});
		
		
	</script>
	
</div>
</body>
</html>