<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>자재 출고 관리</title>
</head>
<body>
<div layout:fragment="content">
	<div class="mt-3 mb-3">
    	<h3 class="fw-bold py-3"><span class="text-muted fw-light">자재 관리 /</span> 자재 출고 관리</h3>
	</div>
		
	<div class="d-flex mt-4">
	  <div class="p-2 flex-grow-1"><h4>금일 출고 자재 목록</h4></div>
	  <div class="p-2"><button type="button" class="btn btn-primary" id="mtrlSendBtn">출고 처리</button></div>
	</div>
	<div id="mtrl_send_list">
	 	
	</div>
	



	<script>
		let memId = document.querySelector(".memName").innerText;
		let selectSend = "";
		
		mtrlSendBtn.addEventListener("click", e=> {
			if(selectSend == "") {
				alert("선택된 자재가 없습니다.")
			} else {
				console.log(selectSend);
				modReq(selectSend);
			}
		})
		
		// 출고처리
		function modReq(selectSend) {
			for(send of selectSend) {
				const mtCd = send.mtCd;
				const mtQt = send.mtQt;
				const sendChg = memId;
				let param = {mtCd, mtQt, sendChg};
				console.log(param);
				/*fetch("/ajax/mtrlMainSend",{
					method : "post",
					headers: {
					      "Content-Type": "application/json",
					    },
					body : JSON.stringify(param)
				})
				.then(res => res.json())
				.then(res => console.log(res))*/
			}
			//modRes();
		}
	
		// 출고처리 응답
		function modRes() {
			alert("출고가 완료되었습니다!");
			location.href= "/material/send"
		}
		

		
		// 출고 자재목록
		var table = new Tabulator("#mtrl_send_list", {
			placeholder:function(){
		        return this.getHeaderFilters().length ? "No Matching Data" : "금일 출고 완료";
		    },
		   height:"100%",
		   selectableRows:true,
		    movableColumns:true,
		    rowHeader:{headerSort:false, resizable: false, frozen:true, headerHozAlign:"center", hozAlign:"center", formatter:"rowSelection", titleFormatter:"rowSelection", cellClick:function(e, cell){
		        cell.getRow().toggleSelect();
		      }},
		    columns:[
		        {title:"분류", field:"mtDiv", width:169, headerHozAlign: "center", hozAlign:"center"},
		        {title:"자재코드", field:"mtCd", width:200, headerHozAlign: "center", hozAlign:"center"}, 
		        {title:"자재명", field:"mtName", width:270, headerHozAlign: "center"},
		        {title:"금일 생산지시 수량", field:"mtQt", width:170, headerHozAlign: "center", hozAlign:"right"},
		        {title:"단위", field:"unit", width:170, headerHozAlign: "center", hozAlign:"center"},
		        {title:"출고 전 재고", field:"sumStkQt", width:180, headerHozAlign: "center", hozAlign:"right"},
		        {title:"출고 후 재고", field:"reStkQt", width:180, headerHozAlign: "center", hozAlign:"right"}	
		    ],
		});
	
		table.on("rowSelectionChanged", function(data, rows, selected, deselected){
			selectSend = data;
		});
		
		listReq();
		
		// 요청 자재목록 데이터
		function listReq() {
			fetch("/ajax/sendList")
			.then(res => res.json())
			.then(res => table.setData(res))
		}
		
	
		selectNav();
		
		function selectNav() {
			mainPage.classList.remove('active');
			mtrl.classList.add('active');
			mtrl.classList.add('open');
		    mtrl_send.classList.add('active');
		}
		
	</script>
</div>
</body>
</html>