<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/index}">

<head>
    <meta charset="UTF-8">
    <title>자재 현황 조회</title>
</head>

<body>
    <div layout:fragment="content">
    	<div class="mt-3 mb-3">
    		<h3 class="fw-bold py-3"><span class="text-muted fw-light">자재 관리 /</span> 자재 현황 조회</h3>
		</div>
    	
    	   <div class="col-xl-6" style="width: 95%; margin: auto;">
          	<div class="nav-align-top mb-4">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab"
                  data-bs-target="#navs-top-home" aria-controls="navs-top-home" aria-selected="true">
                  입고
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                  data-bs-target="#navs-top-profile" aria-controls="navs-top-profile" aria-selected="false">
                  출고
                </button>
              </li>
			  <li class="nav-item">
                <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                  data-bs-target="#navs-top-profile2" aria-controls="navs-top-profile2" aria-selected="false">
                  반품
                </button>
              </li>
            </ul>
            
            <div class="tab-content">
              <div class="tab-pane fade show active" id="navs-top-home" role="tabpanel">

                <form id="storeSearch" method="post">

                  <div class="card-body">
                    <div class="row">
                      <div class="mb-3 row"
							style="justify-content: center; align-content: center;">
							<label class="col-sm-1" for="mtrl_store_code">자재코드</label>
							<div class="col-md-3">
								<input class="form-control" type="text" name="searchName" id="mtrl_store_code">
							</div>
							<div class="col-md-1">
							</div>
							<label class="col-sm-1" for="mtrl_store_name">자재명</label>
							<div class="col-md-3">
								<input class="form-control" type="text" name="searchName" id="mtrl_store_name">
							</div>
					  </div>
                      <div class="mb-3 row" style="justify-content: center;align-content: center;">
							<label class="col-sm-1">입고일자</label>
							<div class="col-sm-6 input-group" style="width: 805px;" >
								<input class="form-control" type="date" id="store_searchDate1" name="store_searchDate1">
								<span class="input-group-text">~</span>
								<input class="form-control" type="date" id="store_searchDate2" name="store_searchDate2">
							</div>
					  </div>
					  <div class="mb-3 row" style="justify-content: center;align-content: center;">
			                <label for="html5-search-input" class="col-sm-1">자재분류</label>
			                <div class="col-md-8">
			                  	<label class="form-check-label" for="mtrl_store_div">&nbsp&nbsp&nbsp전체 </label> 
								<input class="form-check-input" type="radio" value="" id="mtrl_store_div" name="store_searchSt" checked> 
								<label class="form-check-label" for="mtrl_store_div1" style="padding-left: 10px;">&nbsp&nbsp&nbsp&nbsp원자재 </label> 
								<input class="form-check-input" type="radio" value="원자재" id="mtrl_store_div1" name="store_searchSt"> 
								<label class="form-check-label" for="mtrl_store_div2" style="padding-left: 10px;">&nbsp&nbsp&nbsp&nbsp부자재 </label>
								<input class="form-check-input" type="radio" value="부자재" id="mtrl_store_div2" name="store_searchSt">
			                </div>
			          </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="html5-date-input" class="col-md-3 col-form-label"></label>
                      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <button type="reset" class="btn btn-secondary" id="storeResetBtn">초기화</button>
                        <button type="submit" class="btn btn-primary me-2" id="storeSearchBtn">검색</button>
                      </div>
                    </div>

                  </div>
                </form>


                
                <!-- 입고 목록 그리드 -->
                <div id="storeTable" class="mb-3">

                </div>

              </div>


              <div class="tab-pane fade" id="navs-top-profile" role="tabpanel">

                <form id="sendSearch">

                  <div class="card-body">
                    <div class="row">
                      <div class="mb-3 row"
							style="justify-content: center; align-content: center;">
							<label class="col-sm-1" for="mtrl_send_code">자재코드</label>
							<div class="col-md-3">
								<input class="form-control" type="text" name="searchName" id="mtrl_send_code">
							</div>
							<div class="col-md-1">
							</div>
							<label class="col-sm-1" for="mtrl_send_name">자재명</label>
							<div class="col-md-3">
								<input class="form-control" type="text" name="searchName" id="mtrl_send_name">
							</div>
					  </div>
                      <div class="mb-3 row" style="justify-content: center;align-content: center;">
							<label class="col-sm-1">출고일자</label>
							<div class="col-sm-6 input-group" style="width: 805px;" >
								<input class="form-control" type="date" id="send_searchDate1" name="send_searchDate1">
								<span class="input-group-text">~</span>
								<input class="form-control" type="date" id="send_searchDate2" name="send_searchDate2">
							</div>
					  </div>
					  <div class="mb-3 row" style="justify-content: center;align-content: center;">
			                <label for="html5-search-input" class="col-sm-1">자재분류</label>
			                <div class="col-md-8">
			                  	<label class="form-check-label" for="mtrl_send_div">&nbsp&nbsp&nbsp전체 </label> 
								<input class="form-check-input" type="radio" value="" id="mtrl_send_div" name="send_searchSt" checked> 
								<label class="form-check-label" for="mtrl_send_div1" style="padding-left: 10px;">&nbsp&nbsp&nbsp&nbsp원자재 </label> 
								<input class="form-check-input" type="radio" value="원자재" id="mtrl_send_div1" name="send_searchSt"> 
								<label class="form-check-label" for="mtrl_send_div2" style="padding-left: 10px;">&nbsp&nbsp&nbsp&nbsp부자재 </label>
								<input class="form-check-input" type="radio" value="부자재" id="mtrl_send_div2" name="send_searchSt">
			                </div>
			          </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="html5-date-input" class="col-md-3 col-form-label"></label>
                      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <button type="reset" class="btn btn-secondary" id="sendResetBtn">초기화</button>
                        <button type="submit" class="btn btn-primary me-2" id="sendSearchBtn">검색</button>
                      </div>
                    </div>

                  </div>
                </form>
                <!-- 출고 목록 그리드 -->
                <div id="sendTable" class="mb-3">

                </div>

              </div>

              <div class="tab-pane fade" id="navs-top-profile2" role="tabpanel">

                <form id="returnSearch">

                  <div class="card-body">
                    <div class="row">
                      <div class="mb-3 row"
							style="justify-content: center; align-content: center;">
							<label class="col-sm-1" for="mtrl_return_code">자재코드</label>
							<div class="col-md-3">
								<input class="form-control" type="text" name="searchName" id="mtrl_return_code">
							</div>
							<div class="col-md-1">
							</div>
							<label class="col-sm-1" for="mtrl_return_name">자재명</label>
							<div class="col-md-3">
								<input class="form-control" type="text" name="searchName" id="mtrl_return_name">
							</div>
					  </div>
                      <div class="mb-3 row" style="justify-content: center;align-content: center;">
							<label class="col-sm-1">반품일자</label>
							<div class="col-sm-6 input-group" style="width: 805px;" >
								<input class="form-control" type="date" id="return_searchDate1" name="return_searchDate1">
								<span class="input-group-text">~</span>
								<input class="form-control" type="date" id="return_searchDate2" name="return_searchDate2">
							</div>
					  </div>
					  <div class="mb-3 row" style="justify-content: center;align-content: center;">
			                <label for="html5-search-input" class="col-sm-1">자재분류</label>
			                <div class="col-md-8">
			                  	<label class="form-check-label" for="mtrl_return_div">&nbsp&nbsp&nbsp전체 </label> 
								<input class="form-check-input" type="radio" value="" id="mtrl_return_div" name="return_searchSt" checked> 
								<label class="form-check-label" for="mtrl_return_div1" style="padding-left: 10px;">&nbsp&nbsp&nbsp&nbsp원자재 </label> 
								<input class="form-check-input" type="radio" value="원자재" id="mtrl_return_div1" name="return_searchSt"> 
								<label class="form-check-label" for="mtrl_return_div2" style="padding-left: 10px;">&nbsp&nbsp&nbsp&nbsp부자재 </label>
								<input class="form-check-input" type="radio" value="부자재" id="mtrl_return_div2" name="return_searchSt">
			                </div>
			          </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="html5-date-input" class="col-md-3 col-form-label"></label>
                      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <button type="reset" class="btn btn-secondary" id="returnResetBtn">초기화</button>
                        <button type="submit" class="btn btn-primary me-2" id="returnSearchBtn">검색</button>
                      </div>
                    </div>

                  </div>
                </form>
                <!-- 반품 목록 그리드 -->
                <div id="returnTable" class="mb-3">

                </div>

              </div>

            </div>
          </div>
        </div>
    	
    	    <script>

    	  let storeCondition = { }
	      let sendCondition = { }
	      let returnCondition = { }
    	  getStoreList(storeCondition);
	      getSendList(sendCondition);
	      getReturnList(returnCondition);
	
	      // 입고목록 조건검색
	      storeSearch.onsubmit = async (e) => {
	        e.preventDefault();
	        console.log('입고 조건검색')
	
	        const mtCd = storeSearch.mtrl_store_code.value;
	        const mtName = storeSearch.mtrl_store_name.value;
	        const minDt = storeSearch.store_searchDate1.value;
	        const maxDt = storeSearch.store_searchDate2.value;
	        const mtDiv = document.querySelector('input[name="store_searchSt"]:checked').value;
	
	        let condition = { mtCd, mtName, minDt, maxDt, mtDiv };
	        console.log(condition);
	        
	        getStoreList(condition);
	      }
	
	      // 출고목록 조건검색
	      sendSearch.onsubmit = async (e) => {
	        e.preventDefault();
	        console.log('출고 조건검색')
	
	        const mtCd = sendSearch.mtrl_send_code.value;
	        const mtName = sendSearch.mtrl_send_name.value;
	        const minDt = sendSearch.send_searchDate1.value;
	        const maxDt = sendSearch.send_searchDate2.value;
	        const mtDiv = document.querySelector('input[name="send_searchSt"]:checked').value;
	
	        let condition = { mtCd, mtName, minDt, maxDt, mtDiv };
	        console.log(condition);
	        
	        getSendList(condition);
	      }
	      
	   	// 반품목록 조건검색
	      returnSearch.onsubmit = async (e) => {
	        e.preventDefault();
	        console.log('반품 조건검색')
	
	        const mtCd = returnSearch.mtrl_return_code.value;
	        const mtName = returnSearch.mtrl_return_name.value;
	        const minDt = returnSearch.return_searchDate1.value;
	        const maxDt = returnSearch.return_searchDate2.value;
	        const mtDiv = document.querySelector('input[name="return_searchSt"]:checked').value;
	
	        let condition = { mtCd, mtName, minDt, maxDt, mtDiv };
	        console.log(condition);
	        
	        getReturnList(condition);
	      }
	
	      // 입고 목록 불러오기
	      function getStoreList(condition){
		        let param = condition;
		        fetch("/ajax/storeList",{
		        	method:"post",
					headers: {
						"Content-Type": "application/json",
					},
					body:JSON.stringify(param)
				})
				.then(res => res.json())
				.then(res => table.setData(res))
		  }
	      
	      // 출고 목록 불러오기
	      function getSendList(condition){
	        let param = condition;
	        fetch("/ajax/sendList",{
	        	method:"post",
				headers: {
					"Content-Type": "application/json",
				},
				body:JSON.stringify(param)
			})
			.then(res => res.json())
			.then(res => table2.setData(res))
		}
	      
	   // 반품 목록 불러오기
	      function getReturnList(condition){
	        let param = condition;
	        fetch("/ajax/returnList",{
	        	method:"post",
				headers: {
					"Content-Type": "application/json",
				},
				body:JSON.stringify(param)
			})
			.then(res => res.json())
			.then(res => table3.setData(res))
		}
	
	
	      var table = new Tabulator("#storeTable", {
			    height:"100%",
			    pagination:"local",
			    paginationSize:6,
			    paginationSizeSelector:[3, 6, 8, 10, 30],
			    movableColumns:true,
			    paginationCounter:"rows",
			    rowHeader:{formatter:"rownum", headerSort:false, width:50, hozAlign:"center", resizable:false, frozen:true, vertAlign:"middle"},
			    columns:[
			        {title:"분류", field:"mtDiv", width:130, hozAlign:"center", vertAlign:"middle"},
			        {title:"자재코드", field:"mtCd", width:200, hozAlign:"center", vertAlign:"middle"}, 
			        {title:"자재명", field:"mtName", width:220, hozAlign:"center", vertAlign:"middle"}, 
			        {title:"입고수량", field:"strQt", width:148, hozAlign:"center", vertAlign:"middle"}, 
			        {title:"단위", field:"unit", width:148, hozAlign:"center", vertAlign:"middle"}, 
			        {title:"입고일자", field:"strCompdt", width:180, hozAlign:"center", vertAlign:"middle"},
			        {title:"담당자", field:"strChg", width:180, hozAlign:"center", vertAlign:"middle"}
			    ],
			});
	
	      var table2 = new Tabulator("#sendTable", {
			    height:"100%",
			    pagination:"local",
			    paginationSize:6,
			    paginationSizeSelector:[3, 6, 8, 10, 30],
			    movableColumns:true,
			    paginationCounter:"rows",
			    rowHeader:{formatter:"rownum", headerSort:false, width:50, hozAlign:"center", resizable:false, frozen:true, vertAlign:"middle"},
			    columns:[
			    	{title:"분류", field:"mtDiv", width:110, hozAlign:"center", vertAlign:"middle"},
			        {title:"자재코드", field:"mtCd", width:170, hozAlign:"center", vertAlign:"middle"}, 
			        {title:"자재명", field:"mtName", width:190, hozAlign:"center", vertAlign:"middle"}, 
			        {title:"출고수량", field:"sendQt", width:118, hozAlign:"center", vertAlign:"middle"}, 
			        {title:"단위", field:"unit", width:118, hozAlign:"center", vertAlign:"middle"}, 
			        {title:"LOT코드", field:"mtLot", width:180, hozAlign:"center", vertAlign:"middle"}, 
			        {title:"출고일자", field:"sendCompdt", width:160, hozAlign:"center", vertAlign:"middle"},
			        {title:"담당자", field:"sendChg", width:160, hozAlign:"center", vertAlign:"middle"}
			    ],
			});
	      
	      var table3 = new Tabulator("#returnTable", {
			    height:"100%",
			    pagination:"local",
			    paginationSize:6,
			    paginationSizeSelector:[3, 6, 8, 10, 30],
			    movableColumns:true,
			    paginationCounter:"rows",
			    rowHeader:{formatter:"rownum", headerSort:false, width:50, hozAlign:"center", resizable:false, frozen:true, vertAlign:"middle"},
			    columns:[
			    	{title:"분류", field:"mtDiv", width:130, hozAlign:"center", vertAlign:"middle"},
			        {title:"자재코드", field:"mtCd", width:200, hozAlign:"center", vertAlign:"middle"}, 
			        {title:"자재명", field:"mtName", width:220, hozAlign:"center", vertAlign:"middle"}, 
			        {title:"반품수량", field:"rtnQt", width:148, hozAlign:"center", vertAlign:"middle"}, 
			        {title:"단위", field:"unit", width:148, hozAlign:"center", vertAlign:"middle"}, 
			        {title:"반품일자", field:"rtnCompdt", width:180, hozAlign:"center", vertAlign:"middle"},
			        {title:"담당자", field:"rtnChg", width:180, hozAlign:"center", vertAlign:"middle"}
			    ],
			});
	
	      
	  	selectNav();
		
		function selectNav() {
			mainPage.classList.remove('active');
			mtrl.classList.add('active');
			mtrl.classList.add('open');
		    mtrl_situation.classList.add('active');
		}
		
	    </script>
    	
	</div>
</body>
</html>