<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>storing</title>
</head>
<body>
<div layout:fragment="content">
	<div class="mt-4 mb-5">
	  <h1>자재 입고 관리</h1>
	</div>
	
	<div class="mt-3 mb-4">
	  <h3>검사완료 원자재 목록</h3>
	</div>
	
	<div class="d-flex mt-1">
	  <div class="p-2 flex-grow-1"><h5>&nbsp&nbsp합격 목록</h5></div>
	  <div class="p-2"><button type="button" class="btn btn-primary" id="mtrlStroingBtn">입고 처리</button></div>
	</div>
	<div id="mtrl_pass_list">
	 	
	</div>
	
	<div class="d-flex mt-4">
	  <div class="p-2 flex-grow-1"><h5>&nbsp&nbsp불합격 목록</h5></div>
	  <div class="p-2"><button type="button" class="btn btn-warning" id="mtrlReturnBtn">반품 처리</button></div>
	</div>
	<div id="mtrl_fail_list">
	 	
	</div>
	
	<div class="d-flex mt-5">
	  <div class="p-2 flex-grow-1"><h3>부자재 목록</h3></div>
	  <div class="p-2"><button type="button" class="btn btn-primary" id="mtrlStroingBtn2">입고 처리</button></div>
	</div>
	<div class="mb-5" id="mtrl_subsidiary_list">
	 	
	</div>

	<script>
		// 합격 목록
		var table = new Tabulator("#mtrl_pass_list", {
		   height:"100%",
		   selectableRows:true,
		   pagination:"local",
		    paginationSize:6,
		    paginationSizeSelector:[3, 6, 8, 10],
		    movableColumns:true,
		    paginationCounter:"rows",
		    rowHeader:{headerSort:false, resizable: false, frozen:true, headerHozAlign:"center", hozAlign:"center", formatter:"rowSelection", titleFormatter:"rowSelection", cellClick:function(e, cell){
		        cell.getRow().toggleSelect();
		      }},
		    columns:[
		        {title:"자재코드", field:"mtCd", width:220, hozAlign:"center"},
		        {title:"자재명", field:"mtName", width:239, hozAlign:"center"}, 
		        {title:"수량", field:"placeodQt", width:210, hozAlign:"center"},
		        {title:"단위", field:"unit", width:210, hozAlign:"center"},
		        {title:"검사 완료일", field:"ckDt", width:230, hozAlign:"center", editor:"input"},
		        {title:"검사 담당자", field:"ckChg", width:230, hozAlign:"center"}
		    ],
		});
		
		// 불합격 목록
		var table2 = new Tabulator("#mtrl_fail_list", {
		   height:"100%",
		   selectableRows:true,
		   pagination:"local",
		    paginationSize:6,
		    paginationSizeSelector:[3, 6, 8, 10],
		    movableColumns:true,
		    paginationCounter:"rows",
		    rowHeader:{headerSort:false, resizable: false, frozen:true, headerHozAlign:"center", hozAlign:"center", formatter:"rowSelection", titleFormatter:"rowSelection", cellClick:function(e, cell){
		        cell.getRow().toggleSelect();
		      }},
		    columns:[
		        {title:"자재코드", field:"mtCd", width:220, hozAlign:"center"},
		        {title:"자재명", field:"mtName", width:239, hozAlign:"center"}, 
		        {title:"수량", field:"placeodQt", width:210, hozAlign:"center"},
		        {title:"단위", field:"unit", width:210, hozAlign:"center"},
		        {title:"검사 완료일", field:"ckDt", width:230, hozAlign:"center", editor:"input"},
		        {title:"검사 담당자", field:"ckChg", width:230, hozAlign:"center"}
		    ],
		});
		
		// 부자재 목록
		var table3 = new Tabulator("#mtrl_subsidiary_list", {
		   height:"100%",
		   selectableRows:true,
		   pagination:"local",
		    paginationSize:6,
		    paginationSizeSelector:[3, 6, 8, 10],
		    movableColumns:true,
		    paginationCounter:"rows",
		    rowHeader:{headerSort:false, resizable: false, frozen:true, headerHozAlign:"center", hozAlign:"center", formatter:"rowSelection", titleFormatter:"rowSelection", cellClick:function(e, cell){
		        cell.getRow().toggleSelect();
		      }},
		    columns:[
		        {title:"자재코드", field:"mtCd", width:220, hozAlign:"center"},
		        {title:"자재명", field:"mtName", width:239, hozAlign:"center"}, 
		        {title:"수량", field:"placeodQt", width:210, hozAlign:"center"},
		        {title:"단위", field:"unit", width:210, hozAlign:"center"},
		        {title:"자재 도착일", field:"placeodArridt", width:230, hozAlign:"center", editor:"input"},
		        {title:"발주 담당자", field:"placeodChg", width:230, hozAlign:"center"}
		    ],
		});
		
		
		
	</script>


</div>
</body>
</html>