<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theCaffeine.mes.comm.user.mapper.EnterpriseMapper">



<!-- 전체 기업 목록 -->
<select id="getEnterpriseList" resultType="EnterpriseVO">

	SELECT  ENTER_CD,
                ID,
                PW,
                BUSSNO,
                ENTER_NAME,
                CHG,
                MAIL,
                CEO,
                AUTH_NO,
                ST
	FROM ENTER
</select>

<!-- 아이디체크 조회 -->
<select id="idChk" parameterType="string" resultType="string">

 SELECT  	ID
	FROM ENTER
    WHERE ID= #{id}
</select>


<!-- 단건 조회 -->
<select id="getEnterInfo" parameterType="string" resultType="EnterpriseVO">

 SELECT  ENTER_CD,
                ID,
                PW,
                BUSSNO,
                ENTER_NAME,
                CHG,
                MAIL,
                CEO,
                AUTH_NO,
                ST
	FROM ENTER
    WHERE ENTER_CD= #{enterCd}
</select>

<!--  기업 회원 등록 -->
	<insert id="insertEnter" parameterType="EnterpriseVO">
		INSERT INTO ENTER
					(
					ENTER_CD,
	                ID,
	                PW,
	                BUSSNO,
	                ENTER_NAME,
	                CHG,
	                MAIL,
	                CEO
	               
					)
		    VALUES  (
		    		  SEQ_ENTER.nextval 
		    		,#{id}
		    		,#{pw}
		    		,#{bussno}
		    		,#{enterName}
		    		,#{chg}
		    		,#{mail}
		    		,#{ceo}
		    		)
	</insert>

<!-- 기업 삭제 -->

<delete id="deleteEnter" parameterType="String">
	DELETE FROM ENTER
	where ENTER_CD = #{enterCd}
</delete>

<!-- 기업 정보 수정 -->
<update id="updateEnter" parameterType="EnterpriseVO">
	UPDATE ENTER
	SET
					PW=#{pw},
	                BUSSNO=#{bussno},
	                ENTER_NAME=#{enterName},
	                CHG=#{chg},
	                MAIL=#{mail},
	                CEO=#{ceo}
	
	WHERE ENTER_CD = #{enterCd}
</update>

</mapper>