<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>standard.html</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>자재 검사</h1>
		<div id="QualityStandard"></div>

		<div class="demo-inline-spacing mt-3">
			<div class="list-group list-group-horizontal-md text-md-center">

				<a class="list-group-item list-group-item-action active"
					id="home-list-item" data-bs-toggle="list" href="#horizontal-home">검사대기</a>

				<a class="list-group-item list-group-item-action"
					id="profile-list-item" data-bs-toggle="list"
					href="#horizontal-profile">검사완료</a>
			</div>
			<button id="print-table">인쇄</button>
			<button id="download-pdf">PDF 다운로드</button>

			<div class="tab-content px-0 mt-0">
				<div class="tab-pane fade show active" id="horizontal-home">
					<div id="waiting-table"></div>
				</div>

				<div class="tab-pane fade" id="horizontal-profile">
					<div id="done-table"></div>
				</div>
			</div>
		</div>

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.20/jspdf.plugin.autotable.min.js"></script>
		<script>		
			//검사 대기 테이블 
			var table1 = new Tabulator("#waiting-table", {
				height : "311px",
				layout : "fitColumns",
				
				rowHeader : {
					headerSort : false,
					resizable : false,
					frozen : true,
					width:70,
					headerHozAlign : "center",
					hozAlign : "center",
					formatter : "rowSelection",
					titleFormatter : "rowSelection",
					cellClick : function(e, cell) {
						cell.getRow().toggleSelect();
						cell.style.width="70px";						
					}
				},
				
				pagination:"local",
			    paginationSize:10,
			    paginationSizeSelector:[5, 10, 15, 20],
			    movableColumns:true,
			    paginationCounter:"rows",

				columns : [ {
					title : "No",
					width : 70,
					field : "mtPlaceodCd"
				}, {
					title : "검사명",
					field : "ckName",
				}, {
					title : "제품명",
					field : "mtName"
				}, {
					title : "수량",
					width : 70,
					field : "placeodQt"
				}, {
					title : "거래처명",
					field : "cliName"
				}, {
					title : "발주 요청일",
					field : "placeodReqdt"
				}, {
					title : "발주 요청자",
					field : "placeodRequester"
				},],
			});
			
			
			
			//검사완료 테이블
			var table2 = new Tabulator("#done-table", {
				height : "311px",
				layout : "fitColumns",
				
				rowHeader : {
					headerSort : false,
					resizable : false,
					frozen : true,
					width:70,
					headerHozAlign : "center",
					hozAlign : "center",
					formatter : "rowSelection",
					titleFormatter : "rowSelection",
					cellClick : function(e, cell) {
						cell.getRow().toggleSelect();
					}
				},
				pagination:"local",
			    paginationSize:10,
			    paginationSizeSelector:[5, 10, 15, 20],
			    movableColumns:true,
			    paginationCounter:"rows",

				columns : [ {
					title : "No",
					width : 70,
					field : "name"
				}, {
					title : "발주완료일",
					field : "placeodCompdt",
				}, {
					title : "제품정보",
					field : "mtName"
				}, {
					title : "담당자",
					field : "rating"
				}, {
					title : "검사명",
					field : "col"
				}, {
					title : "결과",
					field : "dob"
				}, {
					title : "결과값",
					field : "dob"
				}, {
					title : "검사일",
					field : "dob"
				},{
					title : "담당자",
					field : "dob"
				},],
			});
			
			listWaiting();
			//listDone();
			
			//검사대기 목록 데이터
			function listWaiting(){
				fetch("/ajax/mtrlCheckList")
				.then(res => res.json())
				.then(res => table1.setData(res))
			}			
	
					
			
			//print button
			document.getElementById("print-table").addEventListener("click",
					function() {
						table1.print(false, true);
					});
			
			//trigger download of data.pdf file
			document.getElementById("download-pdf").addEventListener("click", function(){
			    table1.download("pdf", "data.pdf", {
			        orientation:"portrait", //set page orientation to portrait
			        title:"Example Report", //add title to report
			    });
			});
			</script>
	</div>
</body>
</html>