<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">

<head>
<meta charset="UTF-8">
<title>material.html</title>
</head>

<body>
	<div layout:fragment="content">	
		<h1>자재 검사</h1>
		<div class="demo-inline-spacing mt-3">
			<div class="list-group list-group-horizontal-md text-md-center">

				<a class="list-group-item list-group-item-action active"
					id="home-list-item" data-bs-toggle="list" href="#horizontal-home">검사대기</a>

				<a class="list-group-item list-group-item-action"
					id="profile-list-item" data-bs-toggle="list"
					href="#horizontal-profile">검사완료</a>
			</div>
			<button id="print-table">인쇄</button>
			<button id="download-pdf">PDF 다운로드</button>
		
		<div class="tab-content px-0 mt-0">
			<div class="tab-pane fade show active" id="horizontal-home">
				<div id="waiting-table"></div>
			</div>

			<div class="tab-pane fade" id="horizontal-profile">
				<div id="done-table"></div>
			</div>
		</div>


		<!-- Modal -->
		<div class="modal fade" id="basicModal" tabindex="-1"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel1">수분검사결과 (합격 기준은 11%~13% 입니다)</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col mb-3">
								<label for="result1" class="form-label">1차 결과</label> <input
									type="number" id="result1" class="form-control"
									placeholder="1차" />
							</div>
							<div class="col mb-3">
								<label for="result2" class="form-label">2차 결과</label> <input
									type="number" id="result2" class="form-control"
									placeholder="2차" />
							</div>
							<div class="col mb-3">
								<label for="result3" class="form-label">3차 결과</label> <input
									type="number" id="result3" class="form-control"
									placeholder="3차" />
							</div>
							<div class="col mb-3">
								<label for="result4" class="form-label">4차 결과</label> <input
									type="number" id="result4" class="form-control"
									placeholder="4차" />
							</div>
							<div class="col mb-3">
								<label for="result5" class="form-label">5차 결과</label> <input
									type="number" id="result5" class="form-control"
									placeholder="5차" />
							</div>
						</div>
						<div id="averageResult"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-secondary"
							data-bs-dismiss="modal">취소</button>
						<button type="button" class="btn btn-primary" id="confirm_button">저장</button>
					</div>
				</div>
			</div>
		</div>
</div>

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.20/jspdf.plugin.autotable.min.js"></script>



		<script>

        //검사 대기 테이블
        var table1 = new Tabulator("#waiting-table", {
          height: "500px",
          layout: "fitColumns",
          pagination: "local",
          paginationSize: 15,
          paginationSizeSelector: [5, 10, 15, 20],
          movableColumns: true,
          paginationCounter: "rows",

          columns: [{
            title: "No",
            headerHozAlign: "center",
            width: 60,
            hozAlign: "center",
            field: "mtCkNo"
          }, {
            title: "검사명",
            headerHozAlign: "center",
            width: 120,
            hozAlign: "center",
            field: "mcName",
          }, {
            title: "제품명",
            headerHozAlign: "center",
            field: "mtName"
          }, {
            title: "수량",
            headerHozAlign: "center",
            width: 70,
            hozAlign: "right",
            field: "placeodQt"
          }, {
            title: "거래처명",
            headerHozAlign: "center",
            field: "cliName"
          }, {
            title: "발주 요청일",
            headerHozAlign: "center",
            hozAlign: "center",
            field: "placeodReqdt"
          }, {
            title: "발주 요청자",
            headerHozAlign: "center",
            hozAlign: "center",
            field: "placeodRequester"
          }, {
            title: "발주 담당자",
            headerHozAlign: "center",
            hozAlign: "center",
            field: "placeodChg"
          },
          ],

        });

        //검사완료 테이블
        var table2 = new Tabulator("#done-table", {
          height: "500px",
          layout: "fitColumns",
          pagination: "local",
          paginationSize: 15,
          paginationSizeSelector: [5, 10, 15, 20],
          movableColumns: true,
          paginationCounter: "rows",

          columns: [{
            title: "No",
            headerHozAlign: "center",
            width: 60,
            hozAlign: "center",
            field: "mtCkNo"
          }, {
            title: "검사명",
            headerHozAlign: "center",
            width: 100,
            hozAlign: "center",
            field: "mcName",
          }, {
            title: "검사결과",
            headerHozAlign: "center",
            width: 90,
            hozAlign: "center",
            field: "mcRes",
          }, {
            title: "제품명",
            headerHozAlign: "center",
            field: "mtName"
          }, {
            title: "수량",
            headerHozAlign: "center",
            width: 70,
            hozAlign: "right",
            field: "placeodQt"
          }, {
            title: "거래처명",
            headerHozAlign: "center",
            field: "cliName"
          }, {
            title: "발주 요청일",
            headerHozAlign: "center",
            width: 110,
            hozAlign: "center",
            field: "placeodReqdt"
          }, {
            title: "발주 요청자",
            headerHozAlign: "center",
            width: 120,
            hozAlign: "center",
            field: "placeodRequester"
          }, {
            title: "발주 담당자",
            headerHozAlign: "center",
            width: 120,
            hozAlign: "center",
            field: "placeodChg"
          }, {
            title: "검사 담당자",
            headerHozAlign: "center",
            width: 120,
            hozAlign: "center",
            field: "ckChg"
          }, {
            title: "검사일",
            headerHozAlign: "center",
            width: 110,
            hozAlign: "center",
            field: "ckDt"
          }, {
            title: "삭제",
            headerHozAlign: "center",
            formatter: function(cell, formatterParams, onRendered) {
                return "<button class='btn btn-danger btn-sm'>삭제</button>";
              }, 
            width: 80, hozAlign: "center", cellClick: function (e, cell) {            	
              console.log(cell.getRow()._row.data.mtPlaceodCd);
              if (confirm("삭제하시겠습니까?")) {
                const mtPlaceodCd = cell.getRow()._row.data.mtPlaceodCd;
                let param = mtPlaceodCd;
                fetch("/ajax/deleteMtrlDoneList", {
                  method: "post",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: mtPlaceodCd
                })
                  .then(res => {
                    alert("삭제가 완료되었습니다.");
                    location.href = "/quality/material";
                    cell.getRow().delete();
                  })
              }
            }
          }
          ],

        });

        listWaiting();
        listDone();

        //검사대기 목록 데이터
        function listWaiting() {
          fetch("/ajax/mtrlCheckList")
            .then(res => res.json())
            .then(res => table1.setData(res))
        }

        //검사완료 목록 데이터
        function listDone() {
          fetch("/ajax/mtrlDoneList")
            .then(res => res.json())
            .then(res => table2.setData(res))
        }

        //인쇄 버튼
        document.getElementById("print-table").addEventListener("click",
          function () {
            table1.print(false, true);
          });      

        //pdf 다운로드 버튼
        document.getElementById("download-pdf").addEventListener("click", function () {
          table1.download("pdf", "data.pdf", {
            orientation: "portrait", // 페이지 방향을 세로로 설정
            title: "Example Report", // 보고서 제목 설정
          });
        });

        let averageFixed = "";
        let testResult = "";
        let letMtCkNo = "";
        let letMtPlaceodCd = "";
        //행 클릭시 모달창 출력
        table1.on("rowClick", function (e, row) {
          console.log(row.getData());
          letMtCkNo = row.getData().mtCkNo;
          letMtPlaceodCd = row.getData().mtPlaceodCd;
          const myModal = new bootstrap.Modal('#basicModal', {
            keyboard: false
          })
          const modalToggle = document.getElementById('basicModal');
          myModal.show(modalToggle);
        });
        // 확인 버튼 클릭 이벤트 처리
        document.getElementById("confirm_button").addEventListener("click", function () {
          // 모달 창에서 값을 가져오기
          var result1 = parseFloat(document.getElementById("result1").value);
          var result2 = parseFloat(document.getElementById("result2").value);
          var result3 = parseFloat(document.getElementById("result3").value);
          var result4 = parseFloat(document.getElementById("result4").value);
          var result5 = parseFloat(document.getElementById("result5").value);

          // 입력한 값이 비어 있는지 확인
          if (isNaN(result1) || isNaN(result2) || isNaN(result3) || isNaN(result4) || isNaN(result5)) {
            alert("모든 결과를 입력하세요.");
            return;
          }

          // 입력한 값들의 평균 계산
          averageFixed = ((result1 + result2 + result3 + result4 + result5) / 5).toFixed(2);


          // 평균을 확인 창에 표시
          var resultMessage = "입력한 검사결과의 평균은 " + averageFixed + "% 입니다.";

          // 검사 결과 계산

          if (averageFixed >= 11 && averageFixed <= 13) {
            testResult = "합격";
          } else {
            testResult = "불합격";
          }

          // 결과 메시지에 검사 결과 포함
          resultMessage += "\n검사 결과: " + testResult;

          // 결과 메시지를 평균 결과 창에 표시
          document.getElementById("averageResult").innerText = resultMessage;

        });

        confirm_button.addEventListener("click", e => {
          saveReq();
        })
        //검사값 디비 등록
        function saveReq() {
          const firstMc = result1.value;
          const secondMc = result2.value;
          const thirdMc = result3.value;
          const fourthMc = result4.value;
          const fifthMc = result5.value;
          const mcAvg = averageFixed;
          const mcRes = testResult;
          const mtCkNo = letMtCkNo;
          const mtPlaceodCd = letMtPlaceodCd;
          let param = { firstMc, secondMc, thirdMc, fourthMc, fifthMc, mcAvg, mcRes, mtCkNo, mtPlaceodCd };
          console.log(param);
          fetch("/ajax/updateMcRes", {
            method: "post",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(param)
          })
            .then(res => res.json())
            .then(res => {
              console.log(res);
              saveRes(res);
            });
        }

        // 등록 응답 처리
        function saveRes(res) {
          console.log(res)
          if (res >= 1) {
            alert("등록이 완료되었습니다!");
            location.href = "/quality/material";
          } else {
            alert("등록에 실패했습니다.");
          }
        }


    	selectNav();
    	
    	function selectNav() {
    		mainPage.classList.remove('active');
    		qlty.classList.add('active');
    		qlty.classList.add('open');
    		qlty_material.classList.add('active');
    	}





      </script>
	</div>


</body>

</html>