<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/index}">
<head>
<meta charset="UTF-8">
<title>process.html</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="nav-item d-flex align-items-center pagetitle">
		<div class="mt-3 mb-3 ">
			<div class="mt-3">
		    	<h3 class="fw-bold"><span class="text-muted fw-light">품질 관리 /</span> 공정 검사</h3>
		    </div>
	    </div>
	</div>
		<div id="QualityStandard"></div>
		<div class="demo-inline-spacing mt-3">
			<div class="list-group list-group-horizontal-md text-md-center">

				<a class="list-group-item list-group-item-action active"
					id="home-list-item" data-bs-toggle="list" href="#horizontal-home">검사대기</a>

				<a class="list-group-item list-group-item-action"
					id="profile-list-item" data-bs-toggle="list"
					href="#horizontal-profile">검사완료</a>
			</div>
			<button id="print-table">인쇄</button>
			<button id="download-pdf">PDF 다운로드</button>
		</div>
		<div class="tab-content px-0 mt-0">
			<div class="tab-pane fade show active" id="horizontal-home">
				<div id="waiting-table"></div>
			</div>

			<div class="tab-pane fade" id="horizontal-profile">
				<div id="done-table"></div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="basicModal" tabindex="-1"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel1">색도검사결과 (색도검사 합격 기준은 65~85 입니다.)</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col mb-3">
								<label for="result1" class="form-label">1차 결과</label> <input
									type="number" id="result1" class="form-control"
									placeholder="1차" />
							</div>
							<div class="col mb-3">
								<label for="result2" class="form-label">2차 결과</label> <input
									type="number" id="result2" class="form-control"
									placeholder="2차" />
							</div>
							<div class="col mb-3">
								<label for="result3" class="form-label">3차 결과</label> <input
									type="number" id="result3" class="form-control"
									placeholder="3차" />
							</div>
							<div class="col mb-3">
								<label for="result4" class="form-label">4차 결과</label> <input
									type="number" id="result4" class="form-control"
									placeholder="4차" />
							</div>
							<div class="col mb-3">
								<label for="result5" class="form-label">5차 결과</label> <input
									type="number" id="result5" class="form-control"
									placeholder="5차" />
							</div>
						</div>
						<div id="averageResult"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-secondary"
							data-bs-dismiss="modal">취소</button>
						<button type="button" class="btn btn-primary" id="confirm_button">저장</button>
					</div>
				</div>
			</div>
		</div>


		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.20/jspdf.plugin.autotable.min.js"></script>


		<script>
	//검사 대기 테이블
    var table1 = new Tabulator("#waiting-table", {
      height: "500px",
      layout: "fitColumns",
      pagination: "local",
      paginationSize: 15,
      paginationSizeSelector: [5, 10, 15, 20],
      movableColumns: true,
      paginationCounter: "rows",

      columns: [{
        title: "No",
        headerHozAlign: "center",
        width: 60,
        hozAlign: "center",
        field: "mfCkNo"
      }, {
        title: "검사명",
        headerHozAlign: "center",
        //width: 120,
        hozAlign: "center",
        field: "ccName",
      }, {
        title: "제품코드",
        headerHozAlign: "center",
        hozAlign: "center",
        field: "pdName"
      }, {
        title: "수량",
        headerHozAlign: "center",
        //width: 70,
        hozAlign: "right",
        field: "pdtQt"
      }, {
        title: "로스팅일",
        headerHozAlign: "center",
        hozAlign: "center",
        field: "rtDt"
      }, {
        title: "로스팅 담당자",
        headerHozAlign: "center",
        hozAlign: "center",
        field: "rtChg"
      },],

    });
	
  //검사완료 테이블
    var table2 = new Tabulator("#done-table", {
      height: "500px",
      layout: "fitColumns",
      pagination: "local",
      paginationSize: 15,
      paginationSizeSelector: [5, 10, 15, 20],
      movableColumns: true,
      paginationCounter: "rows",

      columns: [{
    	  title: "No",
          headerHozAlign: "center",
    	  hozAlign: "center",
          width: 60,
          field: "mfCkNo"
        }, {
          title: "검사명",
          headerHozAlign: "center",
          //width: 120,
          hozAlign: "center",
          field: "ccName",
        },{
           title: "검사결과",
           headerHozAlign: "center",
           //width: 100,
           hozAlign: "center",
           field: "mfckRes",
        }, {
          title: "제품코드",
          headerHozAlign: "center",
          hozAlign: "center",
          field: "pdName"
        }, {
          title: "수량",
          headerHozAlign: "center",
          //width: 70,
          hozAlign: "right",
          field: "pdtQt"
        }, {
          title: "로스팅일",
          headerHozAlign: "center",
          hozAlign: "center",
          field: "rtDt"
        }, {
          title: "로스팅 담당자",
          headerHozAlign: "center",
          hozAlign: "center",
          field: "rtChg"
      }, {
        title: "검사 담당자",
        headerHozAlign: "center",
        hozAlign: "center",
        field: "ckChg"
      }, {
        title: "검사일",
        headerHozAlign: "center",
        hozAlign: "center",
        field: "ckDt"
      }, 
      /*{title: "삭제", formatter: "buttonCross", width: 80, hozAlign: "center", cellClick: function (e, cell) {
          console.log(cell.getRow()._row.data.pdtInstDetailNo);
          if (confirm("삭제하시겠습니까?")) {
            const mfCkNo = cell.getRow()._row.data.mfCkNo;
            const pdtInstDetailNo = cell.getRow()._row.data.pdtInstDetailNo;
            let param = {"mfCkNo":mfCkNo , "pdtInstDetailNo" : pdtInstDetailNo};
            fetch("/ajax/deleteProcessDoneList", {
              method: "post",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(param)
            })
              .then(res => {
                alert("삭제가 완료되었습니다.");
                location.href = "/quality/process";
                cell.getRow().delete();
              })
          }
        }
      }*/
      ],

    });
	
    listWaiting();
    listDone();
	
    //검사대기 목록 데이터
    function listWaiting() {
          fetch("/ajax/processCheckList")
            .then(res => res.json())
            .then(res => table1.setData(res))
    }
  	//검사완료 목록 데이터
    function listDone() {
      fetch("/ajax/processDoneList")
        .then(res => res.json())
        .then(res => table2.setData(res))
    }
	
	//인쇄 버튼
    document.getElementById("print-table").addEventListener("click",
      function () {
        table1.print(false, true);
      });

    //pdf 다운로드 버튼
    document.getElementById("download-pdf").addEventListener("click", function () {
      table1.download("pdf", "data.pdf", {
        orientation: "portrait", // 페이지 방향을 세로로 설정
        title: "Example Report", // 보고서 제목 설정
      });
    });
    
    let averageFixed = "";
    let testResult = "";
    let letMfCkNo = "";
    let letCkSt = "";
    let pdtInstDetailNo = "";
    let tf = false;
    
  //행 클릭시 모달창 출력
    table1.on("rowClick", function (e, row) {
      console.log(row.getData());
      letMfCkNo = row.getData().mfCkNo;
      letCkSt = row.getData().ckSt;
      pdtInstDetailNo = row.getData().pdtInstDetailNo;
      const myModal = new bootstrap.Modal('#basicModal', {
        keyboard: false
      })
      const modalToggle = document.getElementById('basicModal');
      myModal.show(modalToggle);
    });
  
 // 확인 버튼 클릭 이벤트 처리
    document.getElementById("confirm_button").addEventListener("click", function () {
      // 모달 창에서 값을 가져오기
      var result1 = parseFloat(document.getElementById("result1").value);
      var result2 = parseFloat(document.getElementById("result2").value);
      var result3 = parseFloat(document.getElementById("result3").value);
      var result4 = parseFloat(document.getElementById("result4").value);
      var result5 = parseFloat(document.getElementById("result5").value);
	
      tf = false;
      
      // 입력한 값이 비어 있는지 확인
      if (isNaN(result1) || isNaN(result2) || isNaN(result3) || isNaN(result4) || isNaN(result5)) {
        alert("모든 결과를 입력하세요.");
        return;
      }else{
    	  tf = true;
      }

      // 입력한 값들의 평균 계산
      averageFixed = ((result1 + result2 + result3 + result4 + result5) / 5).toFixed(0);


      // 평균을 확인 창에 표시
      var resultMessage = "입력한 검사결과의 평균은 " + averageFixed + " 입니다.";

      // 검사 결과 계산
      if (averageFixed >= 65 && averageFixed <= 85) {
        testResult = "합격";
      } else {
        testResult = "불합격";
      }

      // 결과 메시지에 검사 결과 포함
      resultMessage += "\n검사 결과: " + testResult;

      // 결과 메시지를 평균 결과 창에 표시
      document.getElementById("averageResult").innerText = resultMessage;
		
      saveReq();
    });

    /*confirm_button.addEventListener("click", e => {
      //saveReq();
    })*/
    
    //검사값 디비 등록
        function saveReq() {
          const firstCc = result1.value;
          const secondCc = result2.value;
          const thirdCc = result3.value;
          const fourthCc = result4.value;
          const fifthCc = result5.value;
          const ccAvg = averageFixed;
          const mfckRes = testResult;
          const mfCkNo = letMfCkNo;
          const ckSt = letCkSt;
          //const pdtInstDetailNo = pdtInstDetailNo;
          let param = { firstCc, secondCc, thirdCc, fourthCc, fifthCc, ccAvg, mfckRes, mfCkNo, ckSt, pdtInstDetailNo };
          console.log(param);
          if(tf){
        	  if(mfckRes == "불합격"){
            	  fetch("/ajax/updateFailMfckRes", {
                      method: "post",
                      headers: {
                        "Content-Type": "application/json",
                      },
                      body: JSON.stringify(param)
                    })
                      .then(res => res.json())
                      .then(res => {
                        console.log(res);
                        saveRes(res);
                      });
              }else{
            	  fetch("/ajax/updateMfckRes", {
                      method: "post",
                      headers: {
                        "Content-Type": "application/json",
                      },
                      body: JSON.stringify(param)
                    })
                      .then(res => res.json())
                      .then(res => {
                        console.log(res);
                        saveRes(res);
                    }); 
          }
          }else{
        	  saveRes(0);
          }
        }

        // 등록 응답 처리
        function saveRes(res) {
          console.log(res)
          if (res >= 1 && tf == true) {
            alert("등록이 완료되었습니다!");
            location.href = "/qlty/process";
          } else {
            alert("등록에 실패했습니다.");
          }
        }
    
    	selectNav();
    	
    	function selectNav() {
    		mainPage.classList.remove('active');
    		qlty.classList.add('active');
    		qlty.classList.add('open');
    		qlty_process.classList.add('active');
    	}
    
	</script>
	</div>
</body>
</html>