<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theCaffeine.mes.qlty.mapper.QltyMapper">

	<select id="getMtrlCheckList" parameterType="QltyVO">
		SELECT p.mt_placeod_cd,
		       p.cli_cd,
		       p.mt_cd,
		       p.placeod_qt,
		       p.placeod_reqdt,
		       p.placeod_compdt,
		       p.placeod_requester,
		       p.placeod_chg,
		       p.placeod_st,
		       m.mt_name,
		       c.cli_name,
		       mc.mt_ck_no,
		       mc.mc_name
		  FROM mt_placeod p 
		  JOIN mt m ON p.mt_cd = m.mt_cd
		  JOIN cli c ON p.cli_cd = c.cli_cd
		  JOIN mt_ck mc ON p.mt_placeod_cd = mc.mt_placeod_cd
	     WHERE p.PLACEOD_ST = 4 
	  ORDER BY mc.mt_ck_no
	</select>
	
	<update id="updateMcRes" parameterType="QltyVO">
	     UPDATE mt_ck
	        SET first_mc = #{firstMc}
				,second_mc = #{secondMc}
				,third_mc = #{thirdMc}
				,fourth_mc = #{fourthMc}
				,fifth_mc = #{fifthMc}
				,mc_avg = #{mcAvg}
				,mc_res = #{mcRes}
				,ck_dt = sysdate
				,ck_chg = '김미영 대리'
		  WHERE mt_ck_no = #{mtCkNo}
	</update>
	
	<!-- 검사완료 후 placeod_st 값을 4에서 5로 변경 -->
	<update id="updatePlaceodSt" parameterType="String">
	    UPDATE mt_placeod
           SET PLACEOD_ST = 5
         WHERE mt_placeod_cd = #{mtPlaceodCd}
	</update>
	
	<select id="getMtrlDoneList" parameterType="QltyVO">
		SELECT p.mt_placeod_cd,
		       p.cli_cd,
		       p.mt_cd,
		       p.placeod_qt,
		       p.placeod_reqdt,
		       p.placeod_compdt,
		       p.placeod_requester,
		       p.placeod_chg,
		       p.placeod_st,
		       m.mt_name,
		       c.cli_name,
		       mc.mt_ck_no,
		       mc.mc_res,
		       mc.ck_chg,
		       mc.ck_dt,
		       mc.mc_name
		  FROM mt_placeod p 
		  JOIN mt m ON p.mt_cd = m.mt_cd
		  JOIN cli c ON p.cli_cd = c.cli_cd
		  JOIN mt_ck mc ON p.mt_placeod_cd = mc.mt_placeod_cd
	     WHERE p.PLACEOD_ST = 5 
	  ORDER BY mc.mt_ck_no DESC
	</select>
	
	<!-- 검사완료에서 삭제버튼 클릭시 검사대기 목록으로 이동 -->
	<delete id="deleteMtrlDoneList" parameterType="String">
		UPDATE mt_placeod
           SET PLACEOD_ST = 4
         WHERE mt_placeod_cd = #{mtPlaceodCd}
	</delete>
	

</mapper>