<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theCaffeine.mes.qlty.mapper.QltyMapper">

	<select id="getMtrlCheckList" parameterType="QltyVO">
		SELECT p.mt_placeod_cd,
		       p.cli_cd,
		       p.mt_cd,
		       p.placeod_qt,
		       p.placeod_reqdt,
		       p.placeod_compdt,
		       p.placeod_requester,
		       p.placeod_chg,
		       p.placeod_st,
		       m.mt_name,
		       c.cli_name
		  FROM mt_placeod p 
		  JOIN mt m ON p.mt_cd = m.mt_cd
		  JOIN cli c ON p.cli_cd = c.cli_cd
	     WHERE p.PLACEOD_ST=4 
	  ORDER BY p.mt_placeod_cd	        
	     <!-- 검사 완료 후 where절 상태값을 4에서 5로 바꿔줘야됨. -->
	</select>
	
	<insert id="insertMcRes" parameterType="QltyVO">
		INSERT INTO mt_ck
					(first_mc
					,second_mc
					,third_mc
					,fourth_mc
					,fifth_mc
					,mc_avg
					,mc_res
					,ck_dt
					<!-- ,ck_chg
					,pass_std -->
					)
			VALUES (
				   #{firstMc}
				   ,#{secondMc}
				   ,#{thirdMc}
				   ,#{fouthMc}
				   ,#{fifthMc}
				   ,#{mcAvg}
				   ,#{mcRes}
				   ,sysdate
				   <!-- ,#{ckChg}
				   ,#{passStd} -->
				   ) 
	</insert>
	
</mapper>